@import "src/_variables.scss";
.product-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 1.25rem;
  .product-card-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0.75rem;
    .product-image-wrap {
      cursor: pointer;
      position: relative;
      background-color: $gray-100;
      border-radius: $border-radius;
      .product-feature-image {
        position: relative;
        padding: 0.5rem;
        aspect-ratio: 1 / 1;
        width: 100%;
        max-height: 300px;
        overflow: hidden;
        display: flex;
        align-items: center;
        border-radius: 40px;
        .product-deal-tag {
          position: absolute;
          top: 12px;
          right: 12px;
          width: fit-content;
          height: fit-content;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 2px;
          padding-bottom: 2px;
          background: $promotion-text-color;
          border-radius: 16px;
          border: 0.5px $promotion-text-color solid;
          justify-content: center;
          align-items: center;
          gap: 10px;
          display: flex;
          p {
            color: $white;
            font-size: 12px;
            font-weight: 600;
            margin: 0;
          }
        }
        .product-image {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
    .product-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
      border-radius: $border-radius;
      .product-info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        .product-info-col {
          width: 100%;
          .product-brand {
            margin-bottom: 0.25rem;
          }
          .product-name {
            margin-bottom: 0.5rem;
            a {
              font-weight: 500;
              font-size: 1.25rem;
              color: $text;
              cursor: pointer;
              text-decoration: none;
              line-height: 1;
              display: inline-block;
              max-width: 100%; /* Ensure it doesn't overflow the container */
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              &:hover {
                text-decoration: underline;
              }
              @media (min-width: 1024px) {
                font-size: 20px;
              }
            }
          }
          .product-tags {
            margin-bottom: 0.75rem;
            display: flex;
            flex-wrap: wrap;
            gap: 6px;
            .tag {
              display: flex;
              gap: 10px;
              justify-content: center;
              align-items: center;
              min-width: 60px;
              padding: 0.25rem 0.5rem;
              background: $gray-200;
              border-radius: 16px;
              .tag-title {
                color: $gray-700;
                font-size: 12px;
                font-weight: 600;
                line-height: 1;
              }
            }
            .deal {
              background: $promotion-background-color;
              .tag-title {
                color: $promotion-text-color;
              }
            }
          }
          .product-features {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column; // Default to column
            gap: 10px;
            width: 100%;
            margin-bottom: 0.75rem;
            flex: 1;

            .feature {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 4px;

              p {
                color: $text;
                font-size: 14px;
                font-weight: 500;
                word-wrap: break-word;
                margin: 0;
              }
            }

            @media (min-width: 301px) {
              flex-direction: row; // Switch to row when width > 300px
              flex-wrap: wrap; // Ensure features don't overflow
            }
          }

          .product-price {
            display: flex;
            flex-direction: column;
            border-top: 1px solid $gray-200;
            padding-top: 0.75rem;
            .product-price-deal {
              color: $text;
              font-weight: 600;
              font-size: 20px;
              line-height: 1;
            }
            .product-price-list {
              color: $secondary-text;
              font-weight: 500;
              font-size: 15px;
              margin-right: 0.5rem;
              line-height: 1;
            }
            .product-price-deal-percentage {
              color: $promotion-text-color;
              font-weight: 500;
              font-size: 16px;
              line-height: 1;
            }
            .list-price-container {
              display: inline-block;
            }
          }
          .package-price {
            display: flex;
            flex-direction: column;
            gap: 0;
            width: 100%;
            justify-content: space-between;
            border-top: 1px solid $gray-200;
            padding-top: 0.75rem;
            .data-price-container {
              display: inline-flex;
              align-items: baseline;
              gap: 0.25rem;
              .data-price {
                color: $text;
                font-weight: 600;
                font-size: 20px;
                margin: 0 !important;
                line-height: 1;
              }
              .data-price-discount {
                font-weight: 500;
                font-size: 16px;
                color: $promotion-text-color;
              }
            }

            .data-price-label {
              font-size: 15px;
              font-weight: 500;
              margin-bottom: 0;
              color: $secondary-text;
            }
          }
        }
      }
    }
  }
}

.color-icon {
  width: 16px;
  height: 16px;
}
