<div class="banner">
  <div class="wrapper container">
    <div class="banner-body">
      <h1 class="banner-title">Consumibles</h1>
      <h5 class="banner-subtitle">
        Abastece tus Multifuncionales con Nuestros Consumibles de Calidad
      </h5>
      <shared-search-bar></shared-search-bar>
      <div class="category-list">
        <button
          class="category-button"
          *ngFor="let category of categories"
          (click)="navigateToProductList(category.category)"
        >
          <p>{{ category.name }}</p>
        </button>
        <button
          class="category-button-primary"
          (click)="navigateToProductList()"
        >
          <p>Ver Todos</p>
        </button>
      </div>
    </div>
  </div>
</div>

<section id="consumable-promotions">
  <div class="section-container">
    <div class="product-list" id="deal-consumables">
      <div class="promotion-header">
        <div class="promotion-title-container">
          <h1 class="section-title">Consumibles en Oferta</h1>
          <h5 class="section-subtitle">
            Encuentra los mejores precios en tintas, tóneres y más.
          </h5>
        </div>
        <div class="promotion-links">
          <button
            class="button button-outlined-primary button-rounded"
            routerLink="/promociones"
          >
            <span class="button-label">Ver Promociones</span>
          </button>
        </div>
      </div>
      <consumables-list [deals]="true"></consumables-list>
    </div>
    <div class="product-list" id="ink-consumables">
      <div class="promotion-header">
        <div class="promotion-title-container">
          <h1 class="section-title">Cartuchos de Tinta</h1>
          <h5 class="section-subtitle">
            Encuentra los mejores precios en tintas, tóneres y más.
          </h5>
        </div>
        <div class="promotion-links">
          <button
            class="button button-outlined-primary button-rounded"
            routerLink="/consumables/list"
          >
            <span class="button-label">Ver Consumibles</span>
          </button>
        </div>
      </div>
      <consumables-list
        [deals]="false"
        [categories]="['Cartucho de Tinta']"
      ></consumables-list>
    </div>
    <div class="product-list" id="toner-consumables">
      <div class="promotion-header">
        <div class="promotion-title-container">
          <h1 class="section-title">Cartuchos de Tóner</h1>
          <h5 class="section-subtitle">
            Encuentra los mejores precios en tintas, tóneres y más.
          </h5>
        </div>
        <div class="promotion-links">
          <button
            class="button button-outlined-primary button-rounded"
            routerLink="/consumables/list"
          >
            <span class="button-label">Ver Consumibles</span>
          </button>
        </div>
      </div>
      <consumables-list
        [deals]="false"
        [categories]="['Cartucho de tóner']"
      ></consumables-list>
    </div>
  </div>
</section>

<section class="aspectos-destacados">
  <div class="section-container">
    <div class="aspectos-title-container">
      <h1 class="section-title">Nuestro compromiso en venta y postventa</h1>
    </div>
    <div class="aspectos-carousel">
      <p-carousel
        [value]="aspectos"
        [numVisible]="1"
        [numScroll]="1"
        [circular]="true"
        [responsiveOptions]="responsiveOptionsAspectos"
        [showNavigators]="false"
        class="d-md-none"
      >
        <ng-template let-aspectos pTemplate="item">
          <div class="aspectos-card">
            <div class="title">
              <h3>{{ aspectos.title }}</h3>
            </div>
            <div class="body">
              <p>{{ aspectos.description }}</p>
            </div>
          </div>
        </ng-template>
      </p-carousel>
      <p-carousel
        [value]="aspectos"
        [numVisible]="1"
        [numScroll]="1"
        [circular]="true"
        [responsiveOptions]="responsiveOptionsAspectos"
        class="d-none d-md-block"
      >
        <ng-template let-aspectos pTemplate="item">
          <div class="aspectos-card">
            <h3 class="title">{{ aspectos.title }}</h3>
            <div class="body">
              <p>{{ aspectos.description }}</p>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</section>
