<div class="banner">
  <div class="wrapper">
    <div class="title">
      <h1>Consumibles</h1>
    </div>
    <div class="body">
      <p>
        Nuestro servicio de suministro de consumibles para multifuncionales le
        brinda acceso a cartuchos de tóner, cartuchos de impresión y otros
        consumibles de alta calidad, sin la necesidad de realizar grandes
        compras por adelantado o de mantener un inventario excesivo. Ya sea que
        necesite suministros para una pequeña oficina o para un entorno
        empresarial de gran volumen, nuestro servicio se adapta a sus requisitos
        específicos. Con entregas oportunas y precios competitivos, podemos
        ayudarlo a optimizar sus operaciones de impresión, reducir los costos
        generales y minimizar el desperdicio.
      </p>
    </div>
    <div class="backdrop">
      <h1>Consumibles</h1>
    </div>
  </div>
</div>

<section class="section-content" id="categorias">
  <div class="container">
    <div class="row">
      <p-carousel
        [value]="categories"
        [numVisible]="1"
        [numScroll]="1"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
        [showNavigators]="true"
      >
        <ng-template let-category pTemplate="item">
          <div
            class="category-card"
            (click)="navigateToProductList(category.name, true)"
          >
            <div class="image">
              <img [src]="category.img" alt="category.name" />
            </div>
            <div class="body">
              <h4 class="title mb-0">{{ category.name }}</h4>
              <i class="pi pi-arrow-right" id="translate-icon"></i>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</section>

<section class="aspectos-destacados">
  <div class="title">
    <h1>Aquí están los aspectos más destacados que nos distinguen</h1>
  </div>
  <div class="container">
    <div class="row">
      <p-carousel
        [value]="aspectos"
        [numVisible]="1"
        [numScroll]="1"
        [circular]="true"
        [responsiveOptions]="responsiveOptionsAspectos"
        [showNavigators]="false"
        class="d-md-none"
      >
        <ng-template let-aspectos pTemplate="item">
          <div class="aspectos-card">
            <div class="title">
              <h1>{{ aspectos.title }}</h1>
            </div>
            <div class="body">
              <p>{{ aspectos.description }}</p>
            </div>
          </div>
        </ng-template>
      </p-carousel>
      <p-carousel
        [value]="aspectos"
        [numVisible]="1"
        [numScroll]="1"
        [circular]="true"
        [responsiveOptions]="responsiveOptionsAspectos"
        class="d-none d-md-block"
      >
        <ng-template let-aspectos pTemplate="item">
          <div class="aspectos-card">
            <div class="title">
              <h1>{{ aspectos.title }}</h1>
            </div>
            <div class="body">
              <p>{{ aspectos.description }}</p>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</section>

<!-- <div class="white-space"></div> -->
