@import "src/styles.scss";
.banner {
  background-color: #781f41;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../../../assets/img/consumible-intro/consumible-banner.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  width: 100%;
  min-height: 400px;
  padding: 64px 12px 64px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  .banner-body {
    text-align: center;
    .banner-title {
      margin-bottom: 8px;
    }
    .banner-subtitle {
      color: $gray-200;
      margin-bottom: 1.5em;
      font-weight: 500;
    }
  }
}

.section-container {
  position: relative;
  width: 100%;
  max-width: $grid-max-width;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: $p-4 $p-2;
  @media (min-width: 768px) {
    padding: $p-4;
  }
}

.section-title {
  color: $text;
  margin-bottom: 0.25rem;
}

.section-subtitle {
  font-weight: 500;
  color: $secondary-text;
}

.carousel-container {
  width: 100%;
}

.category-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-top: 1rem;
  .category-button {
    padding: 0.5em 1.25em;
    border: 1px solid $gray-200;
    border-radius: 50px;
    background-color: rgba($color: $gray-50, $alpha: 0.1);
    p {
      color: $white;
      font-weight: 500;
      font-size: 14px;
      line-height: 1;
      margin: 0;
    }
    &:hover {
      background-color: rgba($color: $gray-50, $alpha: 0.2);
    }
    &-primary {
      padding: 0.5em 1.25em;
      border: 1px solid $blue-500;
      border-radius: 50px;
      background-color: rgba($color: $primary-color, $alpha: 0.8);
      p {
        color: $white;
        font-weight: 500;
        font-size: 14px;
        line-height: 1;
        margin: 0;
      }
      &:hover {
        background-color: rgba($color: $primary-color, $alpha: 0.2);
      }
    }
  }
}

.category-card {
  height: auto;
  width: 100%;
  background-color: #fff;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #cbd5e1;
  .image {
    background-color: #fff;
    width: 100%;
    height: 300px;
    border-radius: 6px 6px 0px 0px;
    overflow: hidden;
    display: flex;
    img {
      object-fit: scale-down;
      width: 100%;
      height: 300px;
    }
  }
  .body {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 17.5px;
    gap: 7px;
    width: 100%;
    height: 60px;
    cursor: pointer;
    /* light-50 */
    background: #f8fafc;
    border-top: 1px solid #cbd5e1;
    border-radius: 0px 0px 6px 6px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    .title {
      color: #1e293b;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
    }
  }
  &:hover {
    #translate-icon {
      transition: transform 0.2s ease-in-out;
      transform: translate(5px);
    }
    .body {
      background: $light-100;
    }
  }
}

:host ::ng-deep .p-carousel-item {
  max-height: 100%;
  padding: 10px;
}

:host ::ng-deep .p-carousel-indicator {
  .p-link {
    border-radius: 50% !important;
    height: 0.8rem !important;
    width: 0.8rem !important;
  }
}

:host ::ng-deep p-tabview.p-element {
  padding: 0;
  .p-tabview.p-component {
    border-radius: 6px;
    border: #dee2e6 1px solid;
  }
  .p-tabview-nav-container {
    border-radius: 6px 6px 0 0;
  }
  .p-tabview-panels {
    background-color: #fff;
  }
}

.aspectos-destacados {
  background: $light-50;
}

.aspectos-title-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1em;
}

.aspectos-card {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 32px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
  border-radius: 6px;
  border: 1px solid $gray-300;
  background: $white;
  .title {
    color: $text;
    font-family: Cera Pro;
    font-weight: 500;
    min-height: 65px;
  }
  p {
    color: $text;
    font-family: Cera Pro;
  }
}

.promotion-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  padding-bottom: 1rem;
  margin-bottom: 1em;
  border-bottom: 1px solid $gray-200;
  @media (min-width: 768px) {
    padding-bottom: 0rem;
  }
  .promotion-title-container {
    margin-bottom: 8px;
  }
  .promotion-links {
    display: flex;
    gap: 0.5em;
    @media (max-width: 768px) {
      width: 100%;
      button {
        width: 100%;
      }
    }
  }
}

.product-list {
  margin-bottom: 2rem;
}
