<div class="social-header">
  <div class="social-header-container">
    <div class="contact-info">
      <div class="phone-number">
        <div class="phone-number-container">
          <!-- <i class="pi pi-phone"></i> -->
          <span class="phone-label" style="font-weight: 500">MTY</span
          ><a class="phone-data" href="tel:8181143827">8181143827</a>
        </div>
      </div>
      <div class="phone-number">
        <div class="phone-number-container">
          <!-- <i class="pi pi-phone"></i> -->
          <span class="phone-label" style="font-weight: 500">CDMX</span
          ><a class="phone-data" href="tel:5559295976">5559295976</a>
        </div>
      </div>
    </div>

    <div class="location">
      <shared-location-selector-social-header></shared-location-selector-social-header>
    </div>
  </div>
</div>
