<div class="social-header">
    <div class="phone-number">
        <p>
            <span class="pi pi-phone" style="color: #fff; font-size: .8em; margin-right: 10px;"></span>
            <span style="font-weight: 500;">Monterrey</span><a href="tel:8181143827" style="color: #fff; margin-left: 5px;">8181143827</a>
        </p>
    </div>
    <div>
        <p>|</p>
    </div>
    <div class="phone-number">
        <p>
            <span class="pi pi-phone" style="color: #fff; font-size: .8em;  margin-right: 10px;"></span>
            <span style="font-weight: 500;">CDMX</span><a href="tel:5567946325" style="color: #fff; margin-left: 5px;">5567946325</a>
        </p>
    </div>
</div>