<section class="container-fluid">
  <div class="hero-container">
    <div class="row">
      <div class="col-12 p-0 d-lg-none">
        <img
          src="../../../assets/img/about_us/nosotros-hero-image.jpg"
          alt=""
        />
      </div>
      <div class="col-12 col-lg-8 p-0 d-none d-lg-block">
        <img
          src="../../../assets/img/about_us/AccurioPressC3080P.jpg"
          alt="gama-de-servicios"
        />
      </div>
      <div class="col-12 col-lg-4 p-0">
        <div class="hero-description">
          <h1 class="hero-title">30 años de experiencia</h1>
          <h3 class="hero-subtitle">
            En el mercado de fotocopiado e impresión
          </h3>
          <h5 class="hero-text">
            Como proveedor de productos líderes relacionados con la información
            de la imagen, nos consideramos como su socio competente para su
            negocio.
          </h5>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="company-values">
  <div class="container-fluid">
    <div class="row justify-content-around">
      <div class="col-12 col-md-6 col-lg-6 col-xl-4">
        <div class="mision">
          <h2>Misión</h2>
          <p>
            Como empresa digital con conocimiento de los desafíos que llevan
            ahora las empresas en materia de impresión nacional ofreciendo
            vanguardia tecnológica, seguridad y servicio. Ser innovadores para
            cualquier reto y estar en constante evolución.
          </p>
          <img src="../../../assets/svg/nosotros/flag.svg" alt="flag" />
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6 col-xl-4">
        <div class="vision">
          <h2>Visión</h2>
          <p>
            Ser reconocidos por nuestros clientes como empresa digital,
            utilizando tecnología de innovación, servicios de calidad y
            Soluciones tecnológicos, para añadir valor inigualable a las
            empresas y siempre enfocados a proteger nuestro medio ambiente.
          </p>
          <img src="../../../assets/svg/nosotros/target.svg" alt="target" />
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-12 col-xl-4">
        <div class="valores">
          <h2>Valores</h2>
          <div class="valores-list">
            <div class="valores-item">
              <p>Integridad</p>
            </div>
            <div class="valores-item">
              <p>Innovación</p>
            </div>
            <div class="valores-item">
              <p>Orientación al cliente</p>
            </div>
            <div class="valores-item">
              <p>Trabajo en equipo</p>
            </div>
            <div class="valores-item">
              <p>Responsabilidad</p>
            </div>
            <div class="valores-item">
              <p>Sostenibilidad</p>
            </div>
          </div>
          <img src="../../../assets/svg/nosotros/heart.svg" alt="heart" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid d-none d-md-flex">
  <div class="row">
    <div class="col-12 p-0">
      <div class="about-card">
        <div class="row">
          <div class="col-12 col-lg-6 p-0">
            <div class="img-container">
              <img
                src="../../../assets/img/about_us/gama-de-servicios.jpg"
                alt="gama-de-servicios"
              />
            </div>
          </div>
          <div class="col-12 col-lg-6 p-0">
            <div class="content">
              <h2>Gama de Servicios</h2>
              <p>
                Nuestra empresa ofrece una amplia gama de servicios, entre los
                que se incluyen la reparación, el mantenimiento y el alquiler de
                fotocopiadoras. Somos conscientes de la importancia de contar
                con equipos fiables en su oficina, y nos esforzamos por
                garantizar que sus fotocopiadoras funcionen sin problemas en
                todo momento.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-lg-block d-none col-12 p-0">
      <div class="about-card">
        <div class="row">
          <div class="col-12 col-lg-6 p-0">
            <div class="content">
              <h2>Servicio Técnico</h2>
              <p>
                Nuestro equipo está formado por técnicos certificados que tienen
                amplios conocimientos y experiencia trabajando con varias marcas
                y modelos de copiadoras. Tanto si necesita una reparación
                sencilla como una revisión completa de su sistema de copiadoras,
                contamos con los conocimientos y la experiencia necesarios para
                realizar el trabajo correctamente.
              </p>
            </div>
          </div>
          <div class="col-12 col-lg-6 p-0">
            <div class="img-container">
              <img
                src="../../../assets/img/about_us/servicio-tecnico.jpg"
                alt="servicio-tecnico"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-lg-none col-12 p-0">
      <div class="about-card">
        <div class="row">
          <div class="col-12 col-lg-6 p-0">
            <div class="img-container">
              <img
                src="../../../assets/img/about_us/servicio-tecnico.jpg"
                alt="servicio-tecnico"
              />
            </div>
          </div>
          <div class="col-12 col-lg-6 p-0">
            <div class="content">
              <h2>Servicio Técnico</h2>
              <p>
                Nuestro equipo está formado por técnicos certificados que tienen
                amplios conocimientos y experiencia trabajando con varias marcas
                y modelos de copiadoras. Tanto si necesita una reparación
                sencilla como una revisión completa de su sistema de copiadoras,
                contamos con los conocimientos y la experiencia necesarios para
                realizar el trabajo correctamente.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 p-0">
      <div class="about-card">
        <div class="row">
          <div class="col-12 col-lg-6 p-0">
            <div class="img-container">
              <img
                src="../../../assets/img/about_us/leasing.jpg"
                alt="leasing"
              />
            </div>
          </div>
          <div class="col-12 col-lg-6 p-0">
            <div class="content">
              <h2>Leasing</h2>
              <p>
                Ofrecemos opciones flexibles de leasing para las empresas que
                prefieren no comprar sus propias copiadoras. Nuestro programa de
                alquiler está diseñado para satisfacer las necesidades
                específicas de cada cliente, con opciones de alquiler a corto y
                largo plazo.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid d-flex d-md-none">
  <div class="row">
    <div class="cards-container">
      <div class="card-about">
        <div class="card-img-container">
          <img
            src="../../../assets/img/about_us/gama-de-servicios.jpg"
            alt="gama-de-servicios"
          />
        </div>
        <div class="card-content">
          <h2>Gama de Servicios</h2>
          <p>
            Nuestra empresa ofrece una amplia gama de servicios, entre los que
            se incluyen la reparación, el mantenimiento y el alquiler de
            fotocopiadoras. Somos conscientes de la importancia de contar con
            equipos fiables en su oficina, y nos esforzamos por garantizar que
            sus fotocopiadoras funcionen sin problemas en todo momento.
          </p>
        </div>
      </div>
      <div class="card-about">
        <div class="card-img-container">
          <img
            src="../../../assets/img/about_us/servicio-tecnico.jpg"
            alt="servicio-tecnico"
          />
        </div>
        <div class="card-content">
          <h2>Servicio Técnico</h2>
          <p>
            Nuestro equipo está formado por técnicos certificados que tienen
            amplios conocimientos y experiencia trabajando con varias marcas y
            modelos de copiadoras. Tanto si necesita una reparación sencilla
            como una revisión completa de su sistema de copiadoras, contamos con
            los conocimientos y la experiencia necesarios para realizar el
            trabajo correctamente.
          </p>
        </div>
      </div>
      <div class="card-about">
        <div class="card-img-container">
          <img src="../../../assets/img/about_us/leasing.jpg" alt="leasing" />
        </div>
        <div class="card-content">
          <h2>Leasing</h2>
          <p>
            Ofrecemos opciones flexibles de leasing para las empresas que
            prefieren no comprar sus propias copiadoras. Nuestro programa de
            alquiler está diseñado para satisfacer las necesidades específicas
            de cada cliente, con opciones de alquiler a corto y largo plazo.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
