<div class="promotion-container">
  <div class="box-container">
    <div class="swiper-container">
      <swiper-container class="promotion-swiper" [config]="config">
        <!-- Display skeleton card while loading -->
        <ng-container *ngIf="isLoading">
          <ng-template swiperSlide>
            <shared-skeleton-product-card></shared-skeleton-product-card>
          </ng-template>
          <ng-template swiperSlide>
            <shared-skeleton-product-card></shared-skeleton-product-card>
          </ng-template>
          <ng-template swiperSlide>
            <shared-skeleton-product-card></shared-skeleton-product-card>
          </ng-template>
        </ng-container>

        <!-- Display deals if available -->
        <ng-container *ngIf="!isLoading && dealRentPackagePrinters.length > 0">
          <ng-template *ngFor="let rentPackage of dealRentPackagePrinters">
            <swiper-slide>
              <div class="printer-product-card-container">
                <shared-package-rent-product-card
                  [rentPackage]="rentPackage"
                  style="width: 100%"
                ></shared-package-rent-product-card>
              </div>
            </swiper-slide>
          </ng-template>
        </ng-container>
      </swiper-container>
    </div>
  </div>
  <!-- Display no deals message if no deals are available -->
  <div
    class="not-found"
    *ngIf="!isLoading && dealRentPackagePrinters.length === 0"
  >
    <i class="pi pi-exclamation-triangle" style="font-size: 4rem"></i>
    <p>{{ noDealsMessage }}</p>
  </div>
</div>
