@import "../../../../variables";
.printer-product-card-container {
    display: flex;
    align-items: stretch;
    width: 100%;
}

.box-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .swiper-container {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        z-index: 1;
        height: 100%;
    }
}

.promotion-consumible-swiper {
    @import 'swiper/scss';
    @import 'swiper/scss/navigation';
    @import 'swiper/scss/pagination';
    @import 'swiper/scss/autoplay';
}

.swiper-wrapper {
    align-items: stretch;
    // padding: 0 3em;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-self: stretch; // Add this line
    // margin: 0px 16px;
    // margin-right: 0 !important;
}

.section-title {
    color: $text;
}

.promotion-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}