<section *ngIf="loading">
  <shared-skeleton-product-page></shared-skeleton-product-page>
</section>
<ng-container *ngIf="!loading">
  <section class="product-section">
    <div class="grid-section">
      <div class="product-image-container" *ngIf="consumable">
        <div class="product-image-inner">
          <div class="product-image">
            <div class="thumbs-swiper-container">
              <swiper-container
                appSwiper
                #thumbSwiperContainer
                [config]="thumbSwiperOptions"
                class="thumbsSwiper"
              >
                <ng-container *ngFor="let images of consumable?.img_url">
                  <swiper-slide class="thumbsSwiper-slide">
                    <img [src]="images" [alt]="consumable.name" />
                  </swiper-slide>
                </ng-container>
              </swiper-container>
            </div>
            <div class="main-swiper-container">
              <!-- <div class="product-deal-tag" *ngIf="consumable.deals.length > 0">
                <p class="deal-tag-title">
                  {{ consumable.deals[0].dealDiscountPercentage }}% Dto.
                </p>
              </div> -->
              <!-- <div class="swiper-fraction-pagination" *ngIf="paginationVisible">
                <p class="pagination-label">
                  {{ currentSlideIndex }} / {{ totalSlides }}
                </p>
              </div> -->
              <div class="main-page-buttons" *ngIf="images.length > 0">
                <button
                  (click)="goToPrev()"
                  [hidden]="!showNavigation || isBeginning"
                  [disabled]="isBeginning"
                  class="swiper-prev-button"
                >
                  <i class="pi pi-angle-left"></i>
                </button>
                <button
                  (click)="goToNext()"
                  [hidden]="!showNavigation || isEnd"
                  [disabled]="isEnd"
                  class="swiper-next-button"
                >
                  <i class="pi pi-angle-right"></i>
                </button>
              </div>
              <swiper-container
                appSwiper
                #mainSwiperContainer
                [config]="mainSwiperOptions"
                class="mainSwiper"
                [thumbs]="{ swiper: thumbSwiperContainer.swiper }"
              >
                <ng-container *ngFor="let images of consumable?.img_url">
                  <swiper-slide class="mainSwiper-slide">
                    <img
                      [src]="images"
                      [alt]="consumable.name"
                      class="swiper-image"
                    />
                  </swiper-slide>
                </ng-container>
              </swiper-container>
            </div>
          </div>
        </div>
      </div>
      <div class="product-info-container" *ngIf="consumable">
        <div class="product-info-column">
          <div class="product-info-inner">
            <div class="product-info-block heading-block">
              <div class="product-header">
                <div class="product-brand">
                  <div
                    class="Brand"
                    [innerHTML]="consumable.brand | productBrand"
                  ></div>
                </div>
                <h3 class="product-title">{{ consumable.name }}</h3>
                <div class="product-tags">
                  <div class="tag-deal" *ngIf="hasValidDeals(consumable.deals)">
                    <div class="tag-title">Promoción</div>
                  </div>
                  <div class="tag">
                    <div class="tag-title">{{ consumable.category }}</div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="product-price-container"
              *ngIf="hasValidDeals(consumable.deals)"
            >
              <div class="product-deal-price-container">
                <h2 class="product-deal-price">
                  {{ consumable.currency }}
                  {{
                    consumable.deals[0].dealPrice
                      | currency : "$" : "symbol" : "1.2-3"
                  }}
                </h2>
                <p class="product-discount">
                  ({{ consumable.deals[0].dealDiscountPercentage }}% dto.)
                </p>
              </div>
              <p class="product-price">
                Precio de lista:
                <span class="line-through"
                  >{{ consumable.currency }}
                  {{
                    consumable.price | currency : "$" : "symbol" : "1.2-3"
                  }}</span
                >
              </p>
            </div>
            <div class="actions-container">
              <button
                class="button button-primary button-rounded button-full"
                (click)="showDialog()"
              >
                <i class="pi pi-envelope"></i>
                <span class="button-label">Cotiza por Email</span>
              </button>
              <button
                *ngIf="!hasValidDeals(consumable.deals)"
                class="button button-success button-rounded button-full"
                style="background-color: #23d366 !important; color: #1f2937"
                (click)="openWhatsApp()"
              >
                <i class="pi pi-whatsapp"></i>
                <span class="button-label">Cotiza por Whatsapp</span>
              </button>
              <button
                *ngIf="hasValidDeals(consumable.deals)"
                class="button button-success button-rounded button-full"
                style="background-color: #23d366 !important; color: #1f2937"
                (click)="openWhatsAppDeal()"
              >
                <i class="pi pi-whatsapp"></i>
                <span class="button-label"
                  >Aplica la promoción por Whatsapp</span
                >
              </button>
            </div>
            <p-dialog
              header="Cotiza por Email"
              [modal]="true"
              [(visible)]="showDialogForm"
              [style]="{ width: '25rem' }"
            >
              <product-email-form
                [message]="
                  'Hola, quiero saber mas sobre el consumible: ' +
                  consumable.name
                "
                [product]="consumable.name"
                [productType]="'consumible'"
                class="w-100"
              >
              </product-email-form>
            </p-dialog>
            <div class="product-info-block">
              <div class="product-description">
                <p *ngIf="showMore; else shortDescription">
                  {{ consumable.longDescription }}
                </p>
                <ng-template #shortDescription>
                  <p>
                    {{ consumable.longDescription | slice : 0 : 500
                    }}<span *ngIf="consumable.longDescription.length > 500"
                      >...</span
                    >
                  </p>
                </ng-template>
                <a
                  style="font-weight: 600"
                  href="javascript:void(0)"
                  (click)="toggleShowMore()"
                  *ngIf="consumable.longDescription.length > 500"
                >
                  {{ showMore ? "Ver menos" : "Ver más" }}
                </a>
              </div>
            </div>
            <div class="product-info-block">
              <div class="product-specs">
                <div class="header-specs">
                  <h2>Especificaciones</h2>
                </div>
                <div class="body-specs">
                  <div class="spec">
                    <h5 class="spec-title">Color</h5>
                    <div [ngSwitch]="consumable.color">
                      <p *ngSwitchCase="'K'" class="spec-data-color">
                        <span
                          class="color-circle"
                          [ngStyle]="{ 'background-color': '#231f20' }"
                        ></span>
                        Negro
                      </p>
                      <p *ngSwitchCase="'M'" class="spec-data-color">
                        <span
                          class="color-circle"
                          [ngStyle]="{ 'background-color': '#ec008c' }"
                        ></span>
                        Magenta
                      </p>
                      <p *ngSwitchCase="'C'" class="spec-data-color">
                        <span
                          class="color-circle"
                          [ngStyle]="{ 'background-color': '#00aeef' }"
                        ></span>
                        Cyan
                      </p>
                      <p *ngSwitchCase="'Y'" class="spec-data-color">
                        <span
                          class="color-circle"
                          [ngStyle]="{ 'background-color': '#fff200' }"
                        ></span>
                        Amarillo
                      </p>
                      <p *ngSwitchDefault class="spec-data-color">B/N</p>
                    </div>
                  </div>
                  <div class="spec">
                    <h5 class="spec-title">SKU</h5>
                    <p class="spec-data">{{ consumable.sku }}</p>
                  </div>
                  <div class="spec">
                    <h5 class="spec-title">
                      Vida Útil &#64; 5%
                      <i
                        class="pi pi-info-circle"
                        pTooltip="El porcentaje de cobertura de tinta/tóner se refiere a la cantidad de área de una página que está cubierta por tinta/tóner. Un 5% de cobertura generalmente se asocia con documentos de texto estándar con poco o ningún gráfico, es decir, páginas que tienen texto impreso en la mayoría de su área, pero sin grandes imágenes o áreas sólidas de color."
                        tooltipPosition="right"
                      ></i>
                    </h5>

                    <p class="spec-data">
                      {{
                        consumable.yield | currency : " " : "symbol" : "1.0-0"
                      }}
                      páginas
                    </p>
                  </div>
                  <div class="spec">
                    <h5 class="spec-title">Volumen</h5>
                    <p class="spec-data">{{ consumable.volume }} g</p>
                  </div>
                  <!-- array of compatible models -->
                  <div class="spec">
                    <h5 class="spec-title">Modelos Compatibles</h5>
                    <ul class="spec-data">
                      <li
                        *ngFor="
                          let model of consumable.compatibleModels
                            .toString()
                            .split(',')
                        "
                      >
                        {{ model }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-related-consumables">
    <div class="related-consumables-container">
      <div class="header">
        <h2>Productos similares</h2>
      </div>
      <related-consumables-list
        [consumableProduct]="consumable"
      ></related-consumables-list>
    </div>
  </section>
</ng-container>
