<div class="swiper-container-wrapper">
  <ng-container *ngIf="isLoading">
    <swiper-container appSwiper #swiperContainer [config]="swiperOptions">
      <swiper-slide *ngFor="let i of [1, 2, 3, 4, 5]">
        <shared-skeleton-product-card></shared-skeleton-product-card>
      </swiper-slide>
    </swiper-container>
  </ng-container>

  <ng-container *ngIf="!isLoading && printers.length > 0">
    <div class="page-buttons">
      <button
        (click)="goToPrev()"
        [hidden]="!showNavigation || isBeginning"
        [disabled]="isBeginning"
        class="swiper-prev-button"
      >
        <i class="pi pi-arrow-left"></i>
      </button>
      <button
        (click)="goToNext()"
        [hidden]="!showNavigation || isEnd"
        [disabled]="isEnd"
        class="swiper-next-button"
      >
        <i class="pi pi-arrow-right"></i>
      </button>
    </div>
    <swiper-container appSwiper #swiperContainer [config]="swiperOptions">
      <ng-container *ngFor="let printer of printers">
        <swiper-slide>
          <shared-product-card [printer]="printer"></shared-product-card>
        </swiper-slide>
      </ng-container>
      <div class="swiper-scrollbar"></div>
    </swiper-container>
  </ng-container>

  <ng-container *ngIf="!isLoading && printers.length === 0">
    <div class="not-found">
      <i class="pi pi-exclamation-triangle"></i>
      <p>{{ noDealsMessage }}</p>
    </div>
  </ng-container>
</div>
