<div class="landing-container">
  <section class="hero-container">
    <div class="hero-message">
      <h1 class="title">Venta de Plotters e Impresoras de Gran Formato</h1>
      <div class="question-list">
        <div class="question">
          <i class="pi pi-question-circle"></i>
          <p>
            En tu imprenta están necesitando un plotter que les permita imprimir
            en lona, lona traslucida para la elaboración de panorámicos, viniles
            publicitarios, banners, agendas, grabados, etiquetas?
          </p>
        </div>
        <div class="question">
          <i class="pi pi-question-circle"></i>
          <p>
            Necesitas un equipo para personalización y diseño de camisetas y
            otros productos textiles?
          </p>
        </div>
        <div class="question">
          <i class="pi pi-question-circle"></i>
          <p>
            Eres una empresa constructora o inmobiliaria que requiere imprimir
            una gran cantidad de planos?
          </p>
        </div>

        <div class="question">
          <i class="pi pi-question-circle"></i>
          <p>
            Tu negocio es el diseño, elaboración y venta de etiquetas por lo que
            estas buscando un equipo que te permita la impresión con alta
            calidad de los mismos?
          </p>
        </div>
        <div class="question">
          <i class="pi pi-question-circle"></i>
          <p>
            Estas buscando un equipo de impresión de cama plana, en el que
            puedas imprimir en sustratos rígidos, así como en diferentes
            superficies (madera, azulejo, vidrio, plástico, metal, circuitos
            eléctricos, material de empaque, etc.)?
          </p>
        </div>
      </div>
      <div class="call-to-action">
        <h5 class="subtitle">En Fixsell estamos para servirte:</h5>
        <div class="action-buttons">
          <button
            (click)="callPhoneNumber()"
            class="button button-primary button-rounded button-raised"
          >
            <i class="pi pi-phone"></i>
            <span class="button-label">Llámanos</span>
          </button>
          <button
            routerLink="/contacto"
            class="button button-outlined-primary button-rounded"
          >
            <i class="pi pi-envelope"></i>
            <span class="button-label">Contáctanos</span>
          </button>
          <button
            (click)="
              navigateToProductListTypeCategory(['Cama Plana', 'Plotter'])
            "
            class="button button-outlined-secondary button-rounded"
          >
            <i class="pi pi-book"></i>
            <span class="button-label">Catálogo</span>
          </button>
        </div>
      </div>
    </div>
    <div class="hero-image-container">
      <img
        class="image-mobile"
        src="../../../../../assets/img/marketing-landing-pages/Epson-SureColor-V7000-Front.png"
        alt="accuriopress-6136-top-full"
      />
      <img
        class="image-desktop"
        src="../../../../../assets/img/marketing-landing-pages/epson-surecolor-v7000.jpg"
        alt="bizhub-450i"
      />
    </div>
  </section>
  <section class="promotion-container">
    <div class="promotion-header">
      <div class="promotion-title-container">
        <h2 class="section-title">
          Plotters e Impresoras de Gran Formato en Oferta
        </h2>
        <h5 class="section-subtitle">
          Impresiones de gran escala y precisión, perfectas para proyectos
          exigentes.
        </h5>
      </div>
      <div class="promotion-links">
        <button
          class="button button-outlined-primary button-rounded"
          routerLink="/promociones"
        >
          <span class="button-label">Ver Promociones</span>
        </button>
      </div>
    </div>
    <printer-promotion-list
      [categories]="['Plotter', 'Cama Plana']"
      [requireDeals]="true"
    ></printer-promotion-list>
  </section>
  <section class="rent-or-sale-container">
    <div class="promo-card">
      <div class="promo-card-content">
        <div class="promo-card-image">
          <img
            src="../../../../../assets/img/marketing-landing-pages/ECOSYS-M6630cidn-left.png"
            alt="ECOSYS-M3645idn-side"
          />
        </div>
        <div class="promo-card-info">
          <h3 class="promo-card-title">
            Requieres nuevos equipos en venta para tu empresa?
          </h3>
          <p class="promo-card-subtitle">
            ¡Conoce más y explora la alta variedad de multifuncionales en
            nuestro catalogo!
          </p>
          <button
            class="button button-secondary button-rounded button-raised"
            (click)="navigateToProductListType('sellable')"
          >
            <i class="pi pi-print"></i>
            <span class="button-label">Equipos en Venta</span>
          </button>
        </div>
      </div>
    </div>
    <div class="promo-card">
      <div class="promo-card-content">
        <div class="promo-card-image">
          <img
            src="../../../../../assets/img/marketing-landing-pages/TASKalfa-308ci-front.png"
            alt="ECOSYS-M3645idn-side"
          />
        </div>
        <div class="promo-card-info">
          <h3 class="promo-card-title">
            Interesado en nuestros equipos en renta?
          </h3>
          <p class="promo-card-subtitle">
            Impresoras remanufacturadas con garantía y servicio técnico
          </p>
          <button
            class="button button-secondary button-rounded button-raised"
            (click)="navigateToProductListType('rentable')"
          >
            <i class="pi pi-shopping-bag"></i>
            <span class="button-label">Equipos en Renta</span>
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
