@import "../../../../../variables";

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-container {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.hero-message {
  width: 100%;
  .title {
    margin-bottom: 1.5rem;
  }
  .subtitle {
    margin-bottom: 1rem;
  }
  .question-list {
    .question {
      margin-bottom: 1rem;
      display: flex;
      gap: 0.5rem;
      align-items: center;
      i {
        font-size: 1.25rem;
      }

      p {
        margin: 0;
      }
    }
  }
  .call-to-action {
    margin-top: 2rem;
    .action-buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      @media (max-width: 425px) {
        button {
          width: 100%;
        }
      }
    }
  }
}

.hero-image-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 650px;

  .image-mobile,
  .image-desktop {
    width: 100%;
    height: 100%;
    object-fit: cover; // Ensure the image covers the parent div
    border-radius: 10px;
  }

  .image-mobile {
    display: none;
  }

  .image-desktop {
    display: block;
  }

  @media (max-width: 768px) {
    order: -1; // Move the image to the top
    .image-mobile {
      display: block;
    }
    .image-desktop {
      display: none;
    }
  }
}

.section-container {
  position: relative;
  width: 100%;
  max-width: $grid-max-width;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: $p-4 $p-2;
  @media (min-width: 768px) {
    padding: $p-4;
  }
}

.section-title {
  color: $text;
}

.section-subtitle {
  font-weight: 500;
  color: $secondary-text;
  margin: 0;
}

.promotion-container {
  width: 100%;
}

.promotion-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  padding-bottom: 1rem;
  margin-bottom: 1em;
  border-bottom: 1px solid $gray-200;
  @media (min-width: 768px) {
    padding-bottom: 0rem;
  }
  .promotion-title-container {
    margin-bottom: 8px;
  }
  .promotion-links {
    display: flex;
    gap: 0.5em;
    @media (max-width: 768px) {
      width: 100%;
      button {
        width: 100%;
      }
    }
  }
}

.promo-card-subtitle {
  font-weight: 500;
  color: $secondary-text;
  margin-bottom: 0.5rem;
}

.rent-or-sale-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.promo-card {
  border: 1px solid $gray-200;
  padding: 1rem;
  border-radius: $border-radius;
  height: fit-content;
  background-color: $gray-50;

  .promo-card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    min-height: 230px;
  }
}

.promo-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  max-width: 450px;
  min-height: 200px;
  .promo-card-title {
    margin-bottom: 0;
  }
  button {
    width: 100%;
    @media (min-width: 1024px) {
      width: fit-content;
    }
  }
  @media (min-width: 768px) {
    align-items: flex-start;
  }
}

.promo-card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 250px;
    max-height: 250px;
    aspect-ratio: 1 / 1;
  }
}
