@import "../../../../variables";
.message-success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
    height: 100%;
    i {
        color: $green-500;
    }
    h5 {
        color: $text;
    }
    p {
        text-align: center;
        color: $secondary-text;
    }
}

.message-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
    height: 100%;
    i {
        color: $red-500;
    }
    h5 {
        color: $text;
    }
    p {
        text-align: center;
        color: $secondary-text;
    }
}