<div class="search-box">
    <form class="search-form">
        <div class="search-form-container" autocomplete="none">
            <div id="search-icon" *ngIf="isInputFocused">
                <i class="pi pi-search"></i>
            </div>
            <div class="search-input">
                <input id="search" type="text" [(ngModel)]="searchQuery" (input)="onInputChange()" autocapitalize="off" role="presentation" autocomplete="off" autocorrect="off" name="hidden" tabindex="0" spellcheck="false" placeholder="Buscar" aria-label="Buscar" aria-haspopup="false"
                    autofocus="" role="combobox" aria-autocomplete="both" (focus)="isInputFocused = true;" (blur)="isInputFocused = false;">

            </div>
            <div class="search-clear-button" *ngIf="searchQuery.length > 0" (click)="clearSearch()">
                <i class="pi pi-times"></i>
            </div>
        </div>
    </form>
    <!-- <button>
        <i class="pi pi-search"></i>
    </button> -->
</div>