@import "../../../../variables";

.location-selector {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.location-selector-label {
  margin-right: 0.5rem;
  margin-bottom: 0;
  line-height: 1;
  font-size: 15px;
  font-weight: 500;
}

:host ::ng-deep .p-dropdown .p-dropdown-label {
  color: $text;
  font-size: 15px;
  font-weight: 500;
  height: fit-content;
}

:host ::ng-deep .p-dropdown {
  background-color: transparent;
  border-color: $gray-400;
}

:host ::ng-deep .p-dropdown .p-dropdown-panel .p-dropdown-items {
  padding: 0;
}

:host ::ng-deep .p-dropdown .p-dropdown-trigger {
  color: $text; /* Change dropdown icon color to white */
}
