<p-menubar [model]="items" [autoDisplay]="true">
  <ng-template pTemplate="start">
    <img
      src="assets/logo/logo-navbar.svg"
      style="cursor: pointer"
      width="200"
      class="ms-2"
      routerLink=""
    />
  </ng-template>
  <ng-template #item let-item let-root="root">
    <a pRipple class="flex items-center p-menubar-item-link">
      <span>{{ item.label }}</span>
      <p-badge
        *ngIf="item.badge"
        [ngClass]="{ 'ml-auto': !root, 'ml-2': root }"
        [value]="item.badge"
      />
      <span
        *ngIf="item.shortcut"
        class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1"
        >{{ item.shortcut }}</span
      >
      <i
        *ngIf="item.items"
        [ngClass]="['ml-auto pi', root ? 'pi-angle-down' : 'pi-angle-right']"
      ></i>
    </a>
  </ng-template>
  <!-- <ng-template pTemplate="end">
    <shared-location-selector class="ms-5"></shared-location-selector>
  </ng-template> -->
  <ng-template pTemplate="menuicon">
    <i class="pi pi-bars"></i>
  </ng-template>
</p-menubar>
