<div class="container">
  <div class="row py-5">
    <div class="col-12">
      <div class="col-12 mb-5">
        <div class="img-container">
          <!-- <img src="../../../assets/img/aviso-de-privacidad/aviso-de-privacidad.jpg" alt=""> -->
        </div>
      </div>
      <div class="col-12">
        <h1>Aviso de Privacidad</h1>
        <br />
        <h5>
          Con fundamento en los artículos 15 y 16 de la Ley Federal de
          Protección de Datos Personales en Posesión de Particulares hacemos de
          su conocimiento que:
        </h5>
        <p>
          FIXSELL DEL NORTE, S.A. de C.V, con domicilio en RAFAEL PLATON SANCHEZ
          NORTE #721, COLONIA CENTRO, MONTERREY, NUEVO LEÓN, CP. 66600, MÉXICO,
          es responsable de recabar sus datos personales, del uso que se le dé a
          los mismos y de su protección.
        </p>
        <h5>
          Su información personal será utilizada para las siguientes
          finalidades:
        </h5>
        <p>
          Principalmente para la realización y manejo de solicitud de
          cotizaciones, elaboración de pedidos, para la elaboración de sus
          facturas fiscales correspondientes a compra de productos y/o
          servicios, además de proveer los servicios y productos que ha
          solicitado; notificarle sobre nuevos servicios o productos que tengan
          relación con los ya contratados o adquiridos; comunicarle sobre
          cambios en los mismos; elaborar estudios y programas que son
          necesarios para determinar hábitos de consumo; realizar evaluaciones
          periódicas de nuestros productos y servicios a efecto de mejorar la
          calidad de los mismos; evaluar la calidad del servicio que brindamos,
          y en general, para dar cumplimiento a las obligaciones que hemos
          contraído con usted.
        </p>
        <h5>
          Para las finalidades señaladas en el presente aviso de privacidad,
          podemos recabar sus datos personales de distintas formas:
        </h5>
        <ul>
          <li>Vía electrónica (web, e-mail, chat, encuestas en línea, etc.)</li>
          <li>Telefónicamente</li>
          <li>
            En presencia del titular de los datos (exposiciones, cursos, etc.)
          </li>
          <li>Actividades de promoción</li>
          <li>Encuestas en nuestro domicilio de trabajo.</li>
        </ul>
        <h5>
          Para las finalidades antes mencionadas, requerimos obtener (todos o
          alguno de) los siguientes datos personales:
        </h5>
        <ul>
          <li>Nombre</li>
          <li>Nombre del representante legal</li>
          <li>Apellido Paterno</li>
          <li>Apellido Materno</li>
          <li>Teléfono</li>
          <li>Celular</li>
          <li>E-mail</li>
          <li>RFC</li>
          <li>CURP</li>
          <li>Dirección</li>
          <li>Código Postal</li>
          <li>Edad</li>
        </ul>
        <p>
          Usted tiene derecho de acceder, rectificar y cancelar sus datos
          personales, así como de oponerse al tratamiento de los mismos o
          revocar el consentimiento que para tal fin nos haya otorgado, a través
          de los procedimientos que hemos implementado. Para conocer dichos
          procedimientos, los requisitos y plazos, se puede poner en contacto
          con nosotros en nuestro departamento de datos personales en RAFAEL
          PLATON SANCHEZ NORTE #721, COLONIA CENTRO, MONTERREY, NUEVO LEÓN, CP.
          66600, MÉXICO, al teléfono
          <a href="tel:8181143827">81 8114 3827</a>, o por correo electrónico a
          <a
            href="mailto:privacidad@fixsell.mx?subject=Duda Aviso de Privacidad"
            >privacidad@fixsell.mx</a
          >, redactando y enviándonos un correo electrónico en español, el cual
          solicitamos lo confirme a nuestro encargado del departamento de datos
          personales vía telefónica para garantizar su correcta recepción, o
          visitar nuestra página de Internet
          <a href="www.fixsell.com">www.fixsell.com</a>
        </p>
        <p>
          Asimismo, le informamos que sus datos personales pueden ser
          transferidos y tratados dentro y fuera del país, por personas
          distintas a esta empresa. En ese sentido, su información puede ser
          compartida con personas, empresas u organismos distintos, para las
          finalidades antes expuestas.
        </p>
        <p>
          Si usted no manifiesta su oposición para que sus datos personales sean
          transferidos, se entenderá que ha otorgado su consentimiento para
          ello.
        </p>
        <p>
          Si usted desea dejar de recibir mensajes promocionales de nuestra
          parte puede solicitarlo a través del teléfono 81 8114 3827, por correo
          electrónico a
          <a
            href="mailto:privacidad@fixsell.mx?subject=Duda Aviso de Privacidad"
            >privacidad@fixsell.mx</a
          >, redactando y enviándonos un correo electrónico en español, el cual
          solicitamos lo confirme a nuestro encargado del departamento de datos
          personales vía telefónica para garantizar su correcta recepción, o
          entregando su solicitud por escrito y en español en el siguiente
          domicilio RAFAEL PLATON SANCHEZ NORTE #721, COLONIA CENTRO, MONTERREY,
          NUEVO LEÓN, CP. 66600, MÉXICO.
        </p>
        <p>
          Cualquier modificación a este aviso de privacidad podrá consultarla en
          <a href="www.fixsell.com/aviso-de-privacidad"
            >www.fixsell.com/aviso-de-privacidad</a
          >
        </p>
        <small class="mt-3"
          ><b>Última fecha de actualización:</b> 20 de Marzo 2024, 04:13
          PM</small
        >
      </div>
    </div>
  </div>
</div>
