.ProductCard {
    width: 100%;
    height: 550px;
    background: white;
    border-radius: 6px;
    border: 0.50px #E2E8F0 solid;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    .Header {
        width: 100%;
        height: 100px;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 16px;
        padding-bottom: 16px;
        background: #F8FAFC;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border: 0.50px #E2E8F0 solid;
        .HeaderTitle {
            width: 100%;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            display: flex;
            flex-direction: column;
            .ModelBrand {
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                display: flex;
                .Brand img {
                    width: 100px;
                    height: 25px;
                    position: relative
                }
                .TypeBlob {
                    width: 50px;
                    height: fit-content;
                    align-self: stretch;
                    padding-left: 8px;
                    padding-right: 8px;
                    padding-top: 6px;
                    padding-bottom: 6px;
                    background: #FFA7B8;
                    border-radius: 8px;
                    border: 0.50px #FFA7B8 solid;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    display: flex;
                    .Renta {
                        color: #EC4769;
                        font-size: 1rem;
                        font-family: Cera Pro;
                        font-weight: 700;
                        word-wrap: break-word;
                        height: auto;
                    }
                }
            }
            .Model {
                width: 100%;
                color: #1E293B;
                font-size: 24px;
                font-family: Cera Pro;
                font-weight: 700;
                word-wrap: break-word;
            }
        }
    }
    .Body {
        width: 100%;
        height: 450px;
        padding: 24px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        display: flex;
        .ImageContainer {
            max-width: 300px;
            height: 300px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            display: flex;
        }
        .DetailsContainer {
            width: 100%;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            // padding-bottom: 16px;
            display: flex;
            .FeatureList {
                justify-content: flex-start;
                align-items: center;
                gap: 16px;
                display: inline-flex;
                .Feature {
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    display: flex;
                    .ColorCircle {
                        width: 20px;
                        height: 20px;
                        background: conic-gradient(from 180deg at 0.00% 100.00%, #FF0000 0deg, #FF7A1A 37deg, #FFF730 67deg, #90FF4B 106deg, #66FF6C 144deg, #00FF75 174deg, #00FFE0 198deg, #00B2FF 226deg, #0038FF 249deg, #2400FF 279deg, #AF06FF 301deg, #FF00D6 324deg, #FF002E 360deg);
                        border-radius: 9999px;
                    }
                    .BlackCircle {
                        width: 20px;
                        height: 20px;
                        background: conic-gradient(from 180deg at 0.00% 100.00%, black 0deg, white 360deg);
                        border-radius: 9999px;
                    }
                    p {
                        color: #1E293B;
                        font-size: 14px;
                        font-family: Cera Pro;
                        font-weight: 700;
                        word-wrap: break-word;
                        margin: 0;
                    }
                }
            }
        }
        .ActionContainer {
            width: 100%;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            display: flex;
        }
    }
}