<div class="product-card">
  <div
    class="product-card-container"
    [routerLink]="['/printers', printer.id]"
    (click)="logPrinter()"
  >
    <div class="product-image-wrap">
      <div class="product-feature-image">
        <img [src]="printer.img_url[0]" alt="" class="product-image" />
      </div>
    </div>
    <div class="product-info">
      <div class="product-info-col">
        <div
          class="product-brand"
          [innerHTML]="printer.brand | brandType"
        ></div>
        <p class="product-name">{{ printer.model }}</p>
        <div class="product-tags">
          <div [innerHTML]="printer.rentable | productType"></div>
          <div class="tag">
            <div class="tag-title">{{ printer.category }}</div>
          </div>
        </div>
        <div class="product-features">
          <div class="feature">
            <div
              [class]="
                printer.color | productColorIcon : 'ColorCircle' : 'BlackCircle'
              "
            ></div>
            <p>{{ printer.color ? "Color" : "B/N" }}</p>
          </div>
          <div class="feature">
            <i class="pi pi-window-minimize"></i>
            <p class="PrintSize">{{ printer.PrintSize }}</p>
          </div>
          <div class="feature">
            <i class="pi pi-clock"></i>
            <p class="PrintVelocity">
              {{ printer.printVelocity }}
              {{ printer.category === "Etiquetas" ? "mm/s" : "ppm" }}
            </p>
          </div>
        </div>
        <div class="product-action">
          <span>Conoce más</span>
          <!-- <i class="pi pi-arrow-right" style="color: white; font-size: .95rem;"></i> -->
        </div>
      </div>
    </div>
  </div>
</div>
