<div class="product-card">
  <div class="product-card-container">
    <div class="product-image-wrap" [routerLink]="['/printers', printer.id]">
      <div class="product-feature-image">
        <img [src]="printer.img_url[0]" alt="" class="product-image" />
        <div class="product-deal-tag" *ngIf="printer.deals.length > 0">
          <p class="deal-tag-title">
            {{ printer.deals[0].dealDiscountPercentage }}% Descuento
          </p>
        </div>
      </div>
    </div>
    <div class="product-body">
      <div class="product-info">
        <div class="product-info-col">
          <div
            class="product-brand"
            [innerHTML]="printer.brand | printerBrandType"
          ></div>
          <p class="product-name">{{ printer.model }}</p>
          <div class="product-tags">
            <div class="tag deal" *ngIf="printer.deals.length > 0">
              <div class="tag-title">Promoción</div>
            </div>
            <div [innerHTML]="printer | productType"></div>
            <!-- <div [innerHTML]="printer.rentable | productType"></div> -->
            <div class="tag">
              <div class="tag-title">{{ printer.category }}</div>
            </div>
          </div>
          <div class="product-features">
            <div class="feature">
              <!-- <div [class]="printer.color | productColor: 'ColorCircle' : 'BlackCircle' "></div> -->
              <img
                *ngIf="!printer.color"
                class="color-icon"
                src="../../../../assets/svg/colors/B&W.svg"
                alt="B&W Icon"
              />
              <img
                *ngIf="printer.color"
                class="color-icon"
                src="../../../../assets/svg/colors/CMYK.svg"
                alt="CMYK Icon"
              />
              <p>{{ printer.color ? "Color" : "B/N" }}</p>
            </div>
            <div class="feature">
              <i class="pi pi-file"></i>
              <p class="PrintSize">{{ printer.printSize }}</p>
            </div>
            <div class="feature">
              <i class="pi pi-clock"></i>
              <p class="PrintVelocity">
                {{ printer.printVelocity }}
                {{
                  printer.category === "Etiquetas"
                    ? "mm/s"
                    : printer.category === "Plotter"
                    ? "m2/h"
                    : "ppm"
                }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="product-action-deal"
        *ngIf="printer.deals.length > 0"
        [routerLink]="['/printers', printer.id]"
      >
        <i class="pi pi-shopping-cart"></i>
        <span class="product-price-deal"
          >{{ printer.deals[0].dealCurrency }}
          {{
            printer.deals[0].dealPrice | currency : "USD" : "symbol" : "1.2-3"
          }}</span
        >
        <s class="product-price d-none d-md-block">${{ printer.price }}</s>
      </div>
      <div
        class="product-action"
        *ngIf="!(printer.deals.length > 0)"
        [routerLink]="['/printers', printer.id]"
      >
        <span class="product-action-title">Conoce más</span>
      </div>
    </div>
  </div>
</div>
