<div class="FilterComponent">
    <div class="Header">
        <div class="Filtros">
            <div class="Titulo">
                <i class="pi pi-filter-fill" style="font-size: 1.3rem; color: #434655;"></i>
                <h1>Filtros</h1>
            </div>
        </div>
        <div class="AngleButton" (click)="toggleFilterSections()">
            <i class="pi pi-angle-down" style="font-size: 1rem; color: #434655;"></i>
        </div>
    </div>
    <div class="Content">
        <div class="FilterSection" [@filterSectionsAnimation]="filterSectionsState">
            <div class="Title">Producto</div>
            <div class="buttons-container">
                <div class="wrapper">
                    <p-toggleButton onLabel="Venta" offLabel="Venta" onIcon="pi pi-check" offIcon="pi pi-times" iconPos="right" (click)="toggleRentableOptionFilter(true)"></p-toggleButton>
                    <p-toggleButton onLabel="Renta" offLabel="Renta" onIcon="pi pi-check" offIcon="pi pi-times" iconPos="right" (click)="toggleRentableOptionFilter(false)"></p-toggleButton>
                </div>
            </div>
        </div>
        <div class="FilterSection" [@filterSectionsAnimation]="filterSectionsState">
            <div class="Title">Marca</div>
            <div class="Checkbox" *ngFor="let brand of brands">
                <input type="checkbox" [id]="brand" [value]="brand" [checked]="selectedBrands.includes(brand)" (change)="toggleBrandFilter(brand)" />
                <label>{{brand}}</label>
            </div>
        </div>
        <div class="FilterSection" [@filterSectionsAnimation]="filterSectionsState">
            <div class="Title">Tamaño de papel</div>
            <div class="Checkbox" *ngFor="let printSize of printSizesFilter">
                <input type="checkbox" [id]="printSize" [value]="printSize" [checked]="selectedPrintSizeFilters.includes(printSize)" (change)="togglePrintSizeFilter(printSize)" />
                <label>{{printSize}}</label>
            </div>
        </div>
        <div class="FilterSection" [@filterSectionsAnimation]="filterSectionsState">
            <div class="Title">Tipo</div>
            <div class="Checkbox" *ngFor="let color of colorFilter">
                <input type="checkbox" [id]="color" [value]="color" [checked]="selectedColors.includes(color)" (change)="toggleColorFilter(color)" />
                <label>{{color}}</label>
            </div>
        </div>
        <div class="FilterSection" [@filterSectionsAnimation]="filterSectionsState">
            <div class="Title">Velocidad de impresión</div>
            <div class="Checkbox" *ngFor="let range of printVelocities">
                <input type="checkbox" [id]="range" [value]="range" [checked]="selectedPrintVelocities.includes(range)" (change)="togglePrintVelocityFilter(range)" />
                <label>{{ range }}</label>
            </div>
        </div>
        <div class="FilterSection" [@filterSectionsAnimation]="filterSectionsState">
            <div class="Title">Categorias</div>
            <div class="buttons-container">
                <p-toggleButton *ngFor="let category of categories" onLabel="{{ category }}" offLabel="{{ category }}" onIcon="pi pi-check" offIcon="pi pi-times" iconPos="right" (click)="toggleCategoryFilter(category)">
                </p-toggleButton>
            </div>
        </div>
        <div class="FilterSection" [@filterSectionsAnimation]="filterSectionsState">
            <div class="filter-reset">
                <p-button label="Borrar Filtros" icon="pi pi-trash" styleClass="p-button-link w-100" (click)="resetFilters()"></p-button>
            </div>
        </div>
    </div>
</div>