<div class="FilterComponent">
    <div class="Header">
        <div class="Filtros">
            <div class="Titulo">
                <i class="pi pi-filter-fill" style="font-size: 1.3rem; color: #434655;"></i>
                <h1>Filtros</h1>
            </div>
        </div>
        <div class="AngleButton" (click)="toggleFilterSections()">
            <i class="pi pi-angle-down" style="font-size: 1rem; color: #434655;"></i>
        </div>
    </div>
    <div class="Content">
        <div class="FilterSection" [@filterSectionsAnimation]="filterSectionsState">
            <div class="Title">Producto</div>
            <div class="buttons-container">
                <div class="wrapper">
                    <p-toggleButton onLabel="Venta" offLabel="Venta" onIcon="pi pi-check" offIcon="pi pi-times" iconPos="right" (click)="toggleRentableOptionFilter(true)"></p-toggleButton>
                    <p-toggleButton onLabel="Renta" offLabel="Renta" onIcon="pi pi-check" offIcon="pi pi-times" iconPos="right" (click)="toggleRentableOptionFilter(false)"></p-toggleButton>
                </div>
            </div>
        </div>
        <div class="FilterSection" [@filterSectionsAnimation]="filterSectionsState">
            <div class="Title">Marca</div>
            <div class="Checkbox" *ngFor="let brand of brands">
                <input type="checkbox" [id]="brand" [value]="brand" [checked]="selectedBrands.includes(brand)" (change)="toggleBrandFilter(brand)" />
                <label>{{brand}}</label>
            </div>
        </div>
        <div class="FilterSection" [@filterSectionsAnimation]="filterSectionsState">
            <div class="Title">Tamaño de papel</div>
            <div class="Checkbox" *ngFor="let printSize of printSizesFilter">
                <input type="checkbox" [id]="printSize" [value]="printSize" [checked]="selectedPrintSizeFilters.includes(printSize)" (change)="togglePrintSizeFilter(printSize)" />
                <label>{{printSize}}</label>
            </div>
        </div>
        <div class="FilterSection" [@filterSectionsAnimation]="filterSectionsState">
            <div class="Title">Tipo</div>
            <div class="Checkbox" *ngFor="let color of colorFilter">
                <input type="checkbox" [id]="color" [value]="color" [checked]="selectedColors.includes(color)" (change)="toggleColorFilter(color)" />
                <label>{{color}}</label>
            </div>
        </div>
        <div class="FilterSection" [@filterSectionsAnimation]="filterSectionsState">
            <div class="Title">Velocidad de impresión</div>
            <div class="Checkbox">
                <input type="checkbox" id="cboxb/n" value="first_checkbox" />
                <label>Hasta 20 ppm</label>
            </div>
            <div class="Checkbox">
                <input type="checkbox" id="cboxcolor" value="first_checkbox" />
                <label>21 a 35 ppm</label>
            </div>
            <div class="Checkbox">
                <input type="checkbox" id="cboxcolor" value="first_checkbox" />
                <label>36 a 49 ppm</label>
            </div>
            <div class="Checkbox">
                <input type="checkbox" id="cboxcolor" value="first_checkbox" />
                <label>Más de 50</label>
            </div>
        </div>
        <div class="FilterSection" [@filterSectionsAnimation]="filterSectionsState">
            <div class="Title">Categorias</div>
            <div class="buttons-container">
                <p-toggleButton onLabel="Oficina" offLabel="Oficina" onIcon="pi pi-check" offIcon="pi pi-times" iconPos="right"></p-toggleButton>
                <p-toggleButton onLabel="Producción" offLabel="Producción" onIcon="pi pi-check" offIcon="pi pi-times" iconPos="right"></p-toggleButton>
                <p-toggleButton onLabel="Etiquetas" offLabel="Etiquetas" onIcon="pi pi-check" offIcon="pi pi-times" iconPos="right"></p-toggleButton>
                <p-toggleButton onLabel="Plotters" offLabel="Plotters" onIcon="pi pi-check" offIcon="pi pi-times" iconPos="right"></p-toggleButton>
                <p-toggleButton onLabel="Inyección de Tinta" offLabel="Inyección de Tinta" onIcon="pi pi-check" offIcon="pi pi-times" iconPos="right"></p-toggleButton>
                <p-toggleButton onLabel="Artes Gráficas" offLabel="Artes Gráficas" onIcon="pi pi-check" offIcon="pi pi-times" iconPos="right"></p-toggleButton>
            </div>
        </div>
    </div>
</div>