::ng-deep .p-menubar {
    height: 50px;
    p-menubarsub {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    a.p-menubar-button {
        order: 2;
        margin-right: 10px;
    }
}