<h1>La mejor pagina web de Fixsell del Norte</h1>
<button pButton type="button" label="Click" icon="pi pi-check" iconPos="left"></button>
<button pButton type="button" label="Click" icon="pi pi-check" iconPos="left" class="p-button-raised p-button-rounded"></button>
<button pButton type="button" label="Click" icon="pi pi-check" iconPos="left" class="p-button-text"></button>
<button pButton type="button" label="Small" icon="pi pi-check" [loading]="true"></button>
<!-- <p-menubar [model]="items " [autoDisplay]="true "></p-menubar> -->
<p-speedDial [model]="items" type="circle" style="position:absolute; bottom: 50%;"></p-speedDial>