<section class="container">
    <div class="section-card-product">
        <div class="product-container">
            <div class="product-description-container-mobile" *ngIf="printer">
                <div class="Header">
                    <div class="brand-type">
                        <div class="Brand" [innerHTML]="printer.brand | brandType">
                        </div>
                        <div [innerHTML]="printer.rentable | productType">
                        </div>
                    </div>
                    <h1 class="Model">{{printer.model}}</h1>
                </div>
            </div>
            <div class="swiper-container">
                <swiper
                style="--swiper-navigation-color: #172A3A;--swiper-pagination-color: #3C81F6"
                [slidesPerView]="1"
                [spaceBetween]="10"
                [navigation]="true"
                [pagination]="{ clickable: true }" 
                [scrollbar]="{ draggable: true }"
                [centeredSlides]="true"
                [autoplay]="true"
                [thumbs]="{swiper: thumbsSwiper}"
                >
                    <ng-template swiperSlide *ngFor="let images of printer?.img_url"><img [src]="images" alt=""></ng-template>
                </swiper>
                <swiper
                (swiper)="thumbsSwiper = $event"
                [spaceBetween]="10"
                [slidesPerView]="4"
                [freeMode]="true"
                [watchSlidesProgress]="true"
                class="mySwiper"
                >
                <ng-template swiperSlide *ngFor="let images of printer?.img_url"><img [src]="images" alt=""></ng-template>
                </swiper>
            </div>
            <div class="product-description-container" *ngIf="printer">
                <div class="Header">
                    <div class="brand-type">
                        <div class="Brand" [innerHTML]="printer.brand | brandType">
                        </div>
                        <div [innerHTML]="printer.rentable | productType">
                        </div>
                    </div>
                    <h1 class="Model">{{printer.model}}</h1>
                </div>
                <div class="description">
                    <p>
                        {{printer.description}}
                    </p>
                </div>
                <div class="Functions">
                    <div class="Feature">
                        <div class="feature-container">
                            <i class="pi pi-th-large"></i>
                            <h4 class="titulo">Funciones</h4>
                        </div>
                        <p class="dato">Impresión</p>
                    </div>
                    <div class="Feature">
                        <div class="feature-container">
                            <i class="pi pi-window-maximize"></i>
                            <h4 class="titulo">Tamaño</h4>
                        </div>
                        <p class="dato">{{printer.maxPrintSizeSimple}}</p>
                    </div>
                    <div class="Feature">
                        <div class="feature-container">
                            <i class="pi pi-clock"></i>
                            <h4 class="titulo">Velocidad</h4>
                        </div>
                        <p class="dato">{{printer.printVelocity}}</p>
                    </div>
                    <div class="Feature">
                        <div class="feature-container">
                            <i class="pi pi-tag"></i>
                            <h4 class="titulo">Tipo</h4>
                        </div>
                        <p class="dato">{{printer.color ? 'Color' : 'B/N'}}</p>
                    </div>
                </div>
                <!-- <hr class="product-hr"> -->
                <div class="actions-container">
                    <button class="button button-success button-rounded" style="background-color: #23d366 !important; color: #1f2937;" (click)="openWhatsApp()"><span class="button-label">Cotiza por Whatsapp</span><i class="pi pi-whatsapp"></i></button>
                    <!-- <a href="#">Ficha Técnica</a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-product-specs">
    <div class="container">
        <div class="section-card-product-specs">
            <div class="header-specs">
                <h2>Especificaciones</h2>
            </div>
            <div class="body-specs">
                <div class="spec">
                    <h4 class="spec-title">Consumo de Energía</h4>
                    <p class="spec-data">{{printer?.powerConsumption}}</p>
                </div>
                <div class="spec">
                    <h4 class="spec-title">Dimensiones</h4>
                    <p class="spec-data">{{printer?.dimensions}}</p>
                </div>
                <div class="spec">
                    <h4 class="spec-title">Unidad Duplex</h4>
                    <p class="spec-data">{{printer?.duplexUnit ? 'Si' : 'No'}}</p>
                </div>
                <div class="spec">
                    <h4 class="spec-title">Gramaje Máximo</h4>
                    <p class="spec-data">{{printer?.maxPaperWeight}}</p>
                </div>
                <div class="spec">
                    <h4 class="spec-title">Tamaños de Papel</h4>
                    <p class="spec-data">{{printer?.paperSizes}}</p>
                </div>
                <div class="spec">
                    <h4 class="spec-title">Sistemas Operativos</h4>
                    <p class="spec-data">{{printer?.applicableOS}}</p>
                </div>
            </div>
        </div>
    </div>
</section>