<section *ngIf="loading">
  <loading-spinner></loading-spinner>
</section>
<section *ngIf="!loading">
  <div class="product-section">
    <div class="grid-section">
      <div class="product-image-container" *ngIf="printer">
        <div class="product-image-inner">
          <div class="product-image">
            <div class="thumbs-swiper-container">
              <swiper-container
                appSwiper
                #thumbSwiperContainer
                [config]="thumbSwiperOptions"
                class="thumbsSwiper"
              >
                <ng-container *ngFor="let images of printer?.img_url">
                  <swiper-slide class="thumbsSwiper-slide">
                    <img [src]="images" [alt]="printer.model" />
                  </swiper-slide>
                </ng-container>
              </swiper-container>
            </div>
            <div class="main-swiper-container">
              <!-- <div class="product-deal-tag" *ngIf="printer.deals.length > 0">
                <p class="deal-tag-title">
                  {{ printer.deals[0].dealDiscountPercentage }}% Dto.
                </p>
              </div> -->
              <div class="swiper-fraction-pagination" *ngIf="paginationVisible">
                <p class="pagination-label">
                  {{ currentSlideIndex }} / {{ totalSlides }}
                </p>
              </div>
              <div class="main-page-buttons" *ngIf="images.length > 0">
                <button
                  (click)="goToPrev()"
                  [hidden]="!showNavigation || isBeginning"
                  [disabled]="isBeginning"
                  class="swiper-prev-button"
                >
                  <i class="pi pi-angle-left"></i>
                </button>
                <button
                  (click)="goToNext()"
                  [hidden]="!showNavigation || isEnd"
                  [disabled]="isEnd"
                  class="swiper-next-button"
                >
                  <i class="pi pi-angle-right"></i>
                </button>
              </div>
              <swiper-container
                appSwiper
                #mainSwiperContainer
                [config]="mainSwiperOptions"
                class="mainSwiper"
                [thumbs]="{ swiper: thumbSwiperContainer.swiper }"
              >
                <ng-container *ngFor="let images of printer?.img_url">
                  <swiper-slide class="mainSwiper-slide">
                    <img
                      [src]="images"
                      [alt]="printer.model"
                      class="swiper-image"
                    />
                  </swiper-slide>
                </ng-container>
              </swiper-container>
            </div>
          </div>
        </div>
      </div>
      <div class="product-info-container" *ngIf="printer">
        <div class="product-info-column">
          <div class="product-info-inner">
            <div class="product-info-block heading-block">
              <div class="product-header">
                <div class="product-brand">
                  <div
                    class="Brand"
                    [innerHTML]="printer.brand | printerBrandType"
                  ></div>
                </div>
                <h3 class="product-title">{{ printer.model }}</h3>
                <div class="product-tags">
                  <div
                    class="tag-deal"
                    *ngIf="printer?.deals && printer.deals.length > 0"
                  >
                    <div class="tag-title">Promoción</div>
                  </div>
                  <div [innerHTML]="printer | productType"></div>
                  <div class="tag">
                    <div class="tag-title">{{ printer.category }}</div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="product-price-container"
              *ngIf="printer?.deals && printer.deals.length > 0"
            >
              <div class="product-deal-price-container">
                <h2 class="product-deal-price">
                  {{ printer.currency }}
                  {{
                    printer.deals[0].dealPrice
                      | currency : "$" : "symbol" : "1.2-3"
                  }}
                </h2>
                <p class="product-discount">
                  ({{ printer.deals[0].dealDiscountPercentage }}% dto.)
                </p>
              </div>
              <p class="product-price">
                Precio de lista:
                <span class="line-through"
                  >{{ printer.currency }}
                  {{
                    printer.price | currency : "$" : "symbol" : "1.2-3"
                  }}</span
                >
              </p>
            </div>
            <div class="actions-container">
              <button
                class="button button-primary button-rounded button-full"
                (click)="showDialog()"
              >
                <i class="pi pi-envelope"></i>
                <span class="button-label">Cotiza por Email</span>
              </button>
              <button
                class="button button-success button-rounded button-full"
                style="background-color: #23d366 !important; color: #1f2937"
                [ngClass]="{
                  'has-deals': printer.deals && printer.deals.length > 0
                }"
                (click)="
                  printer.deals && printer.deals.length > 0
                    ? openWhatsAppDeal()
                    : openWhatsApp()
                "
              >
                <i class="pi pi-whatsapp"></i>
                <span class="button-label">
                  {{
                    printer.deals && printer.deals.length > 0
                      ? "Aplica la promoción por Whatsapp"
                      : "Cotiza por Whatsapp"
                  }}
                </span>
              </button>
            </div>
            <p-dialog
              header="Cotiza por Email"
              [modal]="true"
              [(visible)]="showDialogForm"
              [style]="{ width: '25rem' }"
            >
              <product-email-form
                [message]="
                  'Hola, quiero saber mas sobre el multifuncional: ' +
                  printer.brand +
                  printer.model
                "
                [product]="printer.model"
                [productType]="'printer'"
                class="w-100"
              >
              </product-email-form>
            </p-dialog>
            <div class="product-info-block">
              <div class="product-description">
                <p *ngIf="showMore; else shortDescription">
                  {{ printer.description }}
                </p>
                <ng-template #shortDescription>
                  <p>
                    {{ printer.description | slice : 0 : 500
                    }}<span *ngIf="printer.description.length > 500">...</span>
                  </p>
                </ng-template>
                <a
                  style="font-weight: 600"
                  href="javascript:void(0)"
                  (click)="toggleShowMore()"
                  *ngIf="printer.description.length > 500"
                >
                  {{ showMore ? "Ver menos" : "Ver más" }}
                </a>
              </div>
            </div>
            <div class="product-info-block">
              <div class="product-functions">
                <div class="Feature">
                  <div class="feature-container">
                    <i class="pi pi-th-large"></i>
                    <h4 class="titulo">Funciones</h4>
                  </div>
                  <p class="dato">{{ printer.printerFunctions }}</p>
                </div>
                <div class="Feature">
                  <div class="feature-container">
                    <i class="pi pi-file"></i>
                    <h4 class="titulo">Tamaño</h4>
                  </div>
                  <p class="dato">
                    {{ printer.printSize }} (Máximo:
                    {{ printer.maxPrintSizeSimple }})
                  </p>
                </div>
                <div class="Feature">
                  <div class="feature-container">
                    <i class="pi pi-clock"></i>
                    <h4 class="titulo">Velocidad</h4>
                  </div>
                  <p class="dato">
                    {{ printer.printVelocity }}
                    {{
                      printer.category === "Etiquetas"
                        ? "mm/s"
                        : printer.category === "Plotter"
                        ? "m2/h"
                        : "ppm"
                    }}
                  </p>
                </div>
                <div class="Feature">
                  <div class="feature-container">
                    <i class="pi pi-tag"></i>
                    <h4 class="titulo">Tipo</h4>
                  </div>
                  <p class="dato">{{ printer.color ? "Color" : "B/N" }}</p>
                </div>
              </div>
            </div>
            <div
              class="product-info-block"
              *ngIf="printer.packages.length > 0 && printer.rentable"
            >
              <div class="product-packages">
                <div class="package-header">
                  <h2>Paquetes de Renta</h2>
                </div>
                <div class="package-body">
                  <printer-package-rent-card
                    [printer]="printer"
                    style="width: 100%"
                  ></printer-package-rent-card>
                </div>
              </div>
            </div>
            <div class="product-info-block">
              <div class="product-specs">
                <div class="header-specs">
                  <h2>Especificaciones</h2>
                </div>
                <div class="body-specs">
                  <div class="spec">
                    <h5 class="spec-title">Consumo de Energía</h5>
                    <p class="spec-data">{{ printer.powerConsumption }}</p>
                  </div>
                  <div class="spec">
                    <h5 class="spec-title">Dimensiones</h5>
                    <p class="spec-data">{{ printer.dimensions }}</p>
                  </div>
                  <div class="spec">
                    <h5 class="spec-title">Unidad Duplex</h5>
                    <p class="spec-data">
                      {{ printer.duplexUnit ? "Si" : "No" }}
                    </p>
                  </div>
                  <div class="spec">
                    <h5 class="spec-title">Gramaje Máximo</h5>
                    <p class="spec-data">{{ printer.maxPaperWeight }} g/m2</p>
                  </div>
                  <div class="spec">
                    <h5 class="spec-title">Tamaños de Papel</h5>
                    <p class="spec-data">{{ printer.paperSizes }}</p>
                  </div>
                  <div class="spec">
                    <h5 class="spec-title">Sistemas Operativos</h5>
                    <p class="spec-data">{{ printer.applicableOS }}</p>
                  </div>
                </div>
                <div class="action-container">
                  <a [href]="printer.datasheet_url" target="_blank"
                    >Ficha Técnica</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-related-printers" *ngIf="printer">
  <div class="related-printers-container py-5">
    <div class="header">
      <h2>Productos similares</h2>
    </div>
    <related-printers-list [printerProduct]="printer"></related-printers-list>
  </div>
</section>
