<div class="container-products relative">
    <div class="banner">
        <div class="banner-content">
            <h1>Impulsa tu rendimiento</h1>
            <p>Consumibles de calidad para un flujo de trabajo rentable y excelente impresión.</p>
        </div>
    </div>
    <div class="product-view">
        <div class="filter-mobile d-flex d-lg-none" (click)="onToggleFilterBar()" #filter>
            <div class="filter-title">
                <i class="pi pi-filter-fill" style="font-size: 0.9em; color: #111827"></i>
                <h3>Filtros</h3>
                <div class="counter">
                    {{ appliedFiltersCount }}
                </div>
            </div>
        </div>
        <div class="products-row px-3">
            <div class="filter-col d-none d-lg-flex">
                <app-consumible-filter [initialAppliedFiltersCount]="appliedFiltersCount" (appliedFiltersCountChange)="onAppliedFiltersCountChange($event)" (filteredPrintersChange)="handleFilteredConsumableChange($event)" [selectedCategory]="selectedCategory" [searchQuery]="searchQuery"></app-consumible-filter>
            </div>
            <div class="product-container">
                <div class="product-list-col">
                    <div class="search-bar-container">
                        <app-search-bar-list [(searchQuery)]="searchQuery" (searchQueryChange)="onSearchQueryChange($event)"></app-search-bar-list>
                    </div>
                    <div class="spinner-container" *ngIf="isLoading">
                        <i class="pi pi-spin pi-spinner" style="font-size: 4rem"></i>
                    </div>
                    <div class="product-list-container" #productList>
                        <ng-container *ngIf="filteredConsumables.length > 0; else noProducts">
                            <consumable-product-card [consumible]="consumable" *ngFor="let consumable of currentPageFilteredConsumables" class="printer-product-card"></consumable-product-card>
                        </ng-container>
                        <ng-template #noProducts>
                            <div class="not-found" *ngIf="!isLoading">
                                <i class="pi pi-exclamation-circle"></i>
                                <p>No se encontraron productos</p>
                            </div>
                        </ng-template>
                    </div>
                </div>
                <div class="pagination-container" *ngIf="filteredConsumables.length > 0 && totalPages > 1">
                    <!-- <div class="pagination-quantity" *ngIf="!isMobile">
                        <select [(ngModel)]="limit" (change)="fetchPrinters()">
                            <option value="20">20</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>
                    </div> -->
                    <div class="pagination-buttons">
                        <!-- previous button -->
                        <button class="pagination-button-direction" (click)="navigateToPage(currentPage - 1)" *ngIf="currentPage !== 1">
                          <span>Atras</span>
                        </button>
                        <span *ngIf="isMobile" class="pagination-button-number active"><span>{{ currentPage }}</span></span>
                        <div *ngIf="!isMobile" class="pagination-wrap">
                            <button class="pagination-button-number" [class.active]="currentPage === 1" (click)="navigateToPage(1)">
                              <span>1</span>
                            </button>
                            <span *ngIf="currentPage > 4">...</span>
                            <ng-container *ngFor="let page of getPageNumbers()">
                                <button class="pagination-button-number" [class.active]="currentPage === page" (click)="navigateToPage(page)" *ngIf="page !== 1 && page !== totalPages">
                                    <span>{{ page }}</span>
                                </button>
                            </ng-container>
                            <span *ngIf="currentPage < totalPages - 3">...</span>
                            <button class="pagination-button-number" [class.active]="currentPage === totalPages" (click)="navigateToPage(totalPages)">
                              <span>{{ totalPages }}</span>
                            </button>
                        </div>
                        <!-- next button -->
                        <button class="pagination-button-direction" (click)="navigateToPage(currentPage + 1)" *ngIf="currentPage !== totalPages">
                          <span>Siguiente</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="filter-shade" [class.activated]="this.filterBarOpen"></div>
<div class="filter-bar" [class.activated]="this.filterBarOpen">
    <div class="filter-header">
        <div class="filter-header-inner">
            <p class="filter-header-title">Filtro</p>
            <div class="filter-close-button" (click)="closeFilterBar()">
                <i class="pi pi-times" style="color: #111827"></i>
            </div>
        </div>
    </div>
    <div class="filter-content">
        <app-consumible-filter [initialAppliedFiltersCount]="appliedFiltersCount" (appliedFiltersCountChange)="onAppliedFiltersCountChange($event)" (filteredPrintersChange)="handleFilteredConsumableChange($event)" [selectedCategory]="selectedCategory"></app-consumible-filter>
    </div>
</div>