@import "src/_variables.scss";
.footer {
  background-color: $light-100;
  img {
    width: 250px;
  }
  .footer-title {
    font-size: 21px;
    font-weight: 600;
    line-height: 1;
    color: $header-text;
    margin-bottom: 0.5em;
  }
  .footer-subtitle {
    font-weight: 400;
    line-height: 1;
    color: $secondary-text;
  }
  .footer-company-bio {
    color: $text;
    font-weight: 400;
    max-width: 600px;
  }
  .icons {
    i {
      cursor: pointer;
    }
  }
  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    color: $secondary-text;
  }
  ul {
    padding: 0;
    li {
      list-style-type: none;
      margin-top: 15px;
    }
  }
}

.footer-container {
  position: relative;
  width: 100%;
  max-width: $grid-max-width;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: $p-3 $p-2;
}

.footer-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  row-gap: 0rem;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.footer-col {
  width: 100%;
}

.footer-section {
  margin-bottom: 0;
  @media (min-width: 768px) {
    margin-bottom: 1.5rem;
  }
}

.divider {
  display: block;
  @media (min-width: 768px) {
    display: none;
  }
}

.footer-contact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  .wrap {
    flex-grow: 1;
    .wrap-title {
      font-size: 1em;
      font-weight: 500;
      line-height: 1.5em;
      color: $secondary-text;
      margin-bottom: 1rem;
    }
    .wrap-item {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      margin-bottom: 1rem;
      i {
        margin-right: 10px;
      }
      p {
        margin-bottom: 0;
        color: $text;
        font-weight: 400;
        max-width: 600px;
        &:hover {
          color: $primary-color;
        }
      }
      a {
        text-decoration: none;
      }
    }
  }
}

.form-contact {
  width: 100%;
  max-width: 768px;
  span {
    margin-top: 20px;
  }
}

.form-label {
  font-weight: 500;
}

.form-section {
  margin-bottom: 1rem;
}

:host ::ng-deep .p-inputnumber {
  width: 100%;
}

.footer-social {
  width: 100%;
  background-color: #172a3a;
  padding: 10px 15px;
}

.footer-social-text {
  color: $white;
  font-weight: 400;
  margin-bottom: 0;
  font-size: 14px;
}

.map-site-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  row-gap: 0.5rem;
  a {
    color: $secondary-text;
    font-weight: 500;
    text-decoration: none;
    &:hover {
      color: $primary-color;
    }
  }
}
