@import "../../../../variables";

.printer-product-card-container {
    display: flex;
    width: 100%;
}

.box-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .swiper-container {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        z-index: 1;
        height: 100%;
    }
}


swiper {
  --swiper-navigation-color: #172a3a;
  --swiper-pagination-color: #3c81f6;
}


.swiper-wrapper {
    align-items: stretch;
    // padding: 0 3em;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-self: stretch; // Add this line
    // margin: 0px 16px;
    // margin-right: 0 !important;
}

.section-title {
    color: $text;
}

.promotion-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-found {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    text-align: center;
    border: 1px solid $orange-600;
    border-radius: $border-radius;
    i {
        font-size: 4rem;
        color: $orange-500;
    }
    p {
        color: $orange-500;
        font-size: 18px;
        font-weight: 500;
        margin: 0;
    }
}