<div class="filter">
    <div class="filter-header">
        <div class="filter-header-inner">
            <div class="filter-header-title">
                <div class="filter-header-title-wrap">
                    <i class="pi pi-filter-fill" style="font-size: .9em; color: #111827;"></i>
                    <h3>Filtros</h3>
                    <div class="counter">
                        {{appliedFiltersCount}}
                    </div>
                </div>
                <!-- <div class="filter-reset" (click)="resetFilters()">
                    <p>Borrar Filtros</p>
                </div> -->
            </div>
        </div>
    </div>
    <div class="filter-content">
        <div class="filter-section">
            <div class="filter-reset" (click)="resetFilters()">
                <p>Borrar Filtros</p>
            </div>
            <div class="filter-section-header" (click)="toggleFilterSectionProduct()">
                <div class="filter-section-title">Producto</div>
                <div class="AngleButton">
                    <i class="pi pi-angle-down" style="font-size: 1rem; color: #3F4756;" [class.flip]="!isSectionVisibleProduct"></i>
                </div>
            </div>
            <div class="filter-section-content" [ngClass]="{'hidden': !isSectionVisibleProduct}">
                <div class="buttons-container">
                    <div class="wrapper">
                        <button class="button-filter" (click)="toggleSellableOptionFilter()" [ngClass]="{ 'highlight': sellable }">Venta</button>
                        <button class="button-filter" (click)="toggleRentableOptionFilter()" [ngClass]="{ 'highlight': rentable }">Renta</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-section">
            <div class="filter-section-header" (click)="toggleFilterSectionType()">
                <div class="filter-section-title">Tipo</div>
                <div class="AngleButton">
                    <i class="pi pi-angle-down" style="font-size: 1rem; color: #3F4756;" [class.flip]="!isSectionVisibleType"></i>
                </div>
            </div>
            <div class="filter-section-content" [ngClass]="{'hidden': !isSectionVisibleType}">
                <!-- <div class="checkbox" *ngFor="let color of colorFilter">
                    <div class="checkbox-container">
                        <input type="checkbox" class="checkbox-input" [id]="color" [value]="color" [checked]="selectedColors.includes(color)" (change)="toggleColorFilter(color)" />
                        <label for="{{ color }}">{{color}}</label>
                    </div>
                </div> -->
                <div class="buttons-container">
                    <div class="wrapper">
                        <button class="button-filter" (click)="toggleColorFilter()" [ngClass]="{ 'highlight': colorParam === true }">Color</button>
                        <button class="button-filter" (click)="toggleBWFilter()" [ngClass]="{ 'highlight': colorParam === false }">B&W</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-section">
            <div class="filter-section-header" (click)="toggleFilterSectionCategory()">
                <div class="filter-section-title">Categorias</div>
                <div class="AngleButton">
                    <i class="pi pi-angle-down" style="font-size: 1rem; color: #3F4756;" [class.flip]="!isSectionVisibleCategory"></i>
                </div>
            </div>
            <div class="filter-section-content" [ngClass]="{'hidden': !isSectionVisibleCategory}">
                <div class="buttons-container">
                    <button *ngFor="let category of categories" class="button-filter" (click)="toggleCategoryFilter(category)" [ngClass]="{ 'highlight': selectedCategories.includes(category) }">
                        {{category}}
                    </button>
                </div>
            </div>
        </div>
        <div class="filter-section">
            <div class="filter-section-header" (click)="toggleFilterSectionBrand()">
                <div class="filter-section-title">Marca</div>
                <div class="AngleButton">
                    <i class="pi pi-angle-down" style="font-size: 1rem; color: #3F4756;" [class.flip]="!isSectionVisibleBrand"></i>
                </div>
            </div>
            <div class="filter-section-content" [ngClass]="{'hidden': !isSectionVisibleBrand}">
                <div class="checkbox" *ngFor="let brand of brands">
                    <div class="checkbox-container">
                        <input type="checkbox" class="checkbox-input" [id]="brand" [value]="brand" [checked]="selectedBrands.includes(brand)" (change)="toggleBrandFilter(brand)" />
                        <label for="{{ brand }}">{{brand}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-section">
            <div class="filter-section-header" (click)="toggleFilterSectionSize()">
                <div class="filter-section-title">Tamaño de papel</div>
                <div class="AngleButton">
                    <i class="pi pi-angle-down" style="font-size: 1rem; color: #3F4756;" [class.flip]="!isSectionVisibleSize"></i>
                </div>
            </div>
            <div class="filter-section-content" [ngClass]="{'hidden': !isSectionVisibleSize}">
                <div class="checkbox" *ngFor="let printSize of printSizesFilter">
                    <div class="checkbox-container">
                        <input type="checkbox" class="checkbox-input" [id]="printSize" [value]="printSize" [checked]="selectedPrintSizes.includes(printSize)" (change)="togglePrintSizeFilter(printSize)" />
                        <label for="{{ printSize }}">{{printSize}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-section">
            <div class="filter-section-header" (click)="toggleFilterSectionVelocity()">
                <div class="filter-section-title">Velocidad de impresión</div>
                <div class="AngleButton">
                    <i class="pi pi-angle-down" style="font-size: 1rem; color: #3F4756;" [class.flip]="!isSectionVisibleVelocity"></i>
                </div>
            </div>
            <div class="filter-section-content" [ngClass]="{'hidden': !isSectionVisibleVelocity}">
                <div class="checkbox" *ngFor="let range of printVelocities">
                    <div class="checkbox-container">
                        <input type="checkbox" class="checkbox-input" [id]="range" [value]="range" [checked]="selectedPrintVelocities.includes(range)" (change)="togglePrintVelocityFilter(range)" style="border: 2px solid #3C81F6;" />
                        <label for="{{ range }}">{{ range }}</label>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="filter-section py-3 align-items-center align-items-md-start d-lg-none">
            <div class="filter-reset" (click)="resetFilters()">
                <p>Borrar Filtros</p><i class="pi pi-trash" style="font-size: 1rem;"></i>
            </div>
        </div> -->
    </div>
</div>