<div class="filter">
  <!-- <div class="filter-header">
    <div class="filter-header-inner">
      <div class="filter-header-title">
        <div class="filter-header-title-wrap">
          <i
            class="pi pi-filter-fill"
            style="font-size: 0.9em; color: #111827"
          ></i>
          <h3>Filtros</h3>
          <div class="counter">
            {{ appliedFiltersCount }}
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="filter-content">
    <div class="filter-section">
      <div class="filter-reset" (click)="resetFilters()">
        <p>Borrar Filtros</p>
      </div>
      <div class="filter-section-header" (click)="toggleFilterSectionProduct()">
        <div class="filter-section-title">Producto</div>
        <div class="AngleButton">
          <i
            class="pi pi-angle-down"
            style="font-size: 1rem; color: #3f4756"
            [class.flip]="!isSectionVisibleProduct"
          ></i>
        </div>
      </div>
      <div
        class="filter-section-content"
        [ngClass]="{ hidden: !isSectionVisibleProduct }"
      >
        <div class="checkbox">
          <div class="checkbox-container">
            <input
              type="checkbox"
              class="checkbox-input"
              [id]="'Venta'"
              [value]="'Venta'"
              [checked]="sellable"
              (change)="toggleSellableOptionFilter()"
            />
            <label for="Venta">Venta</label>
          </div>
        </div>
        <div class="checkbox">
          <div class="checkbox-container">
            <input
              type="checkbox"
              class="checkbox-input"
              [id]="'Renta'"
              [value]="'Renta'"
              [checked]="rentable"
              (change)="toggleRentableOptionFilter()"
            />
            <label for="Renta">Renta</label>
          </div>
        </div>
        <div class="checkbox">
          <div class="checkbox-container">
            <input
              type="checkbox"
              class="checkbox-input"
              [id]="'Promocion'"
              [value]="'Promocion'"
              [checked]="deal"
              (change)="toggleDealOptionFilter()"
            />
            <label for="Promocion">Promoción</label>
          </div>
        </div>
      </div>
    </div>
    <div class="filter-section">
      <div class="filter-section-header" (click)="toggleFilterSectionType()">
        <div class="filter-section-title">Tipo</div>
        <div class="AngleButton">
          <i
            class="pi pi-angle-down"
            style="font-size: 1rem; color: #3f4756"
            [class.flip]="!isSectionVisibleType"
          ></i>
        </div>
      </div>
      <div
        class="filter-section-content"
        [ngClass]="{ hidden: !isSectionVisibleType }"
      >
        <div class="checkbox">
          <div class="checkbox-container">
            <input
              type="checkbox"
              class="checkbox-input"
              id="color"
              [checked]="colorParam === true"
              (change)="toggleColorFilter()"
            />
            <label for="color">Color</label>
          </div>
        </div>
        <div class="checkbox">
          <div class="checkbox-container">
            <input
              type="checkbox"
              class="checkbox-input"
              id="bw"
              [checked]="colorParam === false"
              (change)="toggleBWFilter()"
            />
            <label for="bw">Blanco y Negro</label>
          </div>
        </div>
      </div>
    </div>
    <div class="filter-section">
      <div
        class="filter-section-header"
        (click)="toggleFilterSectionCategory()"
      >
        <div class="filter-section-title">Categorias</div>
        <div class="AngleButton">
          <i
            class="pi pi-angle-down"
            style="font-size: 1rem; color: #3f4756"
            [class.flip]="!isSectionVisibleCategory"
          ></i>
        </div>
      </div>
      <div
        class="filter-section-content"
        [ngClass]="{ hidden: !isSectionVisibleCategory }"
      >
        <div class="checkbox" *ngFor="let category of categories">
          <div class="checkbox-container">
            <input
              type="checkbox"
              class="checkbox-input"
              [id]="category"
              [value]="category"
              [checked]="selectedCategories.includes(category)"
              (change)="toggleCategoryFilter(category)"
            />
            <label [for]="category">{{ category }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="filter-section">
      <div class="filter-section-header" (click)="toggleFilterSectionBrand()">
        <div class="filter-section-title">Marca</div>
        <div class="AngleButton">
          <i
            class="pi pi-angle-down"
            style="font-size: 1rem; color: #3f4756"
            [class.flip]="!isSectionVisibleBrand"
          ></i>
        </div>
      </div>
      <div
        class="filter-section-content"
        [ngClass]="{ hidden: !isSectionVisibleBrand }"
      >
        <div class="checkbox" *ngFor="let brand of brands">
          <div class="checkbox-container">
            <input
              type="checkbox"
              class="checkbox-input"
              [id]="brand"
              [value]="brand"
              [checked]="selectedBrands.includes(brand)"
              (change)="toggleBrandFilter(brand)"
            />
            <label for="{{ brand }}">{{ brand }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="filter-section">
      <div class="filter-section-header" (click)="toggleFilterSectionSize()">
        <div class="filter-section-title">Tamaño de papel</div>
        <div class="AngleButton">
          <i
            class="pi pi-angle-down"
            style="font-size: 1rem; color: #3f4756"
            [class.flip]="!isSectionVisibleSize"
          ></i>
        </div>
      </div>
      <div
        class="filter-section-content"
        [ngClass]="{ hidden: !isSectionVisibleSize }"
      >
        <div class="checkbox" *ngFor="let printSize of printSizesFilter">
          <div class="checkbox-container">
            <input
              type="checkbox"
              class="checkbox-input"
              [id]="printSize"
              [value]="printSize"
              [checked]="selectedPrintSizes.includes(printSize)"
              (change)="togglePrintSizeFilter(printSize)"
            />
            <label for="{{ printSize }}">{{ printSize }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="filter-section">
      <div
        class="filter-section-header"
        (click)="toggleFilterSectionVelocity()"
      >
        <div class="filter-section-title">Velocidad de impresión</div>
        <div class="AngleButton">
          <i
            class="pi pi-angle-down"
            style="font-size: 1rem; color: #3f4756"
            [class.flip]="!isSectionVisibleVelocity"
          ></i>
        </div>
      </div>
      <div
        class="filter-section-content"
        [ngClass]="{ hidden: !isSectionVisibleVelocity }"
      >
        <div class="checkbox" *ngFor="let range of printVelocities">
          <div class="checkbox-container">
            <input
              type="checkbox"
              class="checkbox-input"
              [id]="range"
              [value]="range"
              [checked]="selectedPrintVelocities.includes(range)"
              (change)="togglePrintVelocityFilter(range)"
              style="border: 2px solid #3c81f6"
            />
            <label for="{{ range }}">{{ range }}</label>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="filter-section py-3 align-items-center align-items-md-start d-lg-none">
            <div class="filter-reset" (click)="resetFilters()">
                <p>Borrar Filtros</p><i class="pi pi-trash" style="font-size: 1rem;"></i>
            </div>
        </div> -->
  </div>
</div>
