@import "../../../variables";
.promotion-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../../assets/img/promociones/blue-abstract-background.jpg");
  background-color: $gray-50;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 300px;
  padding: 64px;
  .banner-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    h1 {
      color: $white;
      font-size: 40px;
      font-weight: 600;
    }
    p {
      color: $gray-200;
      font-weight: 500;
      margin: 0;
    }
  }
}

.section-card {
  width: 100%;
  /* Maintain Aspect Ratio (e.g., 16:9) */
  aspect-ratio: 26 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $gray-300;
  border-radius: 1em;
  background-color: #ebeef5; // Default background color
  transition: background-color 0.5s ease;
  overflow: hidden; // Ensure child elements do not overflow
}

.section-card-background {
  width: 100%;
  height: 100%;
  border-radius: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.section-container {
  position: relative;
  width: 100%;
  max-width: $grid-max-width;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: $p-2;
  @media (min-width: 768px) {
    padding: $p-6;
  }
}

.section-title {
  color: $text;
}

.section-subtitle {
  font-weight: 500;
  color: $secondary-text;
  margin: 0;
}

#printer-promotions {
  width: 100%;
}
#rent-packages-promotions {
  width: 100%;
}

.promotion-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  padding-bottom: 1rem;
  margin-bottom: 1em;
  border-bottom: 1px solid $gray-200;
  @media (min-width: 768px) {
    padding-bottom: 0rem;
  }
  .promotion-title-container {
    margin-bottom: 8px;
  }
  .promotion-links {
    display: flex;
    gap: 0.5em;
    @media (max-width: 768px) {
      width: 100%;
      button {
        width: 100%;
      }
    }
  }
}

.promotion-title-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0; /* Ensures the title container can shrink */
  margin-bottom: 8px;
}

.promotion-links {
  display: flex;
  gap: 0.5em;
  @media (max-width: 768px) {
    width: 100%;
    button {
      width: 100%;
    }
  }
}

.promotion-title-container {
  margin-bottom: 8px;
}
