<section class="hero-background">
    <div class="container h-100">
        <div class="hero-banner">
            <div class="hero-message-container">
                <div class="hero-message">
                    <h1 class="hero-title">Llevando tu <span style="color: #3C81F6; font-weight: 600;">productividad</span> al máximo</h1>
                    <p class="hero-subtitle">Expertos en servicios de impresión y gestión documental en el ámbito profesional y corporativo.</p>
                    <div class="action-container">
                        <button class="button button-rounded button-primary button-raised" routerLink="/printers/list"><span class="button-label">Ver productos</span></button>
                    </div>
                    <div class="proveedores mt-3">
                        <div class="proveedores-container d-flex justify-content-around">
                            <img src="../../../assets/svg/home/proveedores/konica_minolta.svg" alt="konica_minolta">
                            <img src="../../../assets/svg/home/proveedores/epson.svg" alt="epson">
                            <img src="../../../assets/svg/home/proveedores/kyocera.svg" alt="kyocera">
                            <img src="../../../assets/svg/home/proveedores/papercut.svg" alt="papercut">
                            <img src="../../../assets/svg/home/proveedores/ysoft.svg" alt="ysoft">
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-image-container">
                <!-- <div class="blob-mask-container">
                    <div class="blob-mask"></div>
                </div> -->
                <img src="assets/img/home/hero-banner/printer-top-transparent.png" alt="printers and plotter" class="hero-image-mobile">
                <img src="assets/img/home/hero-banner/hero-image.png" alt="printers and plotter" class="hero-image-large">
                <img src="assets/img/home/hero-banner/bizhub_C754-transparent.png" alt="printers and plotter" class="hero-image-medium">
                <!-- <img src="assets/img/home/hero-banner/printer-top.jpg" alt="printers and plotter" class="hero-image hero-image-medium"> -->
            </div>
        </div>
    </div>
</section>

<section class="section-content" id="features">
    <div class="container py-5">
        <div class="features-body">
            <div class="section-title">
                <h1>Nuestros Productos y Servicios</h1>
            </div>
            <div class="features-container">
                <div class="feature-card" (click)="scrollTo('servicio')">
                    <div class="feature-card-header">
                        <div class="icon-container">
                            <img class="inactive" src="../../../assets/svg/home/features/service.svg" alt="service">
                            <img class="active" src="../../../assets/svg/home/features/service-active.svg" alt="service">
                        </div>
                        <h4 class="feature-card-title">Servicio Técnico Calificado</h4>
                    </div>
                    <div class="feature-card-body">
                        <p class="feature-card-content">Reparaciones ágiles, mantenimiento preventivo y pólizas todo incluido para mantener tus equipos en óptimas condiciones.</p>
                    </div>
                </div>
                <div class="feature-card" (click)="scrollTo('consumibles')">
                    <div class="feature-card-header">
                        <div class="icon-container">
                            <img class="inactive" src="../../../assets/svg/home/features/consumable.svg" alt="consumable">
                            <img class="active" src="../../../assets/svg/home/features/consumable-active.svg" alt="consumable">
                        </div>
                        <h4 class="feature-card-title">Consumibles y Refacciones</h4>
                    </div>
                    <div class="feature-card-body">
                        <p class="feature-card-content">Descubre nuestra selección de productos de marcas líderes como Konica Minolta, Kyocera, Fuji y Epson, con envío rápido a todo México y garantía de calidad.</p>
                    </div>
                </div>
                <div class="feature-card" (click)="scrollTo('equipos')">
                    <div class="feature-card-header">
                        <div class="icon-container">
                            <img class="inactive" src="../../../assets/svg/home/features/printer.svg" alt="printer">
                            <img class="active" src="../../../assets/svg/home/features/printer-active.svg" alt="printer">
                        </div>
                        <h4 class="feature-card-title">Equipos de Impresión</h4>
                    </div>
                    <div class="feature-card-body">
                        <p class="feature-card-content">Equipos disponibles que pueden mejorar tus tiempos, calidad y presupuesto de impresión, con un servicio técnico especializado.</p>
                    </div>
                </div>
                <div class="feature-card" (click)="scrollTo('softwares')">
                    <div class="feature-card-header">
                        <div class="icon-container">
                            <img class="inactive" src="../../../assets/svg/home/features/software.svg" alt="software">
                            <img class="active" src="../../../assets/svg/home/features/software-active.svg" alt="software">
                        </div>
                        <h4 class="feature-card-title">Softwares de Gestión</h4>
                    </div>
                    <div class="feature-card-body">
                        <p class="feature-card-content">Optimiza tu flujo de trabajo y protege tu información con nuestros servicios de gestión documental y de impresión. Desde la digitalización hasta el control de costos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-content" id="validation">
    <div class="container py-5">
        <div class="validation-body">
            <div class="validation-header">
                <h1 class="validation-title">Distribuidores Oficiales</h1>
                <h5 class="validation-subtitle">Nos enorgullece ser distribuidores oficiales de las marcas líderes en tecnología y soluciones de impresión. Nuestra alianza con estas marcas garantiza que ofrecemos productos de la más alta calidad y el mejor soporte técnico del mercado.</h5>
            </div>
            <div class="validation-container">
                <div class="brand-list">
                    <div class="brand">
                        <div class="brand-logo-container"><img src="../../../assets/svg/home/proveedores/konica_minolta_logo.svg" alt="Konica Minolta" class="brand-logo"></div>
                    </div>
                    <div class="brand">
                        <div class="brand-logo-container"><img src="../../../assets/svg/home/proveedores/epson.svg" alt="Epson" class="brand-logo epson"></div>
                    </div>
                    <div class="brand">
                        <div class="brand-logo-container"><img src="../../../assets/svg/home/proveedores/kyocera.svg" alt="Kyocera" class="brand-logo"></div>
                    </div>
                    <div class="brand">
                        <div class="brand-logo-container"><img src="../../../assets/svg/home/proveedores/fujifilm_logo.svg" alt="Fujifilm" class="brand-logo fujifilm"></div>
                    </div>
                </div>
                <div class="brand-list">
                    <div class="brand">
                        <div class="brand-logo-container"><img src="../../../assets/svg/home/proveedores/konica_minolta_logo.svg" alt="Konica Minolta" class="brand-logo"></div>
                    </div>
                    <div class="brand">
                        <div class="brand-logo-container"><img src="../../../assets/svg/home/proveedores/epson.svg" alt="Epson" class="brand-logo epson"></div>
                    </div>
                    <div class="brand">
                        <div class="brand-logo-container"><img src="../../../assets/svg/home/proveedores/kyocera.svg" alt="Kyocera" class="brand-logo"></div>
                    </div>
                    <div class="brand">
                        <div class="brand-logo-container"><img src="../../../assets/svg/home/proveedores/fujifilm_logo.svg" alt="Fujifilm" class="brand-logo fujifilm"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-content">
    <div class="package-rent-deals">
        <div class="container py-5">
            <div class="promotion-header">
                <div class="promotion-title-container">
                    <h1 class="section-title">Paquetes de Renta en Oferta</h1>
                    <h5 class="section-subtitle">Ofertas increíbles en alquiler de impresoras para cualquier proyecto.</h5>
                </div>
                <div class="promotion-links"><button class="button button-outlined-primary button-rounded" routerLink="/promociones"><span class="button-label">Ver Promociones</span></button></div>
            </div>
            <app-package-rent-promotion-list></app-package-rent-promotion-list>
        </div>
    </div>
</section>

<!-- <section class="package-rent-deals" id="package-rent-deals">
    <div class="container py-5">
        <div class="promotion-header">
            <div class="promotion-title-container">
                <h1 class="section-title">Paquetes de Renta en Oferta</h1>
                <h5 class="section-subtitle">Ahorra en equipos de alta calidad para todas tus necesidades de impresión.</h5>
            </div>
            <div class="promotion-links"><button class="button button-outlined-primary button-rounded" routerLink="/printers/list"><span class="button-label">Ver Multifuncionales</span></button></div>
        </div>
        <app-package-rent-promotion-list></app-package-rent-promotion-list>
    </div>
</section>

<section class="section-content" id="catalog">
    <div class="container py-5">
        <div class="products-body">
            <div class="section-title">
                <h1>Productos</h1>
            </div>
            <div class="product-wrapper">
                <div class="product-container" [class.active]="isMultifuncionalesActive">
                    <div class="list-header" (click)="isMultifuncionalesActive = !isMultifuncionalesActive">
                        <h3 class="catalog-title">Multifuncionales</h3>
                        <div class="icon-dropdown"><i class="pi pi-chevron-up" [class.rotate]="isMultifuncionalesActive"></i></div>
                    </div>
                    <div class="list-wrapper">
                        <div class="list-container">
                            <div class="list">
                                <h5 class="list-title">Marcas</h5>
                                <ul>
                                    <a *ngFor="let brand of printerProducts.brands"><li (click)="navigateToPrinterList('brand', brand.name)">{{brand.name}}</li></a>
                                </ul>
                            </div>
                            <div class="list">
                                <h5 class="list-title">Categorias</h5>
                                <ul>
                                    <a *ngFor="let category of printerProducts.categories"><li (click)="navigateToPrinterList('categories', category.name)">{{category.name}}</li></a>
                                </ul>
                            </div>
                            <div class="list">
                                <h5 class="list-title">Tamaños de Papel</h5>
                                <ul>
                                    <a *ngFor="let printSize of printerProducts.printSizes"><li (click)="navigateToPrinterList('printSizes', printSize.name)">{{printSize.name}}</li></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog-container" [class.active]="isConsumiblesActive">
                    <div class="list-header" (click)="isConsumiblesActive = !isConsumiblesActive">
                        <h3 class="catalog-title">Consumibles</h3>
                        <div class="icon-dropdown"><i class="pi pi-chevron-up" [class.rotate]="isConsumiblesActive"></i></div>
                    </div>
                    <div class="list-wrapper">
                        <div class="list-container">
                            <div class="list">
                                <h5 class="list-title">Marcas</h5>
                                <ul>
                                    <a *ngFor="let brand of consumableProducts.brands"><li (click)="navigateToConsumableList('brand', brand.name)">{{brand.name}}</li></a>
                                </ul>
                            </div>
                            <div class="list">
                                <h5 class="list-title">Categorias</h5>
                                <ul>
                                    <a *ngFor="let category of consumableProducts.categories"><li (click)="navigateToConsumableList('categories', category.value)">{{category.name}}</li></a>
                                </ul>
                            </div>
                            <div class="list">
                                <h5 class="list-title">Colores</h5>
                                <ul>
                                    <a *ngFor="let color of consumableProducts.colors"><li (click)="navigateToConsumableList('color', color.value)">{{color.name}}</li></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <section class="section-content" id="categorias">
    <div class="container py-5">
        <div class="categoria-body">
            <div class="section-title">
                <h1>Categorias de Multifuncionales</h1>
            </div>
            <div class="box-container">
                <div class="swiper-container">
                    <swiper class="swiper-categories pb-3" [config]="configCategories">
                        <ng-template swiperSlide *ngFor="let images of categories">
                            <div class="category-card" (click)="navigateToProductList(images.name)">
                                <div class="image">
                                    <img [src]="images.img" alt="images.name">
                                </div>
                                <div class="body">
                                    <h4 class="title mb-0">{{images.name}}</h4>
                                    <i class="pi pi-arrow-right" id="translate-icon"></i>
                                </div>
                            </div>
                        </ng-template>
                    </swiper>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="section-content" id="servicio">
    <div class="servicio">
        <div class="container servicio-container">
            <div class="servicio-body py-5">
                <div class="section-title">
                    <h1>Servicio Técnico</h1>
                </div>
                <div class="servicio-content">
                    <div class="servicio-item" (mouseover)="changeImage('../../../assets/img/home/soluciones-servicios/arreglando-impresora.jpg'); setActiveItem(1)" [class.active]="activeItem === 1 || isSmallScreen">
                        <div class="icon-container" [class.displayNone]="isSmallScreen"><i class="pi pi-cog"></i></div>
                        <div class="servicio-content-image">
                            <div class="servicio-image"><img src="../../../assets/img/home/soluciones-servicios/arreglando-impresora.jpg" alt="arreglando-impresora" [class.displayNone]="!isSmallScreen"></div>
                        </div>
                        <div class="servicio-item-body">
                            <div class="servicio-item-title">
                                <h2>Reparación de equipos de impresión</h2>
                            </div>
                            <div class="servicio-item-content">
                                <h5 class="section-subtitle">Si tu impresora presenta alguna falla, error o desperfecto, nosotros la reparamos con rapidez y eficacia.</h5>
                                <br>
                                <p>Contamos con técnicos especializados y certificados por las principales marcas de impresoras, como Konica Minolta, Kyocera y Epson. Además, tenemos un extenso inventario de refacciones, piezas y consumibles, para que tu
                                    impresora quede funcionando.</p>
                            </div>
                            <!-- <div class="servicio-item-action">
                                <button class="button button-rounded button-primary button-raised"><span class="button-label">Agenda tu reparación</span></button>
                            </div> -->
                        </div>
                    </div>
                    <div class="servicio-item" (mouseover)="changeImage('../../../assets/img/home/soluciones-servicios/mantenimiento-correctivo.jpg'); setActiveItem(2)" [class.active]="activeItem === 2 || isSmallScreen">
                        <div class="icon-container" [class.displayNone]="isSmallScreen"><i class="pi pi-exclamation-triangle"></i></div>
                        <div class="servicio-content-image">
                            <div class="servicio-image"><img src="../../../assets/img/home/soluciones-servicios/mantenimiento-correctivo.jpg" alt="mantenimiento-correctivo" [class.displayNone]="!isSmallScreen"></div>
                        </div>
                        <div class="servicio-item-body">
                            <div class="servicio-item-title">
                                <h2>Mantenimiento preventivo y correctivo</h2>
                            </div>
                            <div class="servicio-item-content">
                                <h5 class="section-subtitle">Para evitar que tu impresora se dañe o pierda calidad, te ofrecemos un servicio de mantenimiento preventivo y correctivo.</h5>
                                <br>
                                <p>Con este servicio, revisamos periódicamente el estado de tu impresora, limpiamos sus componentes, ajustamos sus configuraciones, y reemplazamos las piezas que lo requieran. Así, podrás extender la vida útil y el buen funcionamiento
                                    de tu equipo de impresión.</p>
                            </div>
                            <!-- <div class="servicio-item-action">
                                <button class="button button-rounded button-primary button-raised"><span class="button-label">Agenda tu mantenimiento</span></button>
                            </div> -->
                        </div>
                    </div>
                    <div class="servicio-item" (mouseover)="changeImage('../../../assets/img/home/soluciones-servicios/poliza-de-servicio.jpg'); setActiveItem(3)" [class.active]="activeItem === 3 || isSmallScreen">
                        <div class="icon-container" [class.displayNone]="isSmallScreen"><i class="pi pi-file"></i></div>
                        <div class="servicio-content-image">
                            <div class="servicio-image"><img src="../../../assets/img/home/soluciones-servicios/poliza-de-servicio.jpg" alt="pieza-impresora" [class.displayNone]="!isSmallScreen"></div>
                        </div>
                        <div class="servicio-item-body">
                            <div class="servicio-item-title">
                                <h2>Pólizas de servicio técnico todo incluido</h2>
                            </div>
                            <div class="servicio-item-content">
                                <h5 class="section-subtitle">Si quieres tener la tranquilidad de contar con un servicio técnico de impresoras siempre disponible y a un precio fijo, te recomendamos contratar una de nuestras pólizas de servicio técnico todo incluido.</h5>
                                <br>
                                <p>Con estas pólizas, tendrás acceso ilimitado a nuestro servicio de reparación y mantenimiento, así como a todos los consumibles y refacciones que necesites. Además, tendrás prioridad en la atención, soporte técnico telefónico
                                    y en línea, y garantía de satisfacción.</p>
                            </div>
                            <!-- <div class="servicio-item-action">
                                <button class="button button-rounded button-primary button-raised"><span class="button-label">Solicita tu póliza</span></button>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="servicio-content-image">
                <div class="servicio-image"><img [src]="imageSrc" alt="tecnico-impresoras" [class.displayNone]="isSmallScreen" style="border-radius: 0;"></div>
            </div>
        </div>
    </div>
</section>

<section class="section-content" id="consumibles">
    <div class="consumible">
        <!-- <div class="solucion-image"><img src="../../../assets/img/home/soluciones-servicios/consumibles.jpg" alt="consumibles-impresoras"></div> -->
        <div class="container py-5 consumible-container">
            <div class="consumible-body">
                <div class="consumible-content">
                    <div class="consumible-title">
                        <h1>Consumibles y Refacciones</h1>
                    </div>
                    <div class="consumible-subtitle">
                        <h4>Ofrecemos los mejores consumibles y refacciones de las marcas Konica Minolta, Kyocera, Fuji y Epson.</h4>
                        <h5>Productos OEM y Genéricos tales como: tóner, kit de mantenimiento, reveladores, fusores, rodillos de calor, rodillos de impresión, gomas, bandas y más.</h5>
                    </div>
                    <div class="consumible-action">
                        <button class="button button-rounded button-primary button-raised" routerLink="/consumables/intro"><span class="button-label">Ver Consumibles</span></button>
                    </div>
                </div>
                <div class="consumible-features">
                    <div class="consumible-items-container">
                        <div class="consumible-item-card" id="consumibleStock">
                            <i class="pi pi-box"></i>
                            <p>Contamos con un buen stock de refacciones y consumibles, para que siempre encuentres lo que necesitas.</p>
                        </div>
                        <div class="consumible-item-card" id="consumiblePrecio">
                            <i class="pi pi-dollar"></i>
                            <p>Te ofrecemos precios competitivos y garantía de calidad, para que ahorres dinero y tiempo.</p>
                        </div>
                        <div class="consumible-item-card" id="consumibleEnvio">
                            <i class="pi pi-shopping-cart"></i>
                            <p>Te enviamos tus productos a todo México, con rapidez y seguridad, para que los recibas en tu domicilio u oficina.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="consumible-deals">
        <div class="container py-5">
            <div class="promotion-header">
                <div class="promotion-title-container">
                    <h1 class="section-title">Consumibles en Oferta</h1>
                    <h5 class="section-subtitle">Ahorra en equipos de alta calidad para todas tus necesidades de impresión.</h5>
                </div>
                <div class="promotion-links"><button class="button button-outlined-primary button-rounded" routerLink="/promociones"><span class="button-label">Ver Promociones</span></button></div>
            </div>
            <consumables-promotion-list></consumables-promotion-list>
        </div>
    </div>
</section>

<section class="section-content" id="equipos">
    <div class="equipos">
        <div class="container py-5">
            <div class="equipos-container">
                <div class="equipos-body">
                    <div class="section-header">
                        <h1 class="section-title">Equipos de Impresión</h1>
                        <h4 class="section-subtitle">¿Quieres mejorar los tiempos, la calidad y el presupuesto de tus trabajos de impresión?</h4>
                    </div>
                    <div class="equipos-content-image-mobile" [class.displayNone]="!isMediumScreen">
                        <div class="equipos-image"><img src="../../../assets/img/home/printers/accurio-jet-6000.jpg" alt="AccurioJet 6000"></div>
                    </div>
                    <div class="equipos-content">
                        <div class="equipos-item" id="velocidad">
                            <i class="pi pi-check-circle"></i>
                            <p>Impresoras con velocidad, eficiencia y nitidez incomparables que facilitan los flujos de trabajo de tu negocio.</p>
                        </div>
                        <div class="equipos-item" id="impresion">
                            <i class="pi pi-check-circle"></i>
                            <p>Posibilidad de imprimir documentos de alta calidad en segundos, reducir los costes de mantenimiento, administrar tus impresiones y mucho más.</p>
                        </div>
                        <div class="equipos-item" id="mantenimiento">
                            <i class="pi pi-check-circle"></i>
                            <p>Reducir los costes de mantenimiento, gracias a nuestro sistema de consumibles continua y nuestro servicio técnico especializado.</p>
                        </div>
                    </div>
                    <div class="equipos-action">
                        <button class="button button-rounded button-primary button-raised" routerLink="/printers/intro"><span class="button-label">Ver Multifuncionales</span></button>
                    </div>
                </div>
                <div class="equipos-content-image" [class.displayNone]="isMediumScreen">
                    <div class="equipos-image"><img src="../../../assets/img/home/printers/accurio-jet-6000.jpg" alt="AccurioJet 6000"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="equipos-deals">
        <div class="container py-5">
            <div class="promotion-header">
                <div class="promotion-title-container">
                    <h1 class="section-title">Multifuncionales en Oferta</h1>
                    <h5 class="section-subtitle">Ahorra en equipos de alta calidad para todas tus necesidades de impresión.</h5>
                </div>
                <div class="promotion-links"><button class="button button-outlined-primary button-rounded" routerLink="/promociones"><span class="button-label">Ver Promociones</span></button></div>
            </div>
            <printer-promotion-list></printer-promotion-list>
        </div>
    </div>
</section>

<section class="section-content" id="softwares">
    <div class="software">
        <!-- <div class="software-image"><img src="../../../assets/img/home/soluciones-servicios/gestion-documental-impresion.jpg" alt="document-administration"></div> -->
        <div class="container py-5 software-container">
            <div class="software-body">
                <div class="software-header">
                    <h1 class="software-title">Gestión Documental y de Impresión</h1>
                    <h4 class="software-subtitle">Servicios esenciales para optimizar el flujo de trabajo y la seguridad de tu información.</h4>
                    <h5>Con estos servicios, puedes digitalizar, almacenar, compartir y proteger tus documentos de forma eficiente y ecológica. Además, puedes controlar y reducir los costos de impresión, mejorar la productividad y la colaboración, y acceder
                        a tus documentos desde cualquier lugar, dispositivo y momento.</h5>
                </div>
                <div class="software-content">
                    <div class="software-card">
                        <div class="software-card-image">
                            <img src="../../../assets/svg/home/proveedores/papercut.svg" alt="papercut">
                        </div>
                        <p class="software-card-text">PaperCut es un software que te ayuda a gestionar y monitorizar la impresión en tu organización.</p>
                        <!-- <div class="software-card-actions">
                            <button class="button button-rounded button-primary button-raised" routerLink="/software/intro"><span class="button-label">Solicitar Demostración</span></button>
                        </div> -->
                        <ul class="software-card-list">
                            <div class="item">
                                <i class="pi pi-chart-pie"></i>
                                <li> Establecer cuotas, políticas y restricciones de impresión</li>
                            </div>
                            <div class="item">
                                <i class="pi pi-sitemap"></i>
                                <li> Asignar costos por departamento o proyecto</li>
                            </div>
                            <div class="item">
                                <i class="pi pi-file"></i>
                                <li>Generar informes detallados</li>
                            </div>
                            <div class="item">
                                <i class="pi pi-mobile"></i>
                                <li>Habilitar la impresión móvil y segura</li>
                            </div>
                        </ul>
                    </div>
                    <div class="software-card">
                        <div class="software-card-image">
                            <img src="../../../assets/svg/home/proveedores/ysoft.svg" alt="ysoft" id="ysoft">
                        </div>
                        <p class="software-card-text">Ysoft es un software que te ofrece soluciones de impresión, escaneo y administración de dispositivos.</p>
                        <!-- <div class="software-card-actions">
                            <button class="button button-rounded button-primary button-raised" routerLink="/software/intro"><span class="button-label">Solicitar Demostración</span></button>
                        </div> -->
                        <ul class="software-card-list">
                            <div class="item">
                                <i class="pi pi-sync"></i>
                                <li>Automatizar los procesos de escaneo y digitalización</li>
                            </div>
                            <div class="item">
                                <i class="pi pi-shield"></i>
                                <li>Mejorar la seguridad y el cumplimiento de los documentos</li>
                            </div>
                            <div class="item">
                                <i class="pi pi-bolt"></i>
                                <li> Reducir el desperdicio y el consumo de energía</li>
                            </div>
                            <div class="item">
                                <i class="pi pi-cog"></i>
                                <li>Incrementar la productividad con flujos de trabajo automatizados</li>
                            </div>
                        </ul>
                    </div>
                    <div class="software-card">
                        <div class="software-card-image">
                            <img src="../../../assets/svg/home/proveedores/kyocera.svg" alt="kyocera">
                        </div>
                        <p class="software-card-text">KFS es un software que te permite gestionar y mantener tus equipos de impresión de forma remota.</p>
                        <!-- <div class="software-card-actions">
                            <button class="button button-rounded button-primary button-raised" routerLink="/software/intro"><span class="button-label">Solicitar Demostración</span></button>
                        </div> -->
                        <ul class="software-card-list">
                            <div class="item">
                                <i class="pi pi-list"></i>
                                <li>Monitorear el estado y el rendimiento de tus dispositivos</li>
                            </div>
                            <div class="item">
                                <i class="pi pi-bell"></i>
                                <li>Recibir alertas y notificaciones</li>
                            </div>
                            <div class="item">
                                <i class="pi pi-check-circle"></i>
                                <li>Realizar diagnósticos y actualizaciones</li>
                            </div>
                            <div class="item">
                                <i class="pi pi-wrench"></i>
                                <li>Optimizar el servicio técnico</li>
                            </div>
                        </ul>
                    </div>
                    <div class="software-card">
                        <div class="software-card-image">
                            <img src="../../../assets/svg/home/proveedores/docuware.svg" alt="docuware">
                        </div>
                        <p class="software-card-text">Docuware es un software que te facilita la gestión documental en la nube.</p>
                        <!-- <div class="software-card-actions">
                            <button class="button button-rounded button-primary button-raised" routerLink="/software/intro"><span class="button-label">Solicitar Demostración</span></button>
                        </div> -->
                        <ul class="software-card-list">
                            <div class="item">
                                <i class="pi pi-cloud-upload"></i>
                                <li>Almacenar, organizar, buscar y compartir tus documentos de forma segura y rápida</li>
                            </div>
                            <div class="item">
                                <i class="pi pi-cog"></i>
                                <li>Crear flujos de trabajo automatizados</li>
                            </div>
                            <div class="item">
                                <i class="pi pi-book"></i>
                                <li>Cumplir con las normativas legales y fiscales</li>
                            </div>
                            <div class="item">
                                <i class="pi pi-sync"></i>
                                <li>Integrar Docuware con otras aplicaciones</li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="section-content" id="clients">
    <div class="container py-5">
        <div class="clients-body">
            <div class="clients-header">
                <h1 class="clients-title">Nuestros principales clientes</h1>
                <h5 class="clients-subtitle">Nos enorgullece trabajar con una amplia gama de clientes que confían en nuestras soluciones de tecnología y de impresión. Gracias a nuestras alianzas con las marcas líderes del mercado, ofrecemos productos de la más alta calidad y un soporte
                    técnico excepcional, asegurando el éxito y la satisfacción de nuestros clientes.</h5>
            </div>
            <div class="clients-container">
                <div class="clients-list">
                    <div class="client">
                        <div class="client-logo-container"><img src="../../../assets/img/home/logo-clientes/Blanco/lg-electronics-white.svg" alt="LG" class="client-logo"></div>
                    </div>
                    <div class="client">
                        <div class="client-logo-container"><img src="../../../assets/img/home/logo-clientes/Blanco/risoul-white.svg" alt="Risoul" class="client-logo"></div>
                    </div>
                    <div class="client">
                        <div class="client-logo-container"><img src="../../../assets/img/home/logo-clientes/Blanco/ryasa-white.svg" alt="Ryasa" class="client-logo"></div>
                    </div>
                    <div class="client">
                        <div class="client-logo-container"><img src="../../../assets/img/home/logo-clientes/Blanco/semex-white.svg" alt="Semex" class="brand-logo semex"></div>
                    </div>
                    <div class="client">
                        <div class="client-logo-container"><img src="../../../assets/img/home/logo-clientes/Blanco/universidad-tecmilenio-white.svg" alt="TecMilenio" class="brand-logo"></div>
                    </div>
                    <div class="client">
                        <div class="client-logo-container"><img src="../../../assets/img/home/logo-clientes/Blanco/vitro-white.svg" alt="Grupo Vitro" class="brand-logo vitro"></div>
                    </div>
                    <div class="client">
                        <div class="client-logo-container"><img src="../../../assets/img/home/logo-clientes/Blanco/thomas-betts-white.svg" alt="Thomas & Betts" class="brand-logo"></div>
                    </div>
                </div>
                <div class="clients-list">
                    <div class="client">
                        <div class="client-logo-container"><img src="../../../assets/img/home/logo-clientes/Blanco/lg-electronics-white.svg" alt="LG" class="client-logo"></div>
                    </div>
                    <div class="client">
                        <div class="client-logo-container"><img src="../../../assets/img/home/logo-clientes/Blanco/risoul-white.svg" alt="Risoul" class="client-logo"></div>
                    </div>
                    <div class="client">
                        <div class="client-logo-container"><img src="../../../assets/img/home/logo-clientes/Blanco/ryasa-white.svg" alt="Ryasa" class="client-logo"></div>
                    </div>
                    <div class="client">
                        <div class="client-logo-container"><img src="../../../assets/img/home/logo-clientes/Blanco/semex-white.svg" alt="Semex" class="brand-logo semex"></div>
                    </div>
                    <div class="client">
                        <div class="client-logo-container"><img src="../../../assets/img/home/logo-clientes/Blanco/universidad-tecmilenio-white.svg" alt="TecMilenio" class="brand-logo"></div>
                    </div>
                    <div class="client">
                        <div class="client-logo-container"><img src="../../../assets/img/home/logo-clientes/Blanco/vitro-white.svg" alt="Grupo Vitro" class="brand-logo vitro"></div>
                    </div>
                    <div class="client">
                        <div class="client-logo-container"><img src="../../../assets/img/home/logo-clientes/Blanco/thomas-betts-white.svg" alt="Thomas & Betts" class="brand-logo"></div>
                    </div>
                </div>
            </div>
            <div class="clients-container">
                <div class="clients-list reverse">
                    <div class="client">
                        <div class="client-logo-container"><img src="../../../assets/img/home/logo-clientes/Blanco/thomas-betts-white.svg" alt="Thomas & Betts" class="brand-logo"></div>
                    </div>
                    <div class="client">
                        <div class="client-logo-container"><img src="../../../assets/img/home/logo-clientes/Blanco/vitro-white.svg" alt="Grupo Vitro" class="brand-logo vitro"></div>
                    </div>
                    <div class="client">
                        <div class="client-logo-container"><img src="../../../assets/img/home/logo-clientes/Blanco/universidad-tecmilenio-white.svg" alt="TecMilenio" class="brand-logo"></div>
                    </div>
                    <div class="client">
                        <div class="client-logo-container"><img src="../../../assets/img/home/logo-clientes/Blanco/semex-white.svg" alt="Semex" class="brand-logo semex"></div>
                    </div>
                    <div class="client">
                        <div class="client-logo-container"><img src="../../../assets/img/home/logo-clientes/Blanco/ryasa-white.svg" alt="Ryasa" class="client-logo"></div>
                    </div>
                    <div class="client">
                        <div class="client-logo-container"><img src="../../../assets/img/home/logo-clientes/Blanco/risoul-white.svg" alt="Risoul" class="client-logo"></div>
                    </div>
                    <div class="client">
                        <div class="client-logo-container"><img src="../../../assets/img/home/logo-clientes/Blanco/lg-electronics-white.svg" alt="LG" class="client-logo"></div>
                    </div>
                </div>
                <div class="clients-list reverse">
                    <div class="client">
                        <div class="client-logo-container"><img src="../../../assets/img/home/logo-clientes/Blanco/thomas-betts-white.svg" alt="Thomas & Betts" class="brand-logo"></div>
                    </div>
                    <div class="client">
                        <div class="client-logo-container"><img src="../../../assets/img/home/logo-clientes/Blanco/vitro-white.svg" alt="Grupo Vitro" class="brand-logo vitro"></div>
                    </div>
                    <div class="client">
                        <div class="client-logo-container"><img src="../../../assets/img/home/logo-clientes/Blanco/universidad-tecmilenio-white.svg" alt="TecMilenio" class="brand-logo"></div>
                    </div>
                    <div class="client">
                        <div class="client-logo-container"><img src="../../../assets/img/home/logo-clientes/Blanco/semex-white.svg" alt="Semex" class="brand-logo semex"></div>
                    </div>
                    <div class="client">
                        <div class="client-logo-container"><img src="../../../assets/img/home/logo-clientes/Blanco/ryasa-white.svg" alt="Ryasa" class="client-logo"></div>
                    </div>
                    <div class="client">
                        <div class="client-logo-container"><img src="../../../assets/img/home/logo-clientes/Blanco/risoul-white.svg" alt="Risoul" class="client-logo"></div>
                    </div>
                    <div class="client">
                        <div class="client-logo-container"><img src="../../../assets/img/home/logo-clientes/Blanco/lg-electronics-white.svg" alt="LG" class="client-logo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <section class="section-content" id="beneficios">
    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <h1 class="section-title">Principales Beneficios</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="panel">
                    <p-panel iconPos="end">
                        <ng-template pTemplate="header">
                            <p class="panel-header">Soluciones Personalizadas</p>
                        </ng-template>
                        <ng-template pTemplate="icons">
                            <button pButton class="p-panel-header-icon p-link">
                                <span class="pi pi-briefcase" style="color: #3C5A94; font-size: 1.5em;"></span>
                            </button>
                        </ng-template>
                        <p>Contamos con gran variedad de equipos multifuncionales que se adapten a sus necesidades. Ayudándolo a eficientizar sus procesos de impresión y flujos de trabajo a un excelente costo.</p>
                    </p-panel>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="panel">
                    <p-panel iconPos="end">
                        <ng-template pTemplate="header">
                            <p class="panel-header">Monitoreo de equipos 24/7</p>
                        </ng-template>
                        <ng-template pTemplate="icons">
                            <button pButton class="p-panel-header-icon p-link">
                                <span class="pi pi-desktop" style="color: #4f46e5; font-size: 1.5em;"></span>
                            </button>
                        </ng-template>
                        <p>Con ayuda de software nos mantenemos al tanto sobre los estados de sus equipos ya sea nivel de tóner y vida útil de refacciones para poder brindarle un mejor servicio.</p>
                    </p-panel>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="panel">
                    <p-panel iconPos="end">
                        <ng-template pTemplate="header">
                            <p class="panel-header">Servicio al cliente</p>
                        </ng-template>
                        <ng-template pTemplate="icons">
                            <button pButton class="p-panel-header-icon p-link">
                                <span class="pi pi-user" style="color: #0d9488; font-size: 1.5em;"></span>
                            </button>
                        </ng-template>
                        <p>Cubrimos las necesidades del cliente y tenemos la infraestructura para darle un servicio de calidad con mejores tiempos de respuesta.</p>
                    </p-panel>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="panel">
                    <p-panel iconPos="end">
                        <ng-template pTemplate="header">
                            <p class="panel-header">Servicio Técnico</p>
                        </ng-template>
                        <ng-template pTemplate="icons">
                            <button pButton class="p-panel-header-icon p-link">
                                <span class="pi pi-cog" style="color: #475569; font-size: 1.5em;"></span>
                            </button>
                        </ng-template>
                        <p>Técnicos certificados por las principales marcas que atienden su equipo para que extender la duración y el buen funcionamiento logrando óptimas condiciones.</p>
                    </p-panel>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="panel">
                    <p-panel iconPos="end">
                        <ng-template pTemplate="header">
                            <p class="panel-header">Consumibles Garantizados</p>
                        </ng-template>
                        <ng-template pTemplate="icons">
                            <button pButton class="p-panel-header-icon p-link">
                                <span class="pi pi-shopping-bag" style="color: #ea580c; font-size: 1.5em;"></span>
                            </button>
                        </ng-template>
                        <p>Suministro de consumibles y refacciones para garantizar siempre un funcionamiento de sus equipos.</p>
                    </p-panel>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="panel">
                    <p-panel iconPos="end">
                        <ng-template pTemplate="header">
                            <p class="panel-header">Contratos Flexibles</p>
                        </ng-template>
                        <ng-template pTemplate="icons">
                            <button pButton class="p-panel-header-icon p-link">
                                <span class="pi pi-money-bill" style="color: #16a34a; font-size: 1.5em;"></span>
                            </button>
                        </ng-template>
                        <p>Nos adaptamos a los consumos de cada cliente haciendo un contrato a la medida de sus necesidades.</p>
                    </p-panel>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="panel">
                    <p-panel iconPos="end">
                        <ng-template pTemplate="header">
                            <p class="panel-header">Software para tu empresa</p>
                        </ng-template>
                        <ng-template pTemplate="icons">
                            <button pButton class="p-panel-header-icon p-link">
                                <span class="pi pi-database" style="color: #0891b2; font-size: 1.5em;"></span>
                            </button>
                        </ng-template>
                        <p>Socios de negocio de las principales plataformas de gestión documental, flujos de trabajo, y digitalización.</p>
                    </p-panel>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="panel">
                    <p-panel iconPos="end">
                        <ng-template pTemplate="header">
                            <p class="panel-header">Cobertura nivel nacional</p>
                        </ng-template>
                        <ng-template pTemplate="icons">
                            <button pButton class="p-panel-header-icon p-link">
                                <span class="pi pi-globe" style="color: #0284c7; font-size: 1.5em;"></span>
                            </button>
                        </ng-template>
                        <p>Contamos con servicio en las principales ciudades de toda la república mexicana</p>
                    </p-panel>
                </div>
            </div>
        </div>
    </div>
</section> -->