@import "src/styles.scss";
@import "src/_variables.scss";
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
@import 'swiper/scss/autoplay';
.hero-background {
    background: linear-gradient(-45deg, #FFF, #DFE9F3, #F8FAFC, #CFDEED);
    background-size: 400% 400%;
    width: 100%;
    height: calc(100vh - 84px);
    animation: gradient 10s ease infinite;
    position: relative;
     ::before {
        filter: blur(10px);
    }
}

// .hero-background {
//     background: rgb(255, 255, 255);
//     background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(223, 233, 243, 1) 100%);
//     width: 100%;
//     height: calc(100% - 50px);    
// }
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.row-align-hero {
    height: 100%;
    align-items: top;
    @media (min-width: 768px) {
        align-items: center;
    }
}

.hero-title {
    font-size: 2.2em;
    font-weight: 600;
    line-height: 1;
    color: #475569;
    transform: scale(0.9) translateX(-10%);
    animation: fadeInAndScaleUp 1s ease-in-out forwards;
    position: relative;
    z-index: 1;
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 340px) {
        font-size: 3em;
    }
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        font-size: 3.5em;
    }
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        font-size: 3.6em;
    }
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        font-size: 3.8em;
    }
    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        font-size: 5em;
    }
}

@keyframes fadeInAndScaleUp {
    0% {
        opacity: 0;
        transform: scale(0.9) translateX(-20%);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateX(0%);
    }
}

.hero-message {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.3;
    color: #434655;
    opacity: 0;
    animation: fadeIn 1s ease-out 1s forwards;
    position: relative;
    z-index: 2;
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 340px) {
        font-size: 1.16em;
    }
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        font-size: 1.2em;
    }
}

.action-container {
    opacity: 0;
    animation: fadeIn 1s ease-out 1s forwards;
    position: relative;
    z-index: 2;
    @media (min-width: 992px) {
        button:nth-of-type(2) {
            margin-left: 10px;
        }
    }
    @media (min-width: 768px) and (max-width: 991px) {
        button {
            width: 100%;
            margin-bottom: 10px;
        }
    }
    @media (min-width: 362px) and (max-width: 767px) {
        button:nth-of-type(2) {
            margin-left: 10px;
        }
    }
    @media (max-width: 361px) {
        button {
            width: 100%;
            margin-bottom: 10px;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hero-image .absolute {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 640px;
    opacity: 0;
    animation: fadeInAndGoUp .5s ease-in-out forwards;
}

.section-content {
    opacity: 1;
    /* Set the section to be invisible by default */
    transition: opacity 1s ease-in-out;
    /* Add a transition for a smooth fade-in effect */
}

.section-content.animate {
    opacity: 1;
    /* When the 'animate' class is added, the section becomes visible */
}

.section-title {
    font-weight: 600;
    font-size: 2em;
    color: $section-title;
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        font-size: 2.5em;
    }
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        font-size: 3em;
        text-align: left;
    }
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        font-size: 3.5em;
    }
    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        font-size: 3em;
    }
    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {
        font-size: 3em;
    }
}

.section-description {
    font-weight: 400;
    font-size: 1.25em;
    line-height: 1.3;
    color: #64748B;
    text-align: center;
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        text-align: left;
        font-size: 1.25em;
    }
}

#proveedores {
    opacity: 0;
    animation: fadeInAndGoUp 1s ease-in-out 1s forwards;
    img {
        width: 15%;
        aspect-ratio: 3/2;
        object-fit: contain;
        &:hover {
            transition: transform .3s ease-in;
            transform: scale(1.2);
        }
    }
}

@keyframes fadeInAndGoUp {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.link-wrap {
    position: fixed;
    width: calc(100% - 30px);
    bottom: 10px;
    left: 15px;
    z-index: 9999;
}

.box-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .swiper-container {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        z-index: 1;
        // height: 100%;
        .swiper-slide {
            background-color: #FFF;
        }
    }
}

.product-swiper-next-btn {
    position: absolute;
    top: 28%;
    right: 0;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
    @media(min-width: 1024px) {
        opacity: 1;
        visibility: visible;
    }
}

.category-card {
    height: auto;
    width: 100%;
    background-color: #fff;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #CBD5E1;
    cursor: pointer;
    &:hover {
        .body {
            #translate-icon {
                transition: transform .2s ease-in-out;
                transform: translate(5px);
            }
            background: #ebedf0;
        }
    }
    .image {
        background-color: #fff;
        width: 100%;
        max-height: 250px;
        border-radius: 6px 6px 0px 0px;
        overflow: hidden;
        display: flex;
        img {
            object-fit: scale-down;
            width: 100%;
            height: 200px;
        }
    }
    .body {
        /* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 17.5px;
        gap: 7px;
        width: 100%;
        height: 60px;
        /* light-50 */
        background: #F8FAFC;
        border-top: 1px solid #CBD5E1;
        border-radius: 0px 0px 6px 6px;
        /* Inside auto layout */
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        .title {
            color: #1E293B;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
        }
        // &:hover {
        //     #translate-icon {
        //         transition: transform .2s ease-in-out;
        //         transform: translate(5px);
        //     }
        //     background: #ebedf0;
        // }
    }
}

// #translate-icon {
//     transition: transform .1s ease-out;
//     &:hover {
//         transform: translate(10px);
//     }
// }
:host ::ng-deep .p-carousel-item {
    max-height: 100%;
    padding: 10px;
}

:host ::ng-deep .p-carousel-indicator {
    .p-link {
        border-radius: 50% !important;
        height: .8rem !important;
        width: .8rem !important;
    }
}

:host ::ng-deep p-tabview.p-element {
    .p-tabview.p-component {
        border-radius: 6px;
        border: #dee2e6 1px solid;
    }
    .p-tabview-nav-container {
        border-radius: 6px 6px 0 0;
    }
    .p-tabview-panels {
        background-color: #fff;
    }
}

.tab-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    .tab-content {
        flex-grow: 4;
        p,
        li {
            font-size: 1em;
            line-height: 1.25em;
            // X-Large devices (large desktops, 1200px and up)
            @media (min-width: 1200px) {
                font-size: 1.2em;
                line-height: 1.5em;
            }
        }
    }
    .tab-action {}
}

.tab-image {
    img {
        border-radius: 10px;
        width: 100%;
    }
}

.light-50 {
    background-color: #f8f9fa;
}

.light-200 {
    background-color: #F8FAFC;
}

.indigo-500 {
    background-color: #6366F1;
}

.dark-blue-secondary {
    background-color: #172A3A;
}

.subheader {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
}

.svg-container {
    display: flex;
    width: 100%;
    height: auto;
    transition: transform .5s ease-out;
    justify-content: center;
    img {
        width: 100px;
        height: 100px;
    }
     :hover {
        transform: scale(1.05);
    }
}

.panel {
    margin-bottom: 20px;
}

:host ::ng-deep p-panel {
    .p-panel-header {
        p {
            margin-bottom: 0;
            font-weight: 600;
            color: #1E293B;
        }
    }
    .p-panel-content {
        min-height: 160px;
        // Small devices (landscape phones, 576px and up)
        @media (max-width: 768px) {
            min-height: 100%;
        }
    }
}