@import "src/styles.scss";
@import "src/_variables.scss";
.hero-background {
    background: linear-gradient(-45deg, #FFF, #DFE9F3, #F8FAFC, #CFDEED);
    background-size: 400% 400%;
    width: 100%;
    height: calc(85vh - 84px);
    animation: gradient 10s ease infinite;
    position: relative;
    overflow: hidden;
     ::before {
        filter: blur(10px);
    }
}

.hero-container {
    width: 100%;
    height: 100%;
    max-width: 1320px;
    /* This is the default max-width for Bootstrap's .container class on large screens */
    margin-right: auto;
    margin-left: auto;
    @media (min-width: 576px) {
        .hero-container {
            max-width: 540px;
        }
    }
    @media (min-width: 768px) {
        .hero-container {
            max-width: 720px;
        }
    }
    @media (min-width: 992px) {
        .hero-container {
            max-width: 960px;
        }
    }
    @media (min-width: 1200px) {
        .hero-container {
            max-width: 1140px;
        }
    }
    @media (min-width: 1400px) {
        .hero-container {
            max-width: 1320px;
        }
    }
}

.hero-banner {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    .hero-message-container {
        position: relative;
        z-index: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 2em;
        .hero-message {
            display: flex;
            flex-direction: column;
            gap: 1em;
            padding: 1em 1em;
            .hero-title {
                font-size: 2.5em;
                font-weight: 600;
                line-height: 1;
                color: #475569;
                transform: scale(0.9) translateX(-10%);
                animation: fadeInAndScaleUp 1s ease-in-out forwards;
                position: relative;
                z-index: 1;
                // Small devices (landscape phones, 576px and up)
                @media (min-width: 340px) {
                    font-size: 3.2em;
                }
                // Small devices (landscape phones, 576px and up)
                @media (min-width: 576px) {
                    font-size: 3.5em;
                }
                // Medium devices (tablets, 768px and up)
                @media (min-width: 768px) {
                    font-size: 3.6em;
                }
                // Large devices (desktops, 992px and up)
                @media (min-width: 992px) {
                    font-size: 3.8em;
                }
                // X-Large devices (large desktops, 1200px and up)
                @media (min-width: 1200px) {
                    font-size: 4em;
                }
            }
            .hero-subtitle {
                font-size: 20px;
                width: 100%;
                font-weight: 500;
                line-height: 30px;
                color: #434655;
                opacity: 0;
                animation: fadeIn 1s ease-out 1s forwards;
                // Small devices (landscape phones, 576px and up)
                @media (min-width: 425px) and (max-width: 1024px) {
                    width: 100%;
                }
                @media (min-width: 1024px) {
                    width: 100%;
                }
            }
            .action-container {
                opacity: 0;
                animation: fadeIn 1s ease-out 1s forwards;
                @media (max-width: 361px) {
                    button {
                        width: 100%;
                        margin-bottom: 10px;
                    }
                }
            }
            @media(min-width: 768px) {
                padding: 2em 2em;
            }
        }
        .proveedores {
            opacity: 0;
            animation: fadeInAndGoUp 1s ease-in-out 1s forwards;
            display: none;
            align-self: flex-start;
            img {
                width: 15%;
                aspect-ratio: 3/2;
                object-fit: contain;
                &:hover {
                    transition: transform .3s ease-in;
                    transform: scale(1.2);
                }
            }
            @media (min-width: 768px) and (max-width: 1024px) {
                width: 100% !important; // Add this line
            }
            @media(min-width: 768px) {
                display: block;
            }
        }
        @media (min-width: 768px) and (max-width: 1024px) {
            width: 100% !important; // Add this line
            height: 100% !important; // Add this line
            justify-content: center;
            align-items: flex-start;
            padding: 1em 1em;
        }
        @media(min-width: 1024px) {
            height: 100%;
            width: 50%;
            justify-content: center;
            align-items: flex-start;
            padding: 1em 1em;
        }
    }
    .hero-image-container {
        // Dimensions and display
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        // position: absolute;
        // top: 0;
        // right: 0;
        // bottom: 0;
        // left: 0;
        // z-index: 1;
        // Blob-shaped mask
        .blob-mask-container {
            position: absolute;
            right: 0;
            bottom: -33%;
            left: 90px;
            rotate: (135deg);
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;
            // animation: fadeInAndGoUp .5s ease-in-out forwards;
            .blob-mask {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: url('../../../assets/img/home/hero-banner/printer-top-transparent.png') no-repeat center center;
                background-size: contain;
                // clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            }
            @media (min-width: 426px) {
                display: none; // Add this line
            }
        }
        // Nested selectors
        .hero-image-large {
            max-width: 640px;
            height: 100%;
            opacity: 0;
            display: none; // Hidden by default
            animation: fadeInAndGoUp .5s ease-in-out forwards;
        }
        .hero-image-medium {
            width: 600px;
            opacity: 0;
            display: none; // Hidden by default
            transition: transform 0.5s ease-out;
            --scale-factor: 1;
            /* Default scale factor */
            --rotation-angle: 0deg;
            /* Default rotation angle */
            transform: translateY(-20%) scale(var(--scale-factor)) rotate(var(--rotation-angle));
            animation: fadeInAndGoUpAndScale .5s ease-in-out forwards;
        }
        .hero-image-mobile {
            width: 384px;
            opacity: 0;
            display: block; // Shown by default
            position: absolute;
            top: 0;
            left: 42px;
            transition: transform 0.5s ease-out;
            --scale-factor: 1;
            /* Default scale factor */
            --rotation-angle: 0deg;
            /* Default rotation angle */
            transform: translateY(-20%) scale(var(--scale-factor)) rotate(var(--rotation-angle));
            animation: fadeInAndGoUpAndScaleAndRotate 1.5s forwards;
        }
        // Media queries
        @media (min-width: 992px) and (max-width: 1024px) {
            .hero-image-large {
                display: none !important; // Shown on larger screens
            }
            .hero-image-medium {
                display: block !important;
                position: absolute;
                left: -40%;
                bottom: 20%;
                rotate: (133deg);
            }
        }
        @media (min-width: 768px) and (max-width: 992px) {
            .hero-image-large {
                display: none !important; // Shown on larger screens
            }
            .hero-image-medium {
                display: block !important;
                position: absolute;
                left: -70%;
                bottom: 20%;
                rotate: (133deg);
            }
        }
        @media (min-width: 768px) {
            // top: -50px;
            // left: 50px;
            .hero-image-large {
                display: block;
                right: 0%;
                bottom: 0%;
            }
            .hero-image-medium {
                display: none;
            }
            .hero-image-mobile {
                display: none !important; // Shown by default
            }
        }
        @media (min-width: 426px) and (max-width: 767px) {
            .hero-image-large {
                display: none !important;
            }
            .hero-image-medium {
                display: block !important;
                position: absolute;
                left: 0%;
                bottom: -15%;
                rotate: (145deg);
            }
            .hero-image-mobile {
                display: none !important; // Shown by default
            }
        }
    }
    @media (min-width: 768px) {
        flex-direction: row;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadeInAndScaleUp {
    0% {
        opacity: 0;
        transform: scale(0.9) translateX(-20%);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateX(0%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInAndGoUp {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fadeInAndGoUpAndScale {
    0% {
        opacity: 0;
        transform: translateY(-20%) scale(var(--scale-factor));
    }
    100% {
        opacity: 1;
        transform: translateY(0%) scale(var(--scale-factor));
    }
}

@keyframes fadeInAndGoUpAndScaleAndRotate {
    0% {
        opacity: 0;
        transform: translateY(-20%) scale(var(--scale-factor)) rotate(180deg);
    }
    100% {
        opacity: 1;
        transform: translateY(0%) scale(var(--scale-factor)) rotate(140deg);
    }
}

swiper {
    --swiper-navigation-color: #172a3a;
    --swiper-pagination-color: #3c81f6;
}

.section-content {
    opacity: 1;
    /* Set the section to be invisible by default */
    transition: opacity 1s ease-in-out;
    /* Add a transition for a smooth fade-in effect */
}

.section-content.animate {
    opacity: 1;
    /* When the 'animate' class is added, the section becomes visible */
}

.section-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: .5em;
    .section-title {
        font-weight: 600;
        margin: 0;
    }
    .section-subtitle {
        color: $secondary-text;
        font-weight: 500;
        margin: 0;
    }
}

.section-subtitle {
    font-weight: 500;
    color: $text;
    margin: 0;
}

.white {
    color: $white !important;
}

.section-description {
    font-weight: 400;
    font-size: 1.25em;
    line-height: 1.3;
    color: $text;
}

#features {
    background-color: $blue-800;
}

.features-body {
    display: flex;
    flex-direction: column;
    gap: 1em;
    .section-title {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        h1 {
            font-weight: 600;
            color: $white;
            margin: 0;
        }
    }
}

.features-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.feature-card {
    width: 100%;
    height: 100%;
    padding: 1.5em;
    text-decoration: none;
    border-radius: $border-radius;
    border: 2px solid $white;
    background-color: $white;
    transition: all .3s ease-in-out;
    &:hover {
        border: 2px solid $primary-color;
    }
    .feature-card-header {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 1em;
        .icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            padding: 10px;
            border-radius: 50%;
            // background-color: $gray-100;
            transition: all .3s ease-in-out;
            img {
                width: 2em;
                height: 2em;
                transition: all .3s ease-in-out; // Move this line here
            }
        }
    }
    .feature-card-body {
        margin-top: 1em;
        .feature-card-content {
            color: $secondary-text;
            font-weight: 500;
            margin: 0;
        }
    }
}

.icon-container .active {
    display: none;
}

.icon-container .inactive {
    display: block;
}

.feature-card:hover .icon-container .active {
    display: block;
}

.feature-card:hover .icon-container .inactive {
    display: none;
}

#validation {
    background-color: $gray-50;
}

.validation-header {
    display: flex;
    flex-direction: column;
    gap: .5em;
    .validation-title {
        margin: 0;
    }
    .validation-subtitle {
        color: $secondary-text;
        font-weight: 500;
    }
}

.validation-container {
    margin-top: 2em;
    --gap: 1rem;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.brand-list {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: slideBrands 30s linear infinite;
    .brand {
        flex: 0 0 auto; // Flex items don't grow or shrink but remain at their auto size
        i {
            text-align: center;
            font-size: 2.5em;
            color: $green-500;
        }
        span {
            color: $text;
            font-weight: 500;
            text-align: center;
            padding: .5em;
            min-height: 65px;
        }
        .brand-logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 65px;
            img {
                max-width: 200px;
                height: auto;
                object-fit: contain;
            }
        }
    }
}


/* Pause animation when reduced-motion is set */

@media (prefers-reduced-motion: reduce) {
    .brand-list {
        animation-play-state: paused !important;
    }
}

@keyframes slideBrands {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-50%); // Adjusted to -50% for the halfway point
    }
    100% {
        transform: translateX(-100%); // Ends when the duplicated content starts
    }
}

.epson {
    height: 35px !important;
}

.fujifilm {
    height: 30px !important;
}

.solucion-wrapper {
    display: flex;
    width: 100%;
    padding: 32px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
}

.solucion {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    .solucion-image {
        width: 100%;
        height: 100%;
        @media(min-width: 768px) {
            width: 500px;
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: $border-radius;
            @media(min-width: 768px) {
                max-width: 500px;
            }
        }
    }
    .solucion-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        width: 100%;
        flex-grow: 1;
        @media(max-width: 992px) {
            width: 100%;
        }
    }
    @media(max-width: 992px) {
        flex-direction: column;
    }
}

.solucion-title {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    border-bottom: 2px solid $gray-300;
    padding-bottom: $p-1;
    @media(min-width: 992px) {
        flex-direction: column;
        padding-bottom: $p-2;
        // border: none;
    }
    h2 {
        font-weight: 600;
        color: $text;
        margin: 0;
    }
}

.solucion-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    .solucion-item {
        display: flex;
        align-items: center;
        gap: 16px;
        // @media(max-width: 768px) {
        //     align-items: flex-start;
        //     flex-direction: column;
        // }
        img {
            width: 150px;
            max-height: 50px;
        }
        i {
            font-size: 32px;
        }
        p {
            margin: 0;
            color: $text;
        }
    }
    .solucion-action {
        display: flex;
        width: 100%;
        margin-top: $p-2;
    }
    .service-column-card {
        align-items: flex-start;
        flex-direction: row;
        @media(max-width: 992px) {
            // background-color: $gray-50;
            // border-radius: $border-radius;
            // border: 1px solid $light-200;
            flex-direction: column;
            padding: $p-2 0px;
            gap: 32px;
        }
    }
    .solucion-item-gestion {
        display: flex;
        align-items: flex-start;
        gap: 16px;
        flex: 1;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
        margin-top: $p-2;
        @media(min-width: 992px) {
            align-items: center;
            flex-direction: row;
        }
        img {
            width: 150px;
            max-height: 50px;
        }
        i {
            font-size: 32px;
        }
        p {
            margin: 0;
            color: $text;
        }
    }
    .solucion-items-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        margin-top: $p-3;
        @media(max-width: 768px) {
            flex-direction: column;
        }
        .solucion-item-card {
            display: flex;
            padding: 24px;
            flex-direction: row;
            align-items: center;
            gap: 16px;
            flex: 1 0 0;
            align-self: stretch;
            border-radius: 4px;
            transition: transform 0.3s ease-in-out;
            width: 100%;
            border: 1px solid $light-300;
            background-color: $light-50;
            @media(min-width: 769px) {
                width: 100px;
                flex-direction: column;
                align-items: flex-start;
                i {
                    font-size: 48px !important;
                }
            }
            i {
                font-size: 40px;
                // color: var(--info-color, #3B82F6);
            }
            p {
                margin: 0;
                font-weight: 600;
                color: $text;
            }
        }
    }
}

.solucion-item-card:hover {
    transform: scale(1.03);
}

.consumible {
    width: 100%;
    height: 100%;
    background-color: $blue-800;
    // background-image: linear-gradient(to bottom, rgba($blue-800, 1), rgba($blue-700, 1));
    // background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../../assets/img/home/soluciones-servicios/consumibles.jpg');
    background-size: cover;
    background-position: center;
    .consumible-container {
        .consumible-body {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1em;
            @media(max-width: 768px) {
                flex-direction: column;
            }
            .consumible-content {
                display: flex;
                flex: 2;
                flex-direction: column;
                align-items: flex-start;
                gap: 1em;
                max-width: 600px;
                .consumible-title {
                    display: flex;
                    align-items: flex-start;
                    width: 100%;
                    @media(min-width: 992px) {
                        flex-direction: column;
                    }
                    h1 {
                        font-weight: 600;
                        color: $white;
                        margin: 0;
                    }
                }
                .consumible-subtitle {
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    gap: 1em;
                    img {
                        width: 150px;
                        max-height: 50px;
                    }
                    i {
                        font-size: 32px;
                    }
                    p {
                        margin: 0;
                        color: $white;
                    }
                    h4,
                    h5 {
                        margin: 0;
                        color: $blue-100;
                    }
                }
                .consumible-action {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    margin-top: 1em;
                }
            }
            .consumible-features {
                display: flex;
                flex: 2;
                flex-direction: column;
                align-items: flex-start;
                gap: 2em;
                .consumible-items-container {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 1em;
                    align-self: stretch;
                    margin-top: 1em;
                    .consumible-item-card {
                        display: flex;
                        padding: 1em;
                        flex-direction: row;
                        align-items: center;
                        gap: 16px;
                        flex: 1 0 0;
                        align-self: stretch;
                        border-radius: 12px;
                        transition: transform 0.3s ease-in-out;
                        width: 100%;
                        border: 1px solid $gray-200;
                        background-color: $white;
                        i {
                            font-size: 24px;
                        }
                        p {
                            margin: 0;
                            color: $text;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}

.consumible-deals {
    background-color: $white;
    .promotion-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1em;
        margin-bottom: 1em;
        border-bottom: 1px solid $gray-200;
        .promotion-title-container {
            margin-bottom: 8px;
            .section-title {
                font-weight: 600;
                color: $text;
                margin: 0;
            }
            .section-subtitle {
                font-weight: 500;
                color: $secondary-text;
                margin: 0;
            }
        }
        .promotion-links {
            display: flex;
            gap: .5em;
            @media (max-width: 768px) {
                width: 100%;
                button {
                    width: 100%;
                }
            }
        }
    }
}

.servicio {
    min-height: 700px;
    overflow: hidden;
    background-color: $light-50;
    // background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../../assets/img/home/soluciones-servicios/consumibles.jpg');
    background-size: cover;
    background-position: center;
    .servicio-container {
        display: flex;
        flex-direction: column;
        gap: 1em;
        @media(min-width: 768px) {
            flex-direction: row;
            min-height: 810px;
        }
        .servicio-body {
            display: flex;
            flex-direction: column;
            gap: 2em;
            .servicio-title {
                display: flex;
                align-items: flex-start;
                align-self: stretch;
                @media(min-width: 992px) {
                    flex-direction: column;
                    // border: none;
                }
                h1 {
                    font-weight: 600;
                    color: $text;
                    margin: 0;
                }
            }
            .servicio-content {
                display: flex;
                flex-direction: column;
                gap: 3em;
                max-width: 600px;
                .servicio-item {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    flex-direction: row;
                    transition: all 0.3s ease;
                    .icon-container {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $gray-100;
                        border-radius: 50px;
                        padding: 1em;
                        transition: background-color 0.3s ease; // Smooth transition for background and border changes
                        i {
                            font-size: 32px;
                            transition: color 0.3s ease;
                        }
                    }
                    .servicio-item-body {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;
                        .servicio-item-title {
                            h2 {
                                font-weight: 500;
                                margin-top: .5em;
                                @media(min-width: 768px) {
                                    margin-top: 0;
                                }
                            }
                        }
                        .servicio-item-content {
                            display: none;
                            transition: display 0.9s ease, margin 0.3s ease; // Transition for display and margin changes, though display property cannot be animated
                        }
                        .servicio-item-action {
                            display: none;
                            transition: display 0.9s ease, margin 0.3s ease; // Transition for display and margin changes, though display property cannot be animated
                        }
                    }
                    &:hover,
                    &.active {
                        align-items: flex-start;
                        .icon-container {
                            i {
                                color: $primary-color;
                            }
                        }
                        .servicio-item-content {
                            display: block;
                            margin: 0;
                        }
                        .servicio-item-action {
                            display: block;
                            margin: 0;
                        }
                        .servicio-item-title {
                            h2 {
                                font-weight: 600;
                            }
                        }
                    }
                    @media(max-width: 768px) {
                        // background-color: $gray-50;
                        // border-radius: $border-radius;
                        // border: 1px solid $light-200;
                        flex-direction: column;
                        padding: 1em 0px;
                        gap: 0em;
                    }
                }
            }
        }
        .servicio-content-image {
            .servicio-image {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                @media(min-width: 768px) {
                    max-width: 680px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: 45% 0%;
                    border-radius: $border-radius;
                    @media(max-width: 768px) {
                        // max-width: 500px;
                        // height: 500px;
                    }
                }
            }
        }
    }
}

.equipos {
    background-color: $gray-50;
    position: relative;
    z-index: 1;
    .equipos-container {
        display: flex;
        width: 100%;
        .equipos-body {
            display: flex;
            flex-direction: column;
            // flex: 0;
            gap: 1em;
            min-width: 0px;
            position: relative;
            z-index: 2;
            width: 100%;
            @media(min-width: 1024px) {
                max-width: 600px;
            }
            .equipos-title {
                display: flex;
                align-items: flex-start;
                align-self: stretch;
                @media(min-width: 992px) {
                    flex-direction: column;
                    // border: none;
                }
                h1 {
                    font-weight: 600;
                    color: $text;
                    margin: 0;
                }
            }
            .equipos-content {
                display: flex;
                flex-direction: column;
                margin-top: 1em;
                gap: 1em;
                .equipos-item {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    flex-direction: row;
                    background-color: $white;
                    border: 1px solid $gray-300;
                    border-radius: 12px;
                    padding: 1em;
                    i {
                        font-size: 24px;
                        color: $success-color;
                    }
                    p {
                        font-weight: 400;
                        color: $text;
                        margin: 0;
                    }
                    @media(max-width: 768px) {
                        gap: 1em;
                    }
                    &:hover {
                        border: 1px solid $success-color;
                        // p {
                        //     font-weight: 500;
                        // }
                    }
                }
                @media(min-width: 768px) {
                    gap: 1em;
                }
            }
            .equipos-action {
                margin-top: 1em;
                width: 100%;
                @media(max-width: 768px) {
                    button {
                        width: 100%;
                    }
                }
            }
            .equipos-content-image-mobile {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                margin: 2em 0em;
                // width: 100%;
                .equipos-image {
                    width: 500px;
                    height: 500px;
                    @media(min-width: 768px) {
                        width: 600px;
                        height: 600px;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: 0% 15%;
                        border-radius: $border-radius;
                    }
                }
                .product-info-card {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    border: 1px solid $gray-300;
                    background-color: $gray-50;
                    border-radius: $border-radius;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                    .product-info-card-header {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 8px;
                        padding: 1em;
                        border-bottom: 1px solid $gray-300;
                        .product-info-card-title {
                            font-weight: 600;
                            margin: 0;
                        }
                        .product-info-card-chip {
                            padding: 4px 8px;
                            border: 1px solid $orange-500;
                            color: $orange-500;
                            background-color: $orange-50;
                            border-radius: 50px;
                            font-size: 12px;
                            font-weight: 600;
                            margin: 0;
                        }
                    }
                    .product-info-card-body {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;
                        padding: 1em;
                        border-radius: 0px 0px $border-radius $border-radius;
                        background-color: $white;
                        .product-info-card-item {
                            display: flex;
                            flex-direction: column;
                            .product-info-card-item-title {
                                color: $gray-700;
                                font-size: 14px;
                                font-weight: 500;
                                margin: 0;
                            }
                            .product-info-card-item-content {
                                font-size: 12px;
                                font-weight: 500;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
        .equipos-content-image {
            display: flex;
            justify-content: center;
            margin: 1em 0em;
            width: 100%;
            .equipos-image {
                width: 500px;
                height: 500px;
                overflow: hidden;
                margin-left: 1em;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: 0% 15%;
                    border-radius: $border-radius;
                }
            }
            .product-info-card {
                position: absolute;
                bottom: 20%;
                right: 12%;
                border: 1px solid $gray-300;
                background-color: $gray-50;
                border-radius: $border-radius;
                // width: 180px;
                // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                .product-info-card-header {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 8px;
                    padding: 1em;
                    border-bottom: 1px solid $gray-300;
                    position: relative;
                    z-index: 1;
                    .product-info-card-title {
                        font-weight: 600;
                        margin-top: 8px;
                        margin-bottom: 0px;
                    }
                    .product-info-card-chip {
                        position: absolute;
                        left: 10px;
                        top: -14px;
                        padding: 4px 8px;
                        border: 1px solid $orange-500;
                        color: $orange-500;
                        background-color: $orange-50;
                        border-radius: 50px;
                        font-size: 12px;
                        font-weight: 600;
                        margin: 0;
                    }
                }
                .product-info-card-body {
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    padding: 1em;
                    border-radius: 0px 0px $border-radius $border-radius;
                    background-color: $white;
                    .product-info-card-item {
                        display: flex;
                        flex-direction: column;
                        .product-info-card-item-title {
                            color: $gray-700;
                            font-size: 14px;
                            font-weight: 500;
                            margin: 0;
                        }
                        .product-info-card-item-content {
                            font-size: 12px;
                            font-weight: 500;
                            margin: 0;
                        }
                    }
                }
            }
            @media(min-width: 768px) {
                margin: 0em;
            }
        }
    }
}

.equipos-deals {
    background-color: $white;
    .promotion-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1em;
        margin-bottom: 1em;
        border-bottom: 1px solid $gray-200;
    }
    .promotion-links {
        display: flex;
        gap: .5em;
        @media (max-width: 768px) {
            width: 100%;
            button {
                width: 100%;
            }
        }
    }
    .promotion-title-container {
        margin-bottom: 8px;
        .section-subtitle {
            color: $secondary-text;
            font-weight: 500;
            margin: 0;
        }
    }
}

.software {
    overflow: hidden;
    background-color: $light-50;
    background-size: cover;
    background-position: center;
    .software-container {
        padding: 3em 1em;
        @media(min-width: 768px) {
            padding: 4em 0em;
            flex-direction: row;
            gap: 0em;
        }
        .software-body {
            display: flex;
            flex-direction: column;
            gap: 1em;
            .software-header {
                display: flex;
                flex-direction: column;
                gap: .5em;
                .software-title {
                    margin: 0;
                    color: $text;
                }
                .software-subtitle {
                    color: $secondary-text;
                    font-weight: 500;
                }
            }
            .software-content {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
                gap: 2em;
                margin-top: 1em;
                .software-card {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 100%;
                    background-color: $white;
                    border-radius: $border-radius;
                    flex: 1 0 auto;
                    width: 100%;
                    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                    #ysoft {
                        height: 40px;
                    }
                    .software-card-image {
                        padding: 0em 1em;
                        margin: 1em 0em;
                        width: 100%;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 150px;
                            max-height: 50px;
                        }
                    }
                    .software-card-text {
                        color: $text;
                        font-weight: 500;
                        text-align: center;
                        padding: 0em 1em;
                        margin-bottom: .5em;
                        @media(min-width: 768px) {
                            // min-height: 80px;
                        }
                    }
                    .software-card-list {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        border-radius: 0px 0px $border-radius $border-radius;
                        min-height: calc(90px * 4);
                        .item {
                            display: flex;
                            align-items: center;
                            gap: 1em;
                            padding: 0.5em 1em;
                            min-height: 90px;
                            border-top: 1px solid $gray-300;
                            i {
                                font-size: 1.5em;
                                color: $gray-500;
                            }
                            &:first-child {
                                // border-top: 0px;
                            }
                            &:last-child {
                                border-radius: 0px 0px $border-radius $border-radius;
                                // border-bottom: 1px solid $gray-300;
                            }
                            &:hover {
                                background-color: $gray-50;
                            }
                        }
                    }
                    .software-card-actions {
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        padding: 1em;
                    }
                }
            }
            @media (max-width: 600px) {
                .software-content {
                    grid-template-columns: 1fr;
                }
            }
            @media (min-width: 601px) and (max-width: 1024px) {
                .software-content {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
            @media (min-width: 1025px) {
                .software-content {
                    grid-template-columns: repeat(4, 1fr);
                }
            }
        }
    }
}

#consumibleStock {
    i {
        color: $info-color-hover;
    }
}

#consumiblePrecio {
    i {
        color: $success-color-hover;
    }
}

#consumibleEnvio {
    i {
        color: $danger-color-hover;
    }
}

.link-wrap {
    position: fixed;
    width: calc(100% - 30px);
    bottom: 10px;
    left: 15px;
    z-index: 9999;
}

.box-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .swiper-container {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        z-index: 1;
        // height: 100%;
        .swiper-slide {
            background-color: transparent;
        }
    }
}

.product-swiper-next-btn {
    position: absolute;
    top: 28%;
    right: 0;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
    @media(min-width: 1024px) {
        opacity: 1;
        visibility: visible;
    }
}

.category-card {
    height: auto;
    width: 100%;
    background-color: #fff;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #CBD5E1;
    cursor: pointer;
    &:hover {
        .body {
            #translate-icon {
                transition: transform .2s ease-in-out;
                transform: translate(5px);
            }
            background: #ebedf0;
        }
    }
    .image {
        background-color: #fff;
        width: 100%;
        max-height: 250px;
        border-radius: 6px 6px 0px 0px;
        overflow: hidden;
        display: flex;
        img {
            object-fit: scale-down;
            width: 100%;
            height: 200px;
        }
    }
    .body {
        /* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 17.5px;
        gap: 7px;
        width: 100%;
        height: 60px;
        /* light-50 */
        background: #F8FAFC;
        border-top: 1px solid #CBD5E1;
        border-radius: 0px 0px 6px 6px;
        /* Inside auto layout */
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        .title {
            color: #1E293B;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
        }
        // &:hover {
        //     #translate-icon {
        //         transition: transform .2s ease-in-out;
        //         transform: translate(5px);
        //     }
        //     background: #ebedf0;
        // }
    }
}

.products-body {
    display: flex;
    flex-direction: column;
    gap: 1em;
    transition: max-height 0.3s ease-in-out,
}

.product-wrapper {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    gap: 2em;
}

.product-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
    width: 100%;
    max-width: 600px;
    &.active {
        .list-container {
            max-height: 100%;
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.list-header {
    padding: .5em 0em;
    border-bottom: 1px solid $gray-300;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    &:hover {
        // background-color: $gray-50;
        border-bottom: 1px solid $primary-color;
    }
    .icon-dropdown {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0em 0.5em;
        i {
            transition: transform 0.3s ease-in-out;
        }
        .rotate {
            transform: rotate(180deg);
            transition: transform 0.3s ease-in-out;
        }
    }
}

.product-title {
    font-weight: 600;
    color: $text;
}

.list-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    max-height: 0;
    overflow: hidden;
    transition: transform 1s ease-in-out, max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateY(-100%);
    opacity: 0;
    position: relative;
    z-index: 1;
}

.list {
    display: flex;
    flex-direction: column;
    gap: .5em;
    // border-right: 1px solid $gray-300;
    min-width: 150px;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            font-weight: 500;
            color: $secondary-text;
            padding: .2em 0em;
            &:hover {
                color: $text;
            }
        }
    }
}

#clients {
    background-color: $blue-800;
}

.clients-header {
    display: flex;
    flex-direction: column;
    gap: .5em;
    .clients-title {
        margin: 0;
        color: $white;
    }
    .clients-subtitle {
        color: $blue-100;
        font-weight: 500;
    }
}

.clients-container {
    margin-top: 2em;
    --gap: 1rem;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.clients-list {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: slideClients 60s linear infinite;
    &.reverse {
        animation: slideClientsReverse 60s linear infinite;
    }
    .client {
        flex: 0 0 auto; // Flex items don't grow or shrink but remain at their auto size
        border-radius: $border-radius;
        border: 1px solid $blue-700;
        height: 200px;
        i {
            text-align: center;
            font-size: 2.5em;
            color: $green-500;
        }
        span {
            color: $text;
            font-weight: 500;
            text-align: center;
            padding: .5em;
            min-height: 65px;
        }
        .client-logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 100%;
            img {
                max-width: 150px;
                height: auto;
                object-fit: contain;
            }
        }
        &:hover {
            border: 1px solid $primary-color;
        }
    }
}

.semex {
    width: 100px !important;
}

.vitro {
    width: 180px !important;
}

@keyframes slideClients {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-50%); // Adjusted to -50% for the halfway point
    }
    100% {
        transform: translateX(-100%); // Ends when the duplicated content starts
    }
}

@keyframes slideClientsReverse {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}


/* Pause animation when reduced-motion is set */

@media (prefers-reduced-motion: reduce) {
    .clients-list {
        animation-play-state: paused !important;
    }
}

.displayNone {
    display: none !important;
}