@import "../../../variables";

.contact-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../../assets/img/contacto/mobile-phone-woman-s-hand-indoor-image.jpg");
  background-size: cover;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  height: 300px;
  padding: 64px;
  .banner-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    h1 {
      color: $white;
      font-size: 40px;
      font-weight: 600;
    }
    p {
      color: $gray-200;
      font-weight: 500;
      margin: 0;
    }
  }
}

.contact-container {
  position: relative;
  width: 100%;
  max-width: $grid-max-width;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0 $p-2;
  @media (min-width: 768px) {
    padding: 0 $p-4;
  }
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 0rem;

  @media (min-width: 768px) {
    align-items: flex-start;
    flex-direction: row;
    padding: 2rem 0rem;
    gap: 2rem;
  }
}

.contact-form {
  max-width: 768px; // Set maximum width
  margin-bottom: 1rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.subtitle {
  color: $gray-500;
  margin: 0;
}

.contact-cards {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-top: 1rem;
}

.contact-card {
  height: fit-content;
  min-width: 300px;
  border: 1px solid $gray-300;
  border-radius: $border-radius;

  .contact-card-title {
    font-weight: 600;
    color: $gray-500;
    margin-bottom: 1rem;
  }

  .contact-card-content {
    display: flex;
    flex-wrap: wrap;

    .contact-data-container {
      padding: 1rem;
      flex: 1 1 33.33%; // 1/3 of the width
      min-width: 300px;
    }

    .contact-card-map {
      flex: 2 1 66.67%; // 2/3 of the width
      width: 100%;

      iframe {
        width: 100%;
        height: 100%; // Make iframe fill the parent div
        border: 0; // Remove border if any
      }
    }

    @media (max-width: 768px) {
      .contact-data-container,
      .contact-card-map {
        flex: 1 1 100%; // Full width on smaller screens
        width: 100%;
      }
    }
  }
}

.contact-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.75rem;
  gap: 0.5rem;
  i {
    margin-right: 10px;
  }
  p {
    margin-bottom: 0;
    color: $text;
    font-weight: 400;
    &:hover {
      color: $primary-color;
    }
  }
  a {
    text-decoration: none;
  }
}
