<div class="contact-banner">
  <div class="banner-content">
    <h1>Contacto</h1>
    <p>Resolvemos tus dudas con rapidez y confianza.</p>
  </div>
</div>
<div class="contact-container">
  <div class="contact-form">
    <h2 class="title">Conecta con Nosotros</h2>
    <p class="subtitle">
      Contáctanos para cotizaciones, soporte o asesoría en la compra o renta de
      copiadoras. ¡Estamos aquí para ayudarte!
    </p>
    <contact-email-form></contact-email-form>
  </div>

  <div class="contact-info">
    <h2 class="title">Información de Contacto</h2>
    <p class="subtitle">
      Estamos disponibles por teléfono, correo o en nuestra ubicación física.
    </p>
    <div class="contact-cards">
      <div class="contact-card">
        <div class="contact-card-content">
          <div class="contact-data-container">
            <h4 class="contact-card-title">Monterrey</h4>
            <div class="contact-data">
              <i class="pi pi-phone"></i>
              <a href="tel:8181143827"><p>8181143827</p></a>
            </div>
            <div class="contact-data">
              <i class="pi pi-whatsapp"></i>
              <a href="https://wa.me/521816360234"><p>8116360234</p></a>
            </div>
            <div class="contact-data">
              <i class="pi pi-envelope"></i>
              <a href="mailto:contacto@fixsell.mx"
                ><p>contacto&#64;fixsell.mx</p></a
              >
            </div>
            <div class="contact-data">
              <i class="pi pi-map-marker"></i>
              <a
                href="https://maps.app.goo.gl/pJpSri8ju7nf1Kyz6"
                target="_blank"
              >
                <p>Platón Sánchez 721 Col. Centro <br />Monterrey 64000</p>
              </a>
            </div>
          </div>
          <div class="contact-card-map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3595.7205089249114!2d-100.3046020237515!3d25.68055807740294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662957edf778a29%3A0x9e9f35ba51f9c55e!2sFixsell%20del%20Norte%20S.A%20de%20C.V.!5e0!3m2!1ses-419!2sus!4v1731544364753!5m2!1ses-419!2sus"
              width="100%"
              height="100%"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>
      <div class="contact-card">
        <div class="contact-card-content">
          <div class="contact-data-container">
            <h4 class="contact-card-title">CDMX</h4>
            <div class="contact-data">
              <i class="pi pi-phone"></i>
              <a href="tel:5567946325"><p>5567946325</p></a>
            </div>
            <div class="contact-data">
              <i class="pi pi-whatsapp"></i>
              <a href="https://wa.me/5218116360234"><p>8116360234</p></a>
            </div>
            <div class="contact-data">
              <i class="pi pi-envelope"></i>
              <a href="mailto:contactocdmx@fixsell.mx"
                ><p>contactocdmx&#64;fixsell.mx</p></a
              >
            </div>
            <div class="contact-data">
              <i class="pi pi-map-marker"></i>
              <a
                href="https://www.google.com/maps/search/?api=1&query=Camino+Real+de+Calacoaya+52A,+Ciudad+López+Mateos+52990"
                target="_blank"
              >
                <p>
                  Camino Real de Calacoaya 52A <br />Ciudad López Mateos 52990
                </p>
              </a>
            </div>
          </div>
          <div class="contact-card-map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3760.1757361316613!2d-99.2405345!3d19.534067399999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d21cda0818bf99%3A0x1704f7f8ffd5c18c!2sCam.%20Real%20de%20Calacoaya%2052A%2C%20Issemym%2C%2052996%20Cdad.%20L%C3%B3pez%20Mateos%2C%20M%C3%A9x.%2C%20M%C3%A9xico!5e0!3m2!1ses-419!2sus!4v1732045564336!5m2!1ses-419!2sus"
              width="100%"
              height="100%"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="contact-map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3595.7205089249114!2d-100.3046020237515!3d25.68055807740294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662957edf778a29%3A0x9e9f35ba51f9c55e!2sFixsell%20del%20Norte%20S.A%20de%20C.V.!5e0!3m2!1ses-419!2sus!4v1731544364753!5m2!1ses-419!2sus"
      width="100%"
      height="100%"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div> -->
</div>
