<div class="product-card">
  <div
    class="product-card-container"
    [routerLink]="['/consumables', consumible.id]"
    (click)="logPrinter()"
  >
    <div class="product-image-wrap">
      <div class="product-feature-image">
        <img [src]="consumible.img_url[0]" alt="" class="product-image" />
      </div>
    </div>
    <div class="product-info">
      <div class="product-info-col">
        <div
          class="product-brand"
          [innerHTML]="consumible.brand | productBrand"
        ></div>
        <p class="product-name">{{ consumible.name }}</p>
        <div class="product-tags">
          <div [innerHTML]="consumible.rentable"></div>
          <div class="tag">
            <div class="tag-title">{{ consumible.category }}</div>
          </div>
        </div>
        <div class="product-features">
          <div class="feature" [ngSwitch]="consumible.color">
            <div *ngSwitchCase="'K'" class="circle black"></div>
            <div *ngSwitchCase="'C'" class="circle cyan"></div>
            <div *ngSwitchCase="'M'" class="circle magenta"></div>
            <div *ngSwitchCase="'Y'" class="circle yellow"></div>
            <p class="Color">{{ consumible.color }}</p>
          </div>
          <div class="feature">
            <i class="pi pi-verified"></i>
            <p class="OEM">
              {{ consumible.origen }}
            </p>
          </div>
          <!-- yield feature -->
          <div class="feature">
            <i class="pi pi-print"></i>
            <p class="Yield">
              {{ consumible.yield }}
            </p>
          </div>
        </div>
        <div class="product-action">
          <span>Conoce más</span>
          <!-- <i class="pi pi-arrow-right" style="color: white; font-size: .95rem;"></i> -->
        </div>
      </div>
    </div>
  </div>
</div>
