<section>
  <div class="product-section">
    <div class="grid-section">
      <div class="product-image-container">
        <div class="product-image-inner">
          <div class="product-image">
            <div class="thumbs-swiper-container">
              <div class="thumbsSwiper">
                <div class="thumbsSwiper-slide"></div>
                <div class="thumbsSwiper-slide"></div>
                <div class="thumbsSwiper-slide"></div>
              </div>
            </div>
            <div class="main-swiper-container">
              <div class="mainSwiper">
                <div class="mainSwiper-slide"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-info-container">
        <div class="product-info-column">
          <div class="product-info-inner">
            <div class="product-info-block heading-block">
              <div class="product-header">
                <div class="product-brand"></div>
                <div class="product-title"></div>
                <div class="product-tags">
                  <div class="tag"></div>
                  <div class="tag"></div>
                  <div class="tag"></div>
                </div>
              </div>
            </div>
            <div class="product-price-container">
              <div class="product-deal-price-container">
                <div class="product-deal-price"></div>
                <div class="product-discount"></div>
              </div>
              <div class="product-price"></div>
            </div>
            <div class="actions-container">
              <div class="action-button"></div>
              <div class="action-button"></div>
            </div>
            <div class="product-info-block">
              <div class="product-description"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
