<section class="hero-background">
    <div class="container h-100">
        <div class="row row-align-hero">
            <div class="col-12 col-md-6 my-sm-5 my-3" id="hero-message-container">
                <div class="col-12">
                    <div class="hero-title-container"><h1 class="hero-title">Llevando tu <span style="color: #3C81F6; font-weight: 600;">productividad</span> al máximo</h1></div>
                    <p class="hero-message mt-3">Expertos en servicios de impresión y gestión documental en el ámbito profesional y corporativo.</p>
                </div>
                <div class="col-12 mt-4">
                    <div class="action-container">
                        <button pButton type="button" label="Ver productos" class="p-button-raised p-button-rounded"></button>
                        <button pButton type="button" label="Agenda una demo" class="p-button-raised p-button-secondary p-button-rounded"></button>
                    </div>
                </div>
                <div class="col-12 d-none d-sm-block mt-5" id="proveedores">
                    <div class="d-flex justify-content-around">
                        <img src="../../../assets/svg/home/proveedores/konica_minolta.svg" alt="konica_minolta">
                        <img src="../../../assets/svg/home/proveedores/epson.svg" alt="epson">
                        <img src="../../../assets/svg/home/proveedores/kyocera.svg" alt="kyocera">
                        <img src="../../../assets/svg/home/proveedores/papercut.svg" alt="papercut">
                        <img src="../../../assets/svg/home/proveedores/ysoft.svg" alt="ysoft">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 overflow-hidden">
                <img src="assets/img/png/hero-image.png" alt="printers and plotter" class="img-fluid hero-image">
            </div>
            <!-- <img src="assets/img/png/hero-image.png" alt="printers and plotter" class="img-fluid hero-image"> -->
            <!-- <div class="col-12  mb-5">
                <div class="action-container">
                    <button pButton type="button" label="Ver productos" class="p-button-raised p-button-rounded w-100"></button>
                    <button pButton type="button" label="Agenda una demo" class="p-button-outlined p-button-rounded mt-2 w-100"></button>
                </div>
            </div> -->
        </div>
    </div>
</section>

<section class="section-content" id="categorias">
    <div class="container py-5">
        <div class="row pb-3 justify-content-center">
            <h1 class="section-title">Categorías</h1>
        </div>
        <div class="row">
            <p-carousel [value]="categories" [numVisible]="1" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions">
                <ng-template let-category pTemplate="item">
                    <div class="category-card">
                        <div class="image">
                            <img [src]="category.img" alt="category.name">
                        </div>
                        <div class="body">
                            <h4 class="title mb-0">{{category.name}}</h4>
                            <i class="pi pi-arrow-right" id="translate-icon"></i>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
</section>

<section class="section-content light-50" id="soluciones">
    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <h1 class="section-title mb-2">Soluciones & Servicios</h1>
                <p class="section-description mb-2">
                    Benefíciate de las ideas inteligentes, menores costes, mayor productividad. Elige entre las impresoras, las soluciones de software y los consumibles galardonados.
                </p>
            </div>
        </div>
        <div class="row mt-3">
            <p-tabView>
                <p-tabPanel header="Equipos de Impresión">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="tab-image">
                                <img src="../../../assets//img//png/home/soluciones-servicios/equipos-de-impresion.png" alt="equipos-de-impresion">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mt-3">
                            <div class="row tab-container">
                                <div class="col-12 tab-content">
                                    <p>Utiliza equipos de impresión con la tecnología más avanzada para mejorar los tiempos, calidad y presupuestos que facilíten los flujos de trabajo para tu negocio en tareas de impresión.</p>
                                    <ul>
                                        <li>Renta</li>
                                        <li>Venta</li>
                                        <li>Artes Graficas</li>
                                    </ul>
                                </div>
                                <div class="col-12 col-md-6 align-self-end">
                                    <button pButton type="button" label="Ver más" class="p-button-raised p-button-rounded w-100"></button>
                                </div>
                            </div>
                        </div>
                    </div>

                </p-tabPanel>
                <p-tabPanel header="Servicio Técnico">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="tab-image">
                                <img src="../../../assets//img//png/home/soluciones-servicios/tecnico-arreglando-copiadora.jpg" alt="tecnico-arreglando-copiadora">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mt-3">
                            <div class="row tab-container">
                                <div class="col-12 tab-content">
                                    <ul>
                                        <li>Reparación de equipos de impresión.</li>
                                        <li>Mantenimiento preventivo para extender la duración y el buen funcionamiento de su equipo de impresión.</li>
                                        <li>Mantenimiento Correctivo para componer cualquier tipo de falla, error o desperfecto que presente su equipo, contamos con un extenso inventario en refacciones, piezas y consumibles.</li>
                                        <li>Pólizas de servicio técnico todo incluido.</li>
                                    </ul>
                                </div>
                                <div class="col-12 col-md-6 align-self-end">
                                    <button pButton type="button" label="Ver más" class="p-button-raised p-button-rounded w-100"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Gestión documental">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="tab-image">
                                <img src="../../../assets//img//png/home/soluciones-servicios/document-administration.jpg" alt="documentos">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mt-3">
                            <div class="row tab-container">
                                <div class="col-12 tab-content">
                                    <p>Digitaliza y asegura tu información para compartirla exitosamente. Aumenta tu productividad, almacena tu archivo histórico, asigna jerarquías, autoriza vía remota, o encuentra documentos con pocos clics desde cualquier
                                        lugar, en cualquier dispositivo y en cualquier momento.</p>
                                </div>

                                <div class="col-12 col-md-6 align-self-end">
                                    <button pButton type="button" label="Ver más" class="p-button-raised p-button-rounded w-100"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Consumibles">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="tab-image">
                                <img src="../../../assets//img//png/home/soluciones-servicios/consumibles.jpg" alt="consumible">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mt-3">
                            <div class="row tab-container">
                                <div class="col-12 tab-content">
                                    <p>Determinantes para el proceso de impresión ya que sin los mismos las impresoras no funcionaran. </p>
                                    <ul>
                                        <li>Tóner</li>
                                        <li>Refacciones</li>
                                    </ul>
                                </div>
                                <div class="col-12 col-md-6 align-self-end">
                                    <button pButton type="button" label="Ver más" class="p-button-raised p-button-rounded w-100"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</section>

<section class="section-content dark-blue-secondary" id="clientes">
    <div class="container py-5">
        <div class="row mb-3">
            <div class="col-12">
                <div class="subheader">
                    <h2>Nuestros principales clientes</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p-carousel [value]="clients" [numVisible]="1" [numScroll]="1" [autoplayInterval]="3000" [showNavigators]="false" [showIndicators]="false" [circular]="true" [responsiveOptions]="responsiveClientOptions" #clientCarousel>
                    <ng-template let-client pTemplate="item">
                        <div class="svg-container">
                            <img [src]="client.svg" alt="client.name">
                        </div>
                    </ng-template>
                </p-carousel>
            </div>
        </div>
    </div>
</section>

<section class="section-content" id="beneficios">
    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <h1 class="section-title">Principales Beneficios</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="panel">
                    <p-panel iconPos="end">
                        <ng-template pTemplate="header">
                            <p class="panel-header">Soluciones Personalizadas</p>
                        </ng-template>
                        <ng-template pTemplate="icons">
                            <button pButton class="p-panel-header-icon p-link">
                                <span class="pi pi-briefcase" style="color: #3C5A94; font-size: 1.5em;"></span>
                            </button>
                        </ng-template>
                        Contamos con gran variedad de equipos multifuncionales que se adapten a sus necesidades. Ayudándolo a eficientizar sus procesos de impresión y flujos de trabajo a un excelente costo.
                    </p-panel>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="panel">
                    <p-panel iconPos="end">
                        <ng-template pTemplate="header">
                            <p class="panel-header">Monitoreo de equipos 24/7</p>
                        </ng-template>
                        <ng-template pTemplate="icons">
                            <button pButton class="p-panel-header-icon p-link">
                                <span class="pi pi-desktop" style="color: #4f46e5; font-size: 1.5em;"></span>
                            </button>
                        </ng-template>
                        Con ayuda de software nos mantenemos al tanto sobre los estados de sus equipos ya sea nivel de tóner y vida útil de refacciones para poder brindarle un mejor servicio.
                    </p-panel>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="panel">
                    <p-panel iconPos="end">
                        <ng-template pTemplate="header">
                            <p class="panel-header">Servicio al cliente</p>
                        </ng-template>
                        <ng-template pTemplate="icons">
                            <button pButton class="p-panel-header-icon p-link">
                                <span class="pi pi-user" style="color: #0d9488; font-size: 1.5em;"></span>
                            </button>
                        </ng-template>
                        Cubrimos las necesidades del cliente y tenemos la infraestructura para darle un servicio de calidad con mejores tiempos de respuesta.
                    </p-panel>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="panel">
                    <p-panel iconPos="end">
                        <ng-template pTemplate="header">
                            <p class="panel-header">Servicio Técnico</p>
                        </ng-template>
                        <ng-template pTemplate="icons">
                            <button pButton class="p-panel-header-icon p-link">
                                <span class="pi pi-cog" style="color: #475569; font-size: 1.5em;"></span>
                            </button>
                        </ng-template>
                        Técnicos certificados por las principales marcas que atienden su equipo para que extender la duración y el buen funcionamiento logrando óptimas condiciones.
                    </p-panel>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="panel">
                    <p-panel iconPos="end">
                        <ng-template pTemplate="header">
                            <p class="panel-header">Consumibles Garantizados</p>
                        </ng-template>
                        <ng-template pTemplate="icons">
                            <button pButton class="p-panel-header-icon p-link">
                                <span class="pi pi-shopping-bag" style="color: #ea580c; font-size: 1.5em;"></span>
                            </button>
                        </ng-template>
                        Suministro de consumibles y refacciones para garantizar siempre un funcionamiento de sus equipos.
                    </p-panel>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="panel">
                    <p-panel iconPos="end">
                        <ng-template pTemplate="header">
                            <p class="panel-header">Contratos Flexibles</p>
                        </ng-template>
                        <ng-template pTemplate="icons">
                            <button pButton class="p-panel-header-icon p-link">
                                <span class="pi pi-money-bill" style="color: #16a34a; font-size: 1.5em;"></span>
                            </button>
                        </ng-template>
                        Nos adaptamos a los consumos de cada cliente haciendo un contrato a la medida de sus necesidades.
                    </p-panel>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="panel">
                    <p-panel iconPos="end">
                        <ng-template pTemplate="header">
                            <p class="panel-header">Software para tu empresa</p>
                        </ng-template>
                        <ng-template pTemplate="icons">
                            <button pButton class="p-panel-header-icon p-link">
                                <span class="pi pi-database" style="color: #0891b2; font-size: 1.5em;"></span>
                            </button>
                        </ng-template>
                        Socios de negocio de las principales plataformas de gestión documental, flujos de trabajo, y digitalización.
                    </p-panel>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="panel">
                    <p-panel iconPos="end">
                        <ng-template pTemplate="header">
                            <p class="panel-header">Cobertura nivel nacional</p>
                        </ng-template>
                        <ng-template pTemplate="icons">
                            <button pButton class="p-panel-header-icon p-link">
                                <span class="pi pi-globe" style="color: #0284c7; font-size: 1.5em;"></span>
                            </button>
                        </ng-template>
                        Contamos con servicio en las principales ciudades de toda la república mexicana
                    </p-panel>
                </div>
            </div>
        </div>
    </div>
</section>