@import "src/styles.scss";

.hero-background {
    background: rgb(255, 255, 255);
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(223, 233, 243, 1) 100%);
    width: 100%;
    height: calc(100% - 50px);
}


.hero-title {
    font-size: 2.2em;
    font-weight: 600;
    line-height: 1;
    color: #475569;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 340px) { font-size: 3em;}

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) { font-size: 3.5em;}

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { font-size: 3.8em; }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) { font-size: 4em; }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) { font-size: 5em; }

}

.hero-message {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.3;
    color: #64748B;

        // Small devices (landscape phones, 576px and up)
        @media (min-width: 340px) { font-size: 1.25em;}

        // Small devices (landscape phones, 576px and up)
        @media (min-width: 576px) { font-size: 1.40em;}
}

.section-title {
    font-weight: 600;
    font-size: 2.2em;
    color: #64748b;
    text-align: center;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) { font-size: 2.5em;}

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { font-size: 3em; text-align: left;}

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) { font-size: 3.5em; }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) { font-size: 4em; }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) { font-size: 4em;}
}

.section-description {
    font-weight: 400;
    font-size: 1.25em;
    line-height: 1.3;
    color: #64748B;
    text-align: center;

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { text-align: left; font-size: 1.25em;}
}



.hero-image {
    position: relative;
    overflow: visible;
    width: 100%;
    // background-color: #434343;

    img {
        max-width: 100%;
        height: auto;
        object-fit: fill;
    }
}

.link-wrap {
    position: fixed;
    width: calc(100% - 30px);
    bottom: 10px;
    left: 15px;
    z-index: 9999;
}

.category-card {
    height: auto;
    width: 100%;
    background-color: #fff;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #CBD5E1;

    

    .image {
        
        background-color:#fff;
        width: 100%;
        height: 300px;
        border-radius: 6px 6px 0px 0px;
        overflow: hidden;
        display: flex;


        img {
            object-fit: cover;
            width: 100%;
            height: 300px;
        }
    }

    .body {
        /* Auto layout */

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 17.5px;
        gap: 7px;

        width: 100%;
        height: 60px;
        cursor: pointer;

        /* light-50 */

        background: #F8FAFC;
        border-top: 1px solid #CBD5E1;
        border-radius: 0px 0px 6px 6px;

        /* Inside auto layout */

        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;

        
    

        .title {
            color: #1E293B;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
        }

        
    }
}

#translate-icon {
    transition: transform .1s ease-out;

    &:hover {
        transform: translate(10px);
    }
}

:host  ::ng-deep .p-carousel-item{
    max-height: 100%;
    padding: 10px;
}
 

:host  ::ng-deep .p-carousel-indicator{
   .p-link {
    border-radius: 50% !important;
    height: .8rem !important;
    width: .8rem !important;
   }
}

:host  ::ng-deep p-tabview.p-element {
    .p-tabview.p-component {
        border-radius: 6px;
        border: #dee2e6 1px solid;
    }
    .p-tabview-nav-container {
        border-radius: 6px 6px 0 0;
        
        
    }
    .p-tabview-panels {
        background-color: #fff;
    }
}

.tab-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;

    .tab-content {
        flex-grow: 4;
        p, li {
            font-size: 1em;
            line-height: 1.25em;
            // X-Large devices (large desktops, 1200px and up)
            @media (min-width: 1200px) { font-size: 1.2em; line-height: 1.5em;}
        }
    }

    .tab-action {
        
    }
}

.tab-image {
    img {
        border-radius: 10px;
        width: 100%;
    }
}

.light-50 {
    background-color: #f8f9fa;
}

.light-200 {
    background-color: #F8FAFC;
}

.indigo-500 {
    background-color: #6366F1;
}

.dark-blue-secondary {
    background-color: #172A3A;
}

.subheader {
    h4 {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    }
}

.svg-container {
    width: 100%;
    height: auto;

    img {
        width: 100px;
        height: 100px;
    }
}


.panel {
    margin-bottom: 20px;
}

:host  ::ng-deep p-panel {
    .p-panel-header {
        p {
            margin-bottom: 0;
            font-weight: 600;
            color: #1E293B;
        }
    
    }
    
    .p-panel-content {
        min-height: 160px;

        // Small devices (landscape phones, 576px and up)
        @media (max-width: 768px) { min-height: 100%;}
    }
    
}