@import "../../../../variables";
.chatbox-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 1em;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  i {
    color: $white;
    font-size: 1.8em;
  }
}

.chatbox {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 350px;
  background-color: $gray-50;
  border-radius: 10px;
  border: 1px solid $gray-200;
}

.chatbox-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid $gray-200;
}

.chatbox-header-avatar {
  display: flex;
  align-items: center;
  gap: 8px;
  .avatar-name {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
  }
  .avatar-icon {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $gray-100;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 24px;
      height: 24px;
    }
    &::after {
      position: absolute;
      bottom: 0;
      right: 0;
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $green-600;
    }
  }
}

.chatbox-header-close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    i {
      color: $red-500;
    }
  }
  i {
    font-size: 1.3em;
    color: $gray-500;
  }
}

.chatbox-body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: $white;
}

.chatbox-footer {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  padding: 10px;
  border-top: 1px solid $gray-200;
}

.message-form {
  width: 100%;
}

.message-input-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: $white;
  border: 1px solid $gray-200;
  border-radius: 50px;
  padding: 0.25rem;
  min-height: 50px;
  input {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
    margin-left: 0.5rem;
  }
  .chatbox-send-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 40px;
    background-color: $primary-color;
    color: $white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-sizing: border-box; // Add this line

    &:hover {
      background-color: $primary-color-hover;
    }
    i {
      font-size: 1em;
      width: 16px;
      height: 16px;
    }
  }
}

.messages-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.message {
  display: flex;
  align-items: flex-end;
  gap: 0.25rem;
}

.admin-message {
  justify-content: flex-start;
}

.user-message {
  justify-content: flex-end;
}

.message-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message-blob {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem 0.5rem 0.25rem 0.5rem;
  border-radius: 12px;
  background-color: $gray-100;
  color: $text;
  p {
    margin: 0;
  }
}

.message-time {
  font-size: 13px;
  color: $secondary-text;
  align-self: flex-end;
}

.user-message-time {
  color: $gray-100;
}

.admin-message-time {
  color: $secondary-text;
}

.admin-blob {
  align-self: flex-end;
  background-color: $gray-100;
  color: $text;
}

.user-blob {
  align-self: flex-start;
  background-color: $primary-color;
  color: $white;
}

.avatar {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: $gray-100;
  padding: 0.25rem;
}

.message-sender-name {
  font-weight: 500;
  color: $gray-600;
  font-size: 15px;
  margin-left: 0.25rem;
}

chat-lead-form {
  width: 100%;
}
