<button class="chatbox-button" (click)="toggleChatbox()">
  <i class="pi pi-comments"></i>
</button>

<div class="chatbox" [style.display]="showChatbox ? 'flex' : 'none'">
  <div class="chatbox-header">
    <div class="chatbox-header-avatar">
      <div class="avatar-icon">
        <img src="../../../../assets/logo/fixsell-logo-small.svg" alt="" />
      </div>
      <p class="avatar-name">Fixy</p>
    </div>
    <div class="chatbox-header-buttons">
      <button
        class="chatbox-header-close-button"
        (click)="showChatbox = !showChatbox"
      >
        <i class="pi pi-times"></i>
      </button>
    </div>
  </div>
  <div class="chatbox-body">
    <div id="messages-list" class="messages-list">
      <section
        class="message"
        [ngClass]="{
          'admin-message': message.senderId === 'Fixy',
          'user-message': message.senderId === 'user'
        }"
        *ngFor="let message of chatHistory"
      >
        <img
          *ngIf="message.senderId === 'Fixy'"
          [src]="message.avatarUrl"
          alt="{{ message.senderId }}'s avatar"
          class="avatar"
        />
        <div class="message-content">
          <h5 *ngIf="message.senderId === 'Fixy'">{{ message.senderId }}</h5>
          <div
            class="message-blob"
            *ngIf="message.messageType !== 'form'"
            [ngClass]="{
              'admin-blob': message.senderId === 'Fixy',
              'user-blob': message.senderId === 'user'
            }"
          >
            <p>{{ message.message }}</p>
            <time
              class="message-time"
              [ngClass]="{
                'admin-message-time': message.senderId === 'Fixy',
                'user-message-time': message.senderId === 'user'
              }"
              >{{ message.timestamp }}</time
            >
          </div>
          <div class="lead-success" *ngIf="message.messageType === 'form'">
            <div class="lead-form-item">
              <p class="lead-form-item-label">Nombre o Empresa</p>
              <p class="lead-form-item-data">{{ message.formData.name }}</p>
            </div>
            <div class="lead-form-item">
              <p class="lead-form-item-label">Teléfono</p>
              <p class="lead-form-item-data">{{ message.formData.phone }}</p>
            </div>
            <div class="lead-form-item">
              <p class="lead-form-item-label">Email</p>
              <p class="lead-form-item-data">{{ message.formData.email }}</p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <section class="message admin-message" style="margin-top: 0.5rem">
      <img
        src="https://fixsell-website-images.s3.amazonaws.com/fixsell-logos/fixsell-logo-small.svg"
        alt="Fixy avatar"
        class="avatar"
      />
      <div class="message-content">
        <h5 class="message-sender-name">Fixy</h5>
        <chat-lead-form
          class="fade-in"
          (leadCreated)="onLeadCreated($event)"
        ></chat-lead-form>
      </div>
    </section>
  </div>
  <div class="chatbox-footer">
    <!-- id message-form and message-input for functionality -->
    <!-- has to be inside the form.  -->
    <!-- Message Form -->
    <form id="message-form" class="message-form">
      <div class="message-input-container">
        <input
          type="text"
          id="message-input"
          placeholder="Escribe un mensaje..."
          autocomplete="off"
        />
        <button id="message-send" type="submit" class="chatbox-send-button">
          <i class="pi pi-send"></i>
        </button>
      </div>
    </form>
  </div>
</div>
