<section class="footer">
    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <img src="../../../assets/logo/logo-fixsell-grande.svg" alt="logo-fixsell">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <h4 class="footer-title">Acerca de Nosotros</h4>
                <p>Empresa dedicada a la venta, renta, servicio de equipos de impresión y gestión documental. Utilizando tecnologías de innovación para añadir valor a las empresas. </p>
                <div class="icons">
                    <i class="pi pi-facebook" style="font-size: 2rem"></i>
                    <i class="pi pi-linkedin ms-2" style="font-size: 2rem"></i>
                </div>
            </div>
            <p-divider class="d-block d-md-none"></p-divider>
            <div class="col-12 col-md-6 col-lg-2">
                <h4 class="footer-title">Mapa del Sitio</h4>
                <ul>
                    <li>Renta</li>
                    <li>Venta</li>
                    <li>Servicios</li>
                    <li>Consumibles</li>
                    <li>Promociones</li>
                    <li>Nosotros</li>
                </ul>
            </div>
            <p-divider class="d-block d-md-none"></p-divider>
            <div class="col-12 col-md-6 col-lg-3">
                <h4 class="footer-title">Contacto</h4>
                <div class="footer-contact-container">
                    <div class="wrap">
                        <h6 class="wrap-title">División Monterrey</h6>
                        <div class="wrap-item">
                            <i class="pi pi-phone"></i>
                            <p>8181143827</p>
                        </div>
                        <div class="wrap-item">
                            <i class="pi pi-whatsapp"></i>
                            <p>8116360234</p>
                        </div>
                        <div class="wrap-item">
                            <i class="pi pi-envelope"></i>
                            <p>contacto@fixsell.mx</p>
                        </div>
                        <div class="wrap-item">
                            <i class="pi pi-map-marker"></i>
                            <p>Platón Sánchez 721 Col. Centro, Monterrey 64000</p>
                        </div>
                    </div>
                    <div class="wrap">
                        <h6 class="wrap-title">División CDMX</h6>
                        <div class="wrap-item">
                            <i class="pi pi-phone"></i>
                            <p>5567946325</p>
                        </div>
                        <div class="wrap-item">
                            <i class="pi pi-whatsapp"></i>
                            <p>8116360234</p>
                        </div>
                        <div class="wrap-item">
                            <i class="pi pi-envelope"></i>
                            <p>contactocdmx@fixsell.mx</p>
                        </div>
                        <div class="wrap-item">
                            <i class="pi pi-map-marker"></i>
                            <p>Camino Real de Calacoaya 52A, Ciudad López Mateos 52990</p>
                        </div>
                    </div>
                </div>
            </div>
            <p-divider class="d-block d-md-none"></p-divider>
            <div class="col-12 col-md-6 col-lg-4">
                <h4 class="footer-title">Escríbenos</h4>
                <p>Mandanos un mensaje y uno de nuestros asesores se pondra en contacto contigo.</p>
                <div class="form-contact mt-3">
                    <span class="p-float-label">
                        <input id="float-input" type="text" pInputText class="w-100"> 
                        <label for="float-input">Nombre o Empresa</label>
                    </span>
                    <span class="p-float-label">
                        <p-inputNumber class="w-100"></p-inputNumber>
                        <label for="float-input">Teléfono</label>
                    </span>
                    <span class="p-float-label">
                        <input id="float-input" type="text" pInputText class="w-100"> 
                        <label for="float-input">Email</label>
                    </span>
                    <span class="p-float-label">
                        <textarea pInputTextarea class="w-100"></textarea> 
                        <label for="float-input">Mensaje</label>
                    </span>
                    <button pButton type="button" label="Enviar" class="p-button-raised p-button-rounded w-100 mt-3"></button>
                
                </div>
            </div>
        </div>
    </div>
</section>
<div class="footer-social text-center">
    <small class="text-white">Copyright © 2022 Fixsell del Norte - Aviso de Privacidad - Desarrollado por GCube</small>
</div>
