@import url("../../../../styles.scss");
.container-products {
    display: flex;
}

.products-row {
    display: flex;
    flex-direction: row;
    gap: 16px;
    // Medium devices (tablets, 768px and up)
    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.filter-col {
    width: 100%;
    // max-width: 300px;
    height: max-content;
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 768px) {
        max-width: 300px;
    }
    // @media (min-width: 768px) { ... }
    // @media (min-width: 992px) { ... }
    // @media (min-width: 1200px) { ... }
    // @media (min-width: 1400px) { ... }
}

.product-list-col {
    flex-grow: 1;
    background-color: #ffffff;
    width: 100%;
    /* Add your desired background color */
    z-index: 0;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* Center the spinner vertically */
}

.product-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
    /* Add spacing between product cards */
}

// .spinner-container {
//     width: 100%;
//     padding: 50px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }
// .product-list-container {
//     display: flex;
//     justify-content: center;
//     flex-direction: row;
//     flex-wrap: wrap;
//     width: 100%;
//     gap: 16px;
//     // padding: 1rem 0;
// }