@import '../../../../variables';
.container-products {
    display: flex;
    justify-content: center;
}

.products-row {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 16px 12px;
    margin: 0 auto;
    @media (max-width: 768px) {
        padding-left: 40px;
        padding-right: 40px;
    }
    @media (min-width: 1440px) {
        padding-left: 0;
        padding-right: 0;
        max-width: 1280px;
    }
}

.filter-col {
    width: 100%;
    // max-width: 300px;
    height: max-content;
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 768px) {
        max-width: 300px;
    }
    // @media (min-width: 768px) { ... }
    // @media (min-width: 992px) { ... }
    // @media (min-width: 1200px) { ... }
    // @media (min-width: 1400px) { ... }
}

.product-list-col {
    flex-grow: 1;
    background-color: #ffffff;
    width: 100%;
    /* Add your desired background color */
    z-index: 0;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* Center the spinner vertically */
}

.product-list-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    width: 100%;
    /* Add spacing between product cards */
}

.printer-product-card {
    width: calc(50% - 6px);
    min-height: 287px;
    border-radius: 6px;
    border: 0.50px #E2E8F0 solid;
    position: relative;
    background: $light-50;
    border-radius: 16px;
    margin-bottom: 20px;
    overflow: hidden;
    // width: calc(50% - 6px);
    // min-height: 287px;
    padding-bottom: 58px;
    @media(min-width: 768px) {
        width: calc(33.3% - 8px);
        min-height: 306px;
        margin-bottom: 16px;
    }
}

// .spinner-container {
//     width: 100%;
//     padding: 50px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }
// .product-list-container {
//     display: flex;
//     justify-content: center;
//     flex-direction: row;
//     flex-wrap: wrap;
//     width: 100%;
//     gap: 16px;
//     // padding: 1rem 0;
// }